<%= provide(:title, sanitize(@artist.artist_name) + " | Status #{@micropost.id}") %>
<div class="buffalo">

  <%= render 'artists/partials/artist_cover_image' %>

  <div class="delaware">

    <main class="main">

      <ul class="carolina">
        <li class="jersey"><%= link_to "timeline", artist_path(@artist) %></li>
        <li><%= link_to "shows", artist_shows_path(@artist) %></li>
        <li><%= link_to "videos", artist_videos_path(@artist) %></li>
      </ul>

      <div class="hedley">
        <%= link_to @artist.artist_name, artist_path(@artist) %>
      </div>

      <div class="harlem">
        <span class="winspear"><strong><%= "#{@artist.artist_name}" %></strong> posted <%= time_ago_in_words(@micropost.created_at) %> ago</span>
        <% if @artist == current_artist %>
      // <%= link_to "delete post", artist_micropost_path(@artist, @micropost), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete %></span>
        <% end %>
        <div class="winspear">
          <%= @micropost.content %>
        </div>
        <% if @micropost.link_url.present? %>
        <div class="winspear">
            <%= link_to "#{@micropost.link_url.split('/')[2]}", @micropost.link_url, data: { confirm: "#{@micropost.link_url} \n\nAre you sure?" } %>
        </div>
        <% end %>
        <% if @micropost.photo_url.present? %>
        <div class="northrup lincoln">
          <img srcset="<%= @micropost.photo_url %>" width="100%" height="auto" />
        </div>
        <% end %>

        <div class="lisbon" id="lisbon">

          <div class="micropost_votes">
            <%= render 'artists/partials/microposts/micropost_votes' %>
          </div>

          <span class="micropost_votes_count">
            <%= render 'artists/partials/microposts/micropost_votes_count' %>
          </span>
           //
          <a class="linden"><span class="comments_count"><%= render 'artists/partials/comments/comments_count' %></span></a>
        </div>

        <div class="walden">
          <div class="minnesota">

            <div class="comments_js">
              <%= render 'artists/partials/comments/comments' %>
            </div>

          </div>

          <div class="comments_form">
            <%= render 'artists/partials/comments/comments_form' %>
          </div>

        </div>
      </div>

    </main>

  </div>
</div>
<%= render 'partials/uni_footer' %>
