<%= provide(:title, sanitize(@artist.artist_name) + " | Status #{@micropost.id}") %>
<div class="buffalo">
  <% if @artist.artist_profile.cover_image == "" %>
    <div class="clinton">
      <% if artist_signed_in? && @artist.id == current_artist.id %>
        you do not have a cover image yet
      <% else %>
        <%= "#{@artist.artist_name} hasn't uploaded a cover photo yet" %>
      <% end %>
    </div>
  <% else %>
  <div class="broadway">
    <img srcset="<%= @artist.artist_profile.cover_image %>" width="100%" height="auto" />
  </div>
  <% end %>
  <div class="delaware">
    <div class="hedley winspear">
      <%= link_to @artist.artist_name, artist_path(@artist) %>
    </div>

    <div class="harlem">
      <span class="winspear"><strong><%= "#{@artist.artist_name}" %></strong> posted <%= time_ago_in_words(@micropost.created_at) %> ago</span>
      <% if @artist == current_artist %>
    // <%= link_to "delete post", artist_micropost_path(@artist, @micropost), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete %></span>
      <% end %>
      <div class="winspear">
        <%= @micropost.content %>
      </div>

      <div class="lisbon">

        <% if fan_signed_in? && current_fan.artist_micropost_voted?(@micropost) %>
          <%= button_to "−", artist_micropost_vote_path, method: :delete, class: "linwood" %>
        <% elsif artist_signed_in? && current_artist.artist_micropost_voted?(@micropost) %>
          <%= button_to "−", artist_micropost_vote_path, method: :delete, class: "linwood" %>
        <% elsif record_label_signed_in? && current_record_label.artist_micropost_voted?(@micropost) %>
          <%= button_to "−", artist_micropost_vote_path, method: :delete, class: "linwood" %>
        <% elsif venue_signed_in? && current_venue.artist_micropost_voted?(@micropost) %>
          <%= button_to "−", artist_micropost_vote_path, method: :delete, class: "linwood" %>
        <% elsif producer_signed_in? && current_producer.artist_micropost_voted?(@micropost) %>
          <%= button_to "−", artist_micropost_vote_path, method: :delete, class: "linwood" %>
        <% else %>
          <%= form_for(ArtistMicropostVote.new, url: artist_micropost_votes_path) do |f| %>
            <%= hidden_field_tag :artist_micropost_id, @micropost.id %>
            <%= f.submit "+", class: "linwood" %>
          <% end %>
        <% end %>

        <strong><%= @micropost.artist_micropost_votes.count %></strong> //
        <a class="linden"><span class="comments_count"><%= render 'artists/partials/comments/comments_count' %></span></a>
      </div>

      <div class="walden">
        <div class="minnesota">

          <div class="comments_js">
            <%= render 'artists/partials/comments/comments' %>
          </div>

        </div>

        <div class="comments_form">
          <%= render 'artists/partials/comments/comments_form' %>
        </div>

      </div>
    </div>

  </div>
</div>
<%= render 'partials/uni_footer' %>
