<div class="back-second"></div>
<div class="background"></div>
<%= render 'partials/home_header' %>

<div class="buffalo">
  <div class="delaware">
    <div class="bailey">

      <div class="niagara-falls">
        <%= link_to 'noisaea //', why_path %>
      </div>
      <div class="kings busti white">
        Noisaea is the universal spot for the music industry, tying together music, media, events, and shop.
      </div>
      <div class="harlem busti">
        <%= link_to "find out more?", why_path, class: "wehrle" %>
      </div>

    </div>
  </div>

  <div class="busti a">
    <div class="delaware b">
      <%= form_tag(artists_path, :method => "get") do %>
        <div class="highgate">
          <%= text_field_tag :search, params[:search], placeholder: "discover artists", class: "d" %><%= submit_tag "search", class: "e" %>
        </div>
      <% end %>
    </div>
  </div>


  <div class="c">
    <div class="delaware">
      <div class="b">
        <div class="vermont busti">
          artists
        </div>
        <a href="/artists"><div style="background: url('http://i.imgur.com/MnId9NZ.jpg') no-repeat center center fixed;" class="p f">
          <div class="g">
            <strong>genres</strong>
          </div>
        </div></a>
        <a href="/artists#container-location"><div style="background: url('http://i.imgur.com/MnId9NZ.jpg') no-repeat center center fixed;" class="p f">
          <div class="g">
            <strong>location</strong>
          </div>
        </div></a>
        <a href="/artists#container-popular"><div style="background: url('http://i.imgur.com/MnId9NZ.jpg') no-repeat center center fixed;" class="p f">
          <div class="g">
            <strong>popular</strong>
          </div>
        </div>
      </div></a>
      <div class="b">
        <div class="vermont busti">
          record labels
        </div>
          <a href="/record_labels"><div style="background: url('http://i.imgur.com/3CMEbNb.jpg') no-repeat center center fixed;" class="p f">
          <div class="g">
            <strong>genres</strong>
          </div>
        </div></a>
        <a href="/record_labels#container-location"><div style="background: url('http://i.imgur.com/3CMEbNb.jpg') no-repeat center center fixed;" class="p f">
          <div class="g">
            <strong>location</strong>
          </div>
        </div></a>
        <a href="/record_labels#container-popular"><div style="background: url('http://i.imgur.com/3CMEbNb.jpg') no-repeat center center fixed;" class="p f">
          <div class="g">
            <strong>popular</strong>
          </div>
        </div>
      </div></a>
      <div class="b">
        <div class="vermont busti">
          venues
        </div>
        <a href="/venues"><div style="background: url('http://i.imgur.com/k59gk86.jpg') no-repeat center center fixed;" class="p f">
          <div class="g">
            <strong>genres</strong>
          </div>
        </div></a>
        <a href="/venues#container-location"><div style="background: url('http://i.imgur.com/k59gk86.jpg') no-repeat center center fixed;" class="p f">
          <div class="g">
            <strong>location</strong>
          </div>
        </div></a>
        <a href="/venues#container-popular"><div style="background: url('http://i.imgur.com/k59gk86.jpg') no-repeat center center fixed;" class="p f">
          <div class="g">
            <strong>popular</strong>
          </div>
        </div>
      </div></a>
      <div class="b">
        <div class="vermont busti">
          producers
        </div>
        <a href="/producers"><div style="background: url('http://i.imgur.com/ZH1kvEf.jpg') no-repeat center center fixed;" class="p f">
          <div class="g">
            <strong>genres</strong>
          </div>
        </div></a>
        <a href="/producers#container-location"><div style="background: url('http://i.imgur.com/ZH1kvEf.jpg') no-repeat center center fixed;" class="p f">
          <div class="g">
            <strong>location</strong>
          </div>
        </div></a>
        <a href="/producers#container-popular"><div style="background: url('http://i.imgur.com/ZH1kvEf.jpg') no-repeat center center fixed;" class="p f">
          <div class="g">
            <strong>popular</strong>
          </div>
        </div>
      </div></a>
    </div>
  </div>


</div>

<%= render 'partials/home_footer' %>
