<%= provide(:title, "Sign In As...") %>
<%= render 'partials/uni_header' %>

<div class="buffalo">
  <div class="delaware">

    <div class="tupper">
      I am a(n)
    </div>

    <div class="elm">
      <%= link_to "fan", new_fan_session_path, class: "edward" %>
    </div>
    <div class="elm">
      <%= link_to "artist", new_artist_session_path, class: "edward" %>
    </div>

    <div class="oak">
      <%= link_to "record label", new_record_label_session_path, class: "edward" %>
    </div>
    <div class="oak">
      <%= link_to "venue", new_venue_session_path, class: "edward" %>
    </div>
    <div class="oak">
      <%= link_to "producer", new_producer_session_path, class: "edward" %>
    </div>

  </div>
</div>


<%= render 'partials/uni_footer' %>
