<%= provide(:title, "Promote My Music") %>
<%= render "partials/uni_header" %>
<div class="buffalo">
  <div class="kenmore">
    <div class="harlem">
      <h1>why sign up for noisaea.com?</h1>
    </div>

    <p class="northrup">noisaea is the universal spot for the music industry, tying together music, media, events, and shop. Keep up with music you already know and discover amazing music that you didn't know existed.</p>

    <p class="northrup"><strong><i>It’s free!</i></strong></p>

    <div class="highgate">
      <h2>artists // record labels // venues // producers</h2>
    </div>

    <div class="highgate">
      <h3>Posts</h3>
    </div>

    <p class="northrup">noisaea was made for the sole purpose of having fans find artists/record labels/venues/producers that they have never heard of before and be able to keep up with the artists that they already love.</p>
    <p class="northrup">Fans will be able to follow you either through the discover page, your page, or other fan’s pages. Once they follow you, your posts will be added to their fan feed.</p>
    <p class="northrup">Unlike some other social media sites, your posts will be in ALL of your fan’s feeds without having to pay. And it will always stay like that.</p>
    <p class="northrup">Once you’ve made a sick post, other users will be able to comment and vote on it. Comments are sorted by votes, so all the dumb, idiotic, stupid comments will be at the bottom and the intelligent, inspiring, beautiful comments will be at the top.</p>

    <div class="highgate">
      <h3>Shows</h3>
    </div>

    <p class="northrup">You’ll be able to list all of your upcoming events by date and be able to sell tickets to each. Eventually you’ll be able to sell tickets directly to your fans.</p>
    <p class="northrup">Fans in the same location of one of your events are able to see the event on their own feed and can choose to purchase a ticket to the event from their own page.</p>

    <div class="highgate">
      <h3>Videos</h3>
    </div>

    <p class="northrup">This page is dedicated to all of your music videos, studio updates, and tour videos. Without that terrible autoplay feature.</p>

    <p class="northrup">Eventually, you'll be able to live stream videos of your shows.</p>

    <div class="highgate">
      <h3>Merch</h3>
    </div>

    <p class="northrup">Wouldn't it be great if your fans could see everything you have for sale right along with everything else?</p>
    <p class="northrup">I think so, which is why you'll be able to display and sell your shirts, CDs, hoodies, flags, wristbands, records, anything on your page's storefront.</p>
    <p class="northrup">Right now, you will link to your merch on other sites, but will soon be able to sell directly to fans right here.</p>

    <div class="highgate">
      <h3>Music</h3>
    </div>

    <p class="northrup">What would a music site be without the music?</p>
    <p class="northrup">You’ll be able to add albums and tracks to your music page. Fan’s will be able to purchase full albums or single songs, for a set price or their own price and download them in any format they choose.</p>
    <p class="northrup">Lyrics can be displayed next to the track that’s being played on the playlist.</p>

    <div class="highgate">
      <h3>Profile</h3>
    </div>

    <p class="northrup">Setting up your profile is the first thing you’re going to want to do after signing up.</p>
    <p class="northrup">Obviously, you want your fans to know a little bit about you. You also want them to be able to find you everywhere, which is why your profile includes links to everything outside of noisaea.</p>
    <p class="northrup">This is also where you’re able to add your location and genre, so future fans can find you through the discover page.</p>

    <center><div class="harlem">
      <%= link_to 'register now', register_path, class: "exchange" %>
    </div></center>

    <div class="highgate">
      <h2>fans</h2>
    </div>

    <div class="highgate">
      <h3>All of your artists are belong to you.</h3>
    </div>

    <p class="northrup">I know you follow your favorite artists to keep up with everything they’re doing, not just a few things. noisaea will make sure you don’t miss a single thing from any of the artists you follow because ALL of their posts will appear in your feed.</p>
    <p class="northrup">All you have to do is follow them.</p>

    <div class="highgate">
      <h3>Want some new music to be flowing into your ears?</h3>
    </div>

    <p class="northrup">Sweet. Check out the discover page, where you can find new artists/record labels/venues/producers by popular, recent, genre, or location.</p>
    <p class="northrup">Still can’t find who you’re looking for? Use the search bar at the top of the page.</p>
    <p class="northrup">If there is an artist that you really want to follow, but they aren’t on the site, message them and tell them to sign up!</p>

    <center><div class="harlem">
      <%= link_to 'register now', register_path, class: "exchange" %>
    </div></center>

  </div>
</div>
<%= render "partials/uni_footer" %>
