<aside class="pearl">

  <% unless @producer == current_producer %>
  <div class="washington">
    <div class="lisbon">
    <div class="follow_button">
      <%= render 'producers/partials/relationships/follow_button' %>
    </div>
    </div>
  </div>
  <% end %>

  <div class="washington">
    <div class="follower_count">
      <%= render 'producers/partials/relationships/follower_count' %>
    </div>
  </div>

  <% if producer_signed_in? && @producer.id == current_producer.id && @producer.producer_profile.location.blank? && @producer.producer_profile.genre.blank? && @producer.producer_profile.founded && @producer.producer_profile.artists.blank? && @producer.producer_profile.biography.blank? && @producer.producer_profile.facebook_url.blank? && @producer.producer_profile.twitter_url.blank? && @producer.producer_profile.youtube_url.blank? && @producer.producer_profile.website.blank? %>
    <div class="amherst">
      you do not have any profile information
    </div>
    <div class="jefferson">
      <%= link_to "update your profile", edit_producer_profile_path(current_producer) %>
    </div>
  <% elsif @producer.producer_profile.location.blank? && @producer.producer_profile.genre.blank? && @producer.producer_profile.founded && @producer.producer_profile.artists.blank? && @producer.producer_profile.biography.blank? && @producer.producer_profile.facebook_url.blank? && @producer.producer_profile.twitter_url.blank? && @producer.producer_profile.youtube_url.blank? && @producer.producer_profile.website.blank? %>
    <div class="amherst">
      <%= "#{@producer.producer_name} does not have any profile information yet" %>
    </div>
  <% end %>
  <% if @producer.producer_profile.location.present? %>
  <div class="jefferson">
    location //
  </div>
  <div class="fillmore">
    <%= @producer.producer_profile.location %>
  </div>
  <% end %>
  <% if @producer.producer_profile.founded.present? %>
  <div class="jefferson">
    founded //
  </div>
  <div class="fillmore">
    <%= @producer.producer_profile.founded %>
  </div>
  <% end %>
  <% if @producer.producer_profile.genre.present? %>
  <div class="jefferson">
    genre //
  </div>
  <div class="fillmore">
    <%= @producer.producer_profile.genre %>
  </div>
  <% end %>
  <% if @producer.producer_profile.artists.present? %>
  <div class="jefferson">
    artists //
  </div>
  <div class="fillmore">
    <%= @producer.producer_profile.artists %>
  </div>
  <% end %>
  <% if @producer.producer_profile.biography.present? %>
  <div class="jefferson">
    biography //
  </div>
  <div class="fillmore">
    <%= @producer.producer_profile.biography %>
  </div>
  <% end %>
  <% if @producer.producer_profile.website.present? %>
  <div class="fillmore">
    <%= link_to "#{@producer.producer_name}'s website", @producer.producer_profile.website %>
  </div>
  <% end %>
  <% if @producer.producer_profile.facebook_url.present? %>
  <div class="fillmore">
    <%= link_to "Facebook", @producer.producer_profile.facebook_url, :target => "_blank", class: "sfacebook" %>
  </div>
  <% end %>
  <% if @producer.producer_profile.twitter_url.present? %>
  <div class="fillmore">
    <%= link_to "Twitter", @producer.producer_profile.twitter_url, :target => "_blank", class: "stwitter" %>
  </div>
  <% end %>
  <% if @producer.producer_profile.youtube_url.present? %>
  <div class="fillmore">
    <%= link_to "YouTube", @producer.producer_profile.youtube_url, :target => "_blank", class: "syoutube" %>
  </div>
  <% end %>
</aside>
