<% if @producer.producer_profile.cover_img_file_name.blank? %>
  <div class="clinton">
    <% if @producer == current_producer %>
      you do not have a cover image yet
    <% else %>
      <%= "#{@producer.producer_name} hasn't uploaded a cover photo yet" %>
    <% end %>
  </div>
<% else %>
<div class="washington">
  <div style="background: url('<%= @producer.producer_profile.cover_img.url(:small) %>') no-repeat fixed; background-size: 100%;" class="broadway">
    <div class="northland">
      <%= @producer.producer_name %> <span class="cover_fan_count"><%= render 'paroducers/partials/relationships/cover_fan_count' %></span>
    </div>
  </div>
</div>
<div class="niagara">
  <div class="broadway">
    <img src="<%= @producer.producer_profile.cover_img.url(:small) %>" width="100%" height="auto'" />
  </div>
</div>
<% end %>
