<% if @producer.producer_profile.cover_image.blank? %>
  <div class="clinton">
    <% if @producer == current_producer %>
      you do not have a cover image yet
    <% else %>
      <%= "#{@producer.producer_name} hasn't uploaded a cover photo yet" %>
    <% end %>
  </div>
<% else %>
<div class="washington">
  <div style="background: url('<%= @producer.producer_profile.cover_image %>') no-repeat fixed; background-size: 100%;" class="broadway">
    <div class="northland">
      <%= @producer.producer_name %> <span class="lakeview">// <%= pluralize(@producer.fans.count, "fan") %>
    </div>
  </div>
</div>
<div class="niagara">
  <div class="broadway">
    <img src="<%= @producer.producer_profile.cover_image %>" width="100%" height="auto'" />
  </div>
</div>
<% end %>
