<%= provide(:title, "Edit A Show") %>
<div class="buffalo">
  <div class="delaware">
    <div class="elmwood">
      <div class="harlem">
        <h1>edit the show on <%= @show.month %>.<%= @show.day %>.<%= @show.year %> at <%= @show.venue %> in <%= @show.location %></h1>
      </div>

      <%= form_for(@show, url: record_label_show_path) do |f| %>
        <%= f.hidden_field :record_label_id %>
        <%= render 'errors/show_errors' %>
        <div class="maryland">
          <div class="amherst temp">
            month
          </div>
          <%= f.text_field :month, class: "huron" %>
        </div>
        <div class="maryland">
          <div class="amherst temp">
            day
          </div>
          <%= f.text_field :day, class: "huron" %>
        </div>
        <div class="maryland">
          <div class="amherst temp">
            year
          </div>
          <%= f.text_field :year, class: "huron" %>
        </div>
        <div class="highgate">
          <div class="amherst temp">
            location (city)
          </div>
          <%= f.text_field :location, class: "huron" %>
        </div>
        <div class="highgate">
          <div class="amherst temp">
            venue
          </div>
          <%= f.text_field :venue, class: "huron" %>
        </div>
        <div class="highgate">
          <div class="amherst temp">
            ticket url
          </div>
          <%= f.text_field :ticket_url, class: "huron" %>
        </div>
        <div class="highgate">
          <div class="highgate temp">
            flyer image: <span class="posted">1200x2000</span>
          </div>
          <%= f.file_field :flyer_img %>
        </div>

        <div id="show_field1" class="highgate">
          <div class="amherst temp">
            headline artist <span class="posted">(optional)</span>
          </div>
          <%= f.text_field :headline_artist,class: "huron" %>
        </div>
        <div id="plus" class="plus">
          add artist
        </div>
        <div id="show_field2" class="highgate">
          <div class="amherst temp">
            support artist <span class="posted">(optional)</span>
          </div>
          <%= f.text_field :support_artist1, class: "huron" %>
        </div>
        <div id="plus1" class="plus">
          add artist
        </div>
        <div id="show_field3" class="highgate">
          <div class="amherst temp">
            support artist <span class="posted">(optional)</span>
          </div>
          <%= f.text_field :support_artist2, class: "huron" %>
        </div>
        <div id="plus2" class="plus">
          add artist
        </div>
        <div id="show_field4" class="highgate">
          <div class="amherst temp">
            support artist <span class="posted">(optional)</span>
          </div>
          <%= f.text_field :support_artist3, class: "huron" %>
        </div>
        <div id="plus3" class="plus">
          add artist
        </div>
        <div id="show_field5" class="highgate">
          <div class="amherst temp">
            support artist <span class="posted">(optional)</span>
          </div>
          <%= f.text_field :support_artist4, class: "huron" %>
        </div>
        <div id="plus4" class="plus">
          add artist
        </div>
        <div id="show_field6" class="highgate">
          <div class="amherst temp">
            support artist <span class="posted">(optional)</span>
          </div>
          <%= f.text_field :support_artist5, class: "huron" %>
        </div>
        <div id="plus5" class="plus">
          add artist
        </div>
        <div id="show_field7" class="highgate">
          <div class="amherst temp">
            support artist <span class="posted">(optional)</span>
          </div>
          <%= f.text_field :support_artist6, class: "huron" %>
        </div>
        <div id="plus6" class="plus">
          add artist
        </div>
        <div id="show_field8" class="highgate">
          <div class="amherst temp">
            support artist <span class="posted">(optional)</span>
          </div>
          <%= f.text_field :support_artist7, class: "huron" %>
        </div>

        <div class="highgate">
          <%= f.text_area :description, placeholder: "description", class: "chippewa" %>
        </div>
        <div class="ellicott">
          <%= f.submit "update show", data: { disable_with: 'updating...' }, class: "exchange" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
<%= render 'partials/uni_footer' %>
