<%= provide(:title, sanitize(@record_label.label_name) + " | Show #{@show.id}") %>
<div class="buffalo">

  <%= render 'recordlabels/partials/record_label_cover_image' %>

  <div class="delaware">

    <main class="main">

      <ul class="carolina">
        <li><%= link_to "timeline", record_label_path(@record_label) %></li>
        <li class="jersey"><%= link_to "shows", record_label_shows_path(@record_label) %></li>
        <li><%= link_to "videos", record_label_videos_path(@record_label) %></li>
      </ul>

      <%= render 'recordlabels/partials/record_label_name' %>

      <div class="harlem">
        <% if @show.flyer_img_file_name.present? %>
          <div class="fargo">
            <div id="riley">
              <img srcset="<%= @show.flyer_img.url(:perfect) %>" width="100%" height="auto" />
            <div>
          </div>
          <div class="fargo">
            <div class="vermont busti">
            <% if Artist.exists?(:artist_name => "#{@show.artist}") %>
              <%= link_to @show.artist, artist_path(Artist.where(:artist_name => "#{@show.artist}").first) %>
            <% else %>
              <%= @show.artist %>
            <% end %>
          </div>
            <div class="vermont busti">
              <%= @show.month %>.<%= @show.day %>.<%= @show.year %>
            </div>
            <div class="vermont busti">
              <% if Venue.exists?(:venue_name => "#{@show.venue}") %>
                <%= link_to @show.venue, venue_path(Venue.where(:venue_name => "#{@show.venue}").first) %>
              <% else %>
                <%= @show.venue %>
              <% end %>
              </div>
            <div class="vermont busti">
              <%= @show.location %>
            </div>
            <% if @show.ticket_url.present? %>
            <div class="vermont busti">
              <%= link_to "get tickets", @show.ticket_url, class: "sugar" %>
            </div>
            <% end %>
            <% if @record_label == current_record_label %>
            <div class="amherst busti">
              // <%= link_to "edit", edit_record_label_show_path(@record_label, @show) %> or <%= link_to "delete", record_label_show_path(@record_label, @show), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete %>
            </div>
            <% end %>
          </div>
        <% else %>
          <div class="vermont">
            <% if Artist.exists?(:artist_name => "#{@show.artist}") %>
              <%= link_to @show.artist, artist_path(Artist.where(:artist_name => "#{@show.artist}").first) %>
            <% else %>
              <%= @show.artist %>
            <% end %>
          </div>
          <div class="vermont">
            <%= @show.month %>.<%= @show.day %>.<%= @show.year %>
          </div>
          <div class="vermont">
            <% if Venue.exists?(:venue_name => "#{@show.venue}") %>
              <%= link_to @show.venue, venue_path(Venue.where(:venue_name => "#{@show.venue}").first) %>
            <% else %>
              <%= @show.venue %>
            <% end %>
          </div>
          <div class="vermont">
            <%= @show.location %>
          </div>
          <% if @show.ticket_url.present? %>
          <div class="vermont">
            <%= link_to "get tickets", @show.ticket_url,  class: "sugar" %>
          </div>
          <% end %>
          <% if @record_label == current_record_label %>
          <div class="amherst">
            // <%= link_to "edit", edit_record_label_show_path(@record_label, @show) %> or <%= link_to "delete", record_label_show_path(@record_label, @show), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete %>
          </div>
          <% end %>
        <% end %>
        <div class="best">
          <%= @show.description %>
        </div>
      </div>

    </main>

    <%= render 'recordlabels/partials/record_label_sidebar' %>

  </div>
</div>
<%= render "partials/uni_footer" %>

<% if @show.flyer_img_file_name.present? %>
  <div id="back"></div>
  <div id="front">
    <div class="lightbox-image">
    <div id="close"></div>
      <img srcset="<%= @show.flyer_img.url(:perfect) %>" width="100%" height="auto" />
    </div>
  </div>
<% end %>
