<nav class="englewood">
  <div class="starin pine-ridge">&#8811;</div>
  <div class="crescent">
    <ul class="fifteenth">
      <li><%= link_to "d", current_artist, class: "military" %></li>
      <li class="notifications_count_mini"><%= render 'artists/partials/notifications/notifications_count_mini' %></li>
      <li><%= link_to "♪", artist_albums_path(current_artist), class: "depew" %></li>
      <li><%= link_to "m", artist_merches_path(current_artist), class: "depew" %></li>
      <li><%= link_to "s", artist_shows_path(current_artist), class: "depew" %></li>
      <li><%= link_to "v", artist_videos_path(current_artist), class: "depew" %></li>
      <li><%= link_to "p", edit_artist_profile_path(current_artist), class: "depew" %></li>
    </ul>
  </div>
  <ul class="taunton pine-ridge">
    <li><%= link_to "dashboard", current_artist, class: "military" %></li>
    <li class="notifications_count"><%= render 'artists/partials/notifications/notifications_count' %></li>
    <li><%= link_to "music", artist_albums_path(current_artist), class: "depew" %></li>
    <li><%= link_to "merch", artist_merches_path(current_artist), class: "depew" %></li>
    <li><%= link_to "shows", artist_shows_path(current_artist), class: "depew" %></li>
    <li><%= link_to "videos", artist_videos_path(current_artist), class: "depew" %></li>
    <li><%= link_to "profile", edit_artist_profile_path(current_artist), class: "depew" %></li>
    <li><%= link_to "settings", edit_artist_registration_path, class: "depew" %></li>
    <li><%= link_to "sign out", sign_out_path, class: "depew" %></li>
  </ul>
</nav>
