<div class="washington">
  <header class="buffalo ontario">
    <div class="austin">
      <nav class="parkside">
      <%= link_to "#{current_artist.artist_name}'s dashboard", current_artist, class: "military" %>
          <ul>
            <li><%= link_to "profile", edit_artist_profile_path(current_artist), class: "depew" %></li>
            <li><%= link_to "settings", edit_artist_registration_path, class: "depew" %></li>
            <li><%= link_to "sign out", sign_out_path, class: "depew" %></li>
          </ul>
      </nav>
    </div>
  </header>
</div>

<div class="niagara">
  <header class="buffalo ontario">
    <div class="austin">
      <nav class="parkside">
        <div class="amherst">
          <center><a class="starin"><%= current_artist.artist_name %></a></center>
          <div class="taunton">
            <div><%= link_to "dashboard", current_artist, class: "depew" %>
            <div><%= link_to "profile", edit_artist_profile_path(current_artist), class: "depew" %></div>
            <div><%= link_to "settings", edit_artist_registration_path, class: "depew" %></div>
            <div><%= link_to "sign out", sign_out_path, class: "depew" %></div>
          </div>
        </div>
      </nav>
    </div>
  </header>
</div>
