<%= provide(:title, sanitize(@producer.producer_name) + " | Followers") %>
<div class="buffalo">
    <% if @producer.producer_profile.cover_image.blank? %>
      <div class="clinton">
        <% if producer_signed_in? && @producer.id == current_producer.id %>
          you do not have a cover image yet. <%= link_to "add one?", edit_producer_profile_path(current_producer) %>
        <% else %>
          <%= "#{@producer.producer_name} hasn't uploaded a cover photo yet" %>
        <% end %>
      </div>
    <% else %>
      <div class="broadway">
        <img srcset="<%= @producer.producer_profile.cover_image %>" width="100%" height="auto" />
      </div>
    <% end %>
  <div class="delaware">
    <div class="winspear hedley">
      <%= link_to @producer.producer_name, producer_path(@producer) %>
    </div>
    <div class="amherst sterling">
      // <%= pluralize(@producer.fans.count, "fan") %>
    </div>

    <% if @producer.fans.any? %>
    <div class="harlem">
        <% @producer.fans.take(100).each do |fan| %>
          <div class="utica">

            <% if fan.fan_profile.cover_image.blank? %>
              <div class="sycamore">
                <% if fan_signed_in? && fan.id == current_fan.id %>
                  you do not have a profile image yet
                <% else %>
                  <%= "#{fan.fan_name} hasn't uploaded a profile image yet" %>
                <% end %>
              </div>
            <% else %>
            <div class="genesee">
              <img srcset="<%= fan.fan_profile.cover_image %>" width="100%" height="auto" />
            </div>
            <% end %>

            <center><%= link_to fan.fan_name, fan_path(fan) %></center>
          </div>
        <% end %>
    </div>
    <% end %>

  </div>
</div>
<%= render 'partials/uni_footer' %>
