<%= provide(:title, "Discover Producers") %>
<%= render "partials/uni_header" %>
<div class="buffalo">
  <div class="delaware">

    <div class="washington">
      <div class="fargo">
        <h1>discover producers</h1>
      </div>
    </div>
    <div class="fargo">
      <%= form_tag(producers_path, :method => "get") do %>
        <div class="highgate">
          <%= text_field_tag :search, params[:search], placeholder: "search producers", class: "huron" %>
        </div>
          <%= submit_tag "search", class: "exchange", :style => "display: none;" %>
      <% end %>
    </div>

    <% if @producers.present? %>

      <div class="washington">
        <div class="highgate">
          <div id="popular" class="porter lafayette">
            popular
          </div>
          <div id="recent" class="porter">
            recent
          </div>
          <div id="location" class="porter">
            <% if fan_signed_in? && current_fan.fan_profile.location.present? %>
              <%= current_fan.fan_profile.location.downcase %>
            <% else %>
              location
            <% end %>
          </div>
          <div id="alternative" class="porter">
            alternative
          </div>
          <div id="ambient" class="porter">
            ambient
          </div>
          <div id="blues" class="porter">
            blues
          </div>
          <div id="classical" class="porter">
            classical
          </div>
          <div id="comedy" class="porter">
            comedy
          </div>
          <div id="country" class="porter">
            country
          </div>
          <div id="electronic" class="porter">
            electronic
          </div>
          <div id="experimental" class="porter">
            experimental
          </div>
          <div id="hip-hop-rap" class="porter">
            hip-hop/rap
          </div>
          <div id="indie" class="porter">
            indie
          </div>
          <div id="jazz" class="porter">
            jazz
          </div>
          <div id="latino" class="porter">
            latino
          </div>
          <div id="metal" class="porter">
            metal
          </div>
          <div id="pop" class="porter">
            pop
          </div>
          <div id="rb-soul" class="porter">
            r&b/soul
          </div>
          <div id="rock" class="porter">
            rock
          </div>
          <div id="singer-songwriter" class="porter">
            singer/songwriter
          </div>
          <div id="soundtrack" class="porter">
            soundtrack
          </div>
          <div id="world" class="porter">
            world
          </div>
        </div>
      </div>

      <div class="niagara">
        <div class="highgate">
        <center>
          <div id="mpopular" class="porter lafayette">
            <strong>popular</strong>
          </div>
          <div id="mrecent" class="porter">
            <strong>recent</strong>
          </div>
          <div id="mlocation" class="porter">
            <strong>location</strong>
          </div>
          <strong><a class="porter adams">genres</a></strong>
          <div class="grey">
            <div id="malternative" class="porter">
              alternative
            </div>
            <div id="mambient" class="porter">
              ambient
            </div>
            <div id="mblues" class="porter">
              blues
            </div>
            <div id="mclassical" class="porter">
              classical
            </div>
            <div id="mcomedy" class="porter">
              comedy
            </div>
            <div id="mcountry" class="porter">
              country
            </div>
            <div id="melectronic" class="porter">
              electronic
            </div>
            <div id="mexperimental" class="porter">
              experimental
            </div>
            <div id="mhip-hop-rap" class="porter">
              hip-hop/rap
            </div>
            <div id="mindie" class="porter">
              indie
            </div>
            <div id="mjazz" class="porter">
              jazz
            </div>
            <div id="mlatino" class="porter">
              latino
            </div>
            <div id="mmetal" class="porter">
              metal
            </div>
            <div id="mpop" class="porter">
              pop
            </div>
            <div id="mrb-soul" class="porter">
              r&b/soul
            </div>
            <div id="mrock" class="porter">
              rock
            </div>
            <div id="msinger-songwriter" class="porter">
              singer/songwriter
            </div>
            <div id="msoundtrack" class="porter">
              soundtrack
            </div>
            <div id="mworld" class="porter">
              world
            </div>
          </div>
        </center>
        </div>
      </div>

      <div id="container-popular" class="ferry">
        <% @producers.sort_by{ |producer| -producer.fans.count }.take(100).each do |producer| %>
          <div class="utica">
            <%= render 'producers/partials/producer_profile_image', :producer => producer %>
              <div class="hertel">
                <center><%= link_to producer.producer_name, producer_path(producer) %></center>
              </div>
              <div class="hertel">
                <center><%= producer.producer_profile.genre unless producer.producer_profile.genre.blank? %></center>
              </div>
              <div class="hertel">
                <center><%= producer.producer_profile.location unless producer.producer_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= producer.id %>">
                <%= render "producers/partials/relationships/index_follower_count", :producer => producer %>
              </div>
            </div>

            <div class="index_follow_button_<%= producer.id %>">
              <%= render "producers/partials/relationships/index_follow_button", :producer => producer %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-recent" class="ferry colvin">
        <% @producers.order( 'id DESC' ).take(100).each do |producer| %>
          <div class="utica">
            <%= render 'producers/partials/producer_profile_image', :producer => producer %>
              <div class="hertel">
                <center><%= link_to producer.producer_name, producer_path(producer) %></center>
              </div>
              <div class="hertel">
                <center><%= producer.producer_profile.genre unless producer.producer_profile.genre.blank? %></center>
              </div>
              <div class="hertel">
                <center><%= producer.producer_profile.location unless producer.producer_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= producer.id %>">
                <%= render "producers/partials/relationships/index_follower_count", :producer => producer %>
              </div>
            </div>

            <div class="index_follow_button_<%= producer.id %>">
              <%= render "producers/partials/relationships/index_follow_button", :producer => producer %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-location" class="ferry colvin">
        <% if fan_signed_in? && current_fan.fan_profile.location.present? %>
          <% @producers.each do |producer|  %>
          <% if producer.producer_profile.location == current_fan.fan_profile.location %>
            <div class="utica">
              <%= render 'producers/partials/producer_profile_image', :producer => producer %>
                <div class="hertel">
                  <center><%= link_to producer.producer_name, producer_path(producer) %></center>
                </div>
                <div class="hertel">
                  <center><%= producer.producer_profile.location unless producer.producer_profile.location.blank? %></center>
                </div>
                <div class="hertel">
                <div class="index_follower_count_<%= producer.id %>">
                <%= render "producers/partials/relationships/index_follower_count", :producer => producer %>
              </div>
            </div>

            <div class="index_follow_button_<%= producer.id %>">
              <%= render "producers/partials/relationships/index_follow_button", :producer => producer %>
            </div>

              </div>
            <% end %>
          <% end %>
        <% elsif fan_signed_in? && current_fan.fan_profile.location.blank? %>
          <div class="hertel">
            <center>Your location is blank! Go set it on <%= link_to "your profile", edit_fan_profile_path(current_fan) %>.</center>
          </div>
        <% else %>
          <div class="hertel">
            <center><%= link_to "sign in", new_fan_session_path %> to view producers based on location</center>
          </div>
        <% end %>
      </div>

      <div id="container-alternative" class="ferry colvin">
        <% @producers.alternative.each do |producer|  %>
          <% if producer.producer_profile.genre == "Alternative" %>
          <div class="utica">
            <%= render 'producers/partials/producer_profile_image', :producer => producer %>
              <div class="hertel">
                <center><%= link_to producer.producer_name, producer_path(producer) %></center>
              </div>
              <div class="hertel">
                <center><%= producer.producer_profile.location unless producer.producer_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= producer.id %>">
                <%= render "producers/partials/relationships/index_follower_count", :producer => producer %>
              </div>
            </div>

            <div class="index_follow_button_<%= producer.id %>">
              <%= render "producers/partials/relationships/index_follow_button", :producer => producer %>
            </div>

            </div>
          <% end %>
        <% end %>
      </div>

      <div id="container-ambient" class="ferry colvin">
        <% @producers.ambient.each do |producer|  %>
          <% if producer.producer_profile.genre == "Ambient" %>
          <div class="utica">
            <%= render 'producers/partials/producer_profile_image', :producer => producer %>
              <div class="hertel">
                <center><%= link_to producer.producer_name, producer_path(producer) %></center>
              </div>
              <div class="hertel">
                <center><%= producer.producer_profile.location unless producer.producer_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= producer.id %>">
                <%= render "producers/partials/relationships/index_follower_count", :producer => producer %>
              </div>
            </div>

            <div class="index_follow_button_<%= producer.id %>">
              <%= render "producers/partials/relationships/index_follow_button", :producer => producer %>
            </div>

            </div>
          <% end %>
        <% end %>
      </div>

      <div id="container-blues" class="ferry colvin">
        <% @producers.blues.each do |producer|  %>
          <% if producer.producer_profile.genre == "Blues" %>
          <div class="utica">
           <%= render 'producers/partials/producer_profile_image', :producer => producer %>
              <div class="hertel">
                <center><%= link_to producer.producer_name, producer_path(producer) %></center>
              </div>
              <div class="hertel">
                <center><%= producer.producer_profile.location unless producer.producer_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= producer.id %>">
                <%= render "producers/partials/relationships/index_follower_count", :producer => producer %>
              </div>
            </div>

            <div class="index_follow_button_<%= producer.id %>">
              <%= render "producers/partials/relationships/index_follow_button", :producer => producer %>
            </div>

            </div>
          <% end %>
        <% end %>
      </div>

      <div id="container-classical" class="ferry colvin">
        <% @producers.classical.each do |producer|  %>
          <% if producer.producer_profile.genre == "Classical" %>
          <div class="utica">
            <%= render 'producers/partials/producer_profile_image', :producer => producer %>
              <div class="hertel">
                <center><%= link_to producer.producer_name, producer_path(producer) %></center>
              </div>
              <div class="hertel">
                <center><%= producer.producer_profile.location unless producer.producer_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= producer.id %>">
                <%= render "producers/partials/relationships/index_follower_count", :producer => producer %>
              </div>
            </div>

            <div class="index_follow_button_<%= producer.id %>">
              <%= render "producers/partials/relationships/index_follow_button", :producer => producer %>
            </div>

            </div>
          <% end %>
        <% end %>
      </div>

      <div id="container-comedy" class="ferry colvin">
        <% @producers.comedy.each do |producer|  %>
          <% if producer.producer_profile.genre == "Comedy" %>
          <div class="utica">
            <%= render 'producers/partials/producer_profile_image', :producer => producer %>
              <div class="hertel">
                <center><%= link_to producer.producer_name, producer_path(producer) %></center>
              </div>
              <div class="hertel">
                <center><%= producer.producer_profile.location unless producer.producer_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= producer.id %>">
                <%= render "producers/partials/relationships/index_follower_count", :producer => producer %>
              </div>
            </div>

            <div class="index_follow_button_<%= producer.id %>">
              <%= render "producers/partials/relationships/index_follow_button", :producer => producer %>
            </div>

            </div>
          <% end %>
        <% end %>
      </div>

      <div id="container-country" class="ferry colvin">
        <% @producers.country.each do |producer|  %>
          <% if producer.producer_profile.genre == "Country" %>
          <div class="utica">
            <%= render 'producers/partials/producer_profile_image', :producer => producer %>
              <div class="hertel">
                <center><%= link_to producer.producer_name, producer_path(producer) %></center>
              </div>
              <div class="hertel">
                <center><%= producer.producer_profile.location unless producer.producer_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= producer.id %>">
                <%= render "producers/partials/relationships/index_follower_count", :producer => producer %>
              </div>
            </div>

            <div class="index_follow_button_<%= producer.id %>">
              <%= render "producers/partials/relationships/index_follow_button", :producer => producer %>
            </div>

            </div>
          <% end %>
        <% end %>
      </div>

      <div id="container-electronic" class="ferry colvin">
        <% @producers.electronic.each do |producer|  %>
          <% if producer.producer_profile.genre == "Electronic" %>
          <div class="utica">
            <%= render 'producers/partials/producer_profile_image', :producer => producer %>
              <div class="hertel">
                <center><%= link_to producer.producer_name, producer_path(producer) %></center>
              </div>
              <div class="hertel">
                <center><%= producer.producer_profile.location unless producer.producer_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= producer.id %>">
                <%= render "producers/partials/relationships/index_follower_count", :producer => producer %>
              </div>
            </div>

            <div class="index_follow_button_<%= producer.id %>">
              <%= render "producers/partials/relationships/index_follow_button", :producer => producer %>
            </div>

            </div>
          <% end %>
        <% end %>
      </div>

      <div id="container-experimental" class="ferry colvin">
        <% @producers.experimental.each do |producer|  %>
          <% if producer.producer_profile.genre == "Experimental" %>
          <div class="utica">
            <%= render 'producers/partials/producer_profile_image', :producer => producer %>
              <div class="hertel">
                <center><%= link_to producer.producer_name, producer_path(producer) %></center>
              </div>
              <div class="hertel">
                <center><%= producer.producer_profile.location unless producer.producer_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= producer.id %>">
                <%= render "producers/partials/relationships/index_follower_count", :producer => producer %>
              </div>
            </div>

            <div class="index_follow_button_<%= producer.id %>">
              <%= render "producers/partials/relationships/index_follow_button", :producer => producer %>
            </div>

            </div>
          <% end %>
        <% end %>
      </div>

      <div id="container-hip-hop-rap" class="ferry colvin">
        <% @producers.hiphoprap.each do |producer|  %>
          <% if producer.producer_profile.genre == "Hip-Hop/Rap" %>
          <div class="utica">
            <%= render 'producers/partials/producer_profile_image', :producer => producer %>
              <div class="hertel">
                <center><%= link_to producer.producer_name, producer_path(producer) %></center>
              </div>
              <div class="hertel">
                <center><%= producer.producer_profile.location unless producer.producer_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= producer.id %>">
                <%= render "producers/partials/relationships/index_follower_count", :producer => producer %>
              </div>
            </div>

            <div class="index_follow_button_<%= producer.id %>">
              <%= render "producers/partials/relationships/index_follow_button", :producer => producer %>
            </div>

            </div>
          <% end %>
        <% end %>
      </div>

      <div id="container-indie" class="ferry colvin">
        <% @producers.indie.each do |producer|  %>
          <% if producer.producer_profile.genre == "Indie" %>
          <div class="utica">
            <%= render 'producers/partials/producer_profile_image', :producer => producer %>
              <div class="hertel">
                <center><%= link_to producer.producer_name, producer_path(producer) %></center>
              </div>
              <div class="hertel">
                <center><%= producer.producer_profile.location unless producer.producer_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= producer.id %>">
                <%= render "producers/partials/relationships/index_follower_count", :producer => producer %>
              </div>
            </div>

            <div class="index_follow_button_<%= producer.id %>">
              <%= render "producers/partials/relationships/index_follow_button", :producer => producer %>
            </div>

            </div>
          <% end %>
        <% end %>
      </div>

      <div id="container-jazz" class="ferry colvin">
        <% @producers.jazz.each do |producer|  %>
          <% if producer.producer_profile.genre == "Jazz" %>
          <div class="utica">
            <%= render 'producers/partials/producer_profile_image', :producer => producer %>
              <div class="hertel">
                <center><%= link_to producer.producer_name, producer_path(producer) %></center>
              </div>
              <div class="hertel">
                <center><%= producer.producer_profile.location unless producer.producer_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= producer.id %>">
                <%= render "producers/partials/relationships/index_follower_count", :producer => producer %>
              </div>
            </div>

            <div class="index_follow_button_<%= producer.id %>">
              <%= render "producers/partials/relationships/index_follow_button", :producer => producer %>
            </div>

            </div>
          <% end %>
        <% end %>
      </div>

      <div id="container-latino" class="ferry colvin">
        <% @producers.latino.each do |producer|  %>
          <% if producer.producer_profile.genre == "Latino" %>
          <div class="utica">
            <%= render 'producers/partials/producer_profile_image', :producer => producer %>
              <div class="hertel">
                <center><%= link_to producer.producer_name, producer_path(producer) %></center>
              </div>
              <div class="hertel">
                <center><%= producer.producer_profile.location unless producer.producer_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= producer.id %>">
                <%= render "producers/partials/relationships/index_follower_count", :producer => producer %>
              </div>
            </div>

            <div class="index_follow_button_<%= producer.id %>">
              <%= render "producers/partials/relationships/index_follow_button", :producer => producer %>
            </div>

            </div>
          <% end %>
        <% end %>
      </div>

      <div id="container-metal" class="ferry colvin">
        <% @producers.metal.each do |producer|  %>
          <% if producer.producer_profile.genre == "Metal" %>
          <div class="utica">
            <%= render 'producers/partials/producer_profile_image', :producer => producer %>
              <div class="hertel">
                <center><%= link_to producer.producer_name, producer_path(producer) %></center>
              </div>
              <div class="hertel">
                <center><%= producer.producer_profile.location unless producer.producer_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= producer.id %>">
                <%= render "producers/partials/relationships/index_follower_count", :producer => producer %>
              </div>
            </div>

            <div class="index_follow_button_<%= producer.id %>">
              <%= render "producers/partials/relationships/index_follow_button", :producer => producer %>
            </div>

            </div>
          <% end %>
        <% end %>
      </div>

      <div id="container-pop" class="ferry colvin">
        <% @producers.pop.each do |producer|  %>
          <% if producer.producer_profile.genre == "Pop" %>
          <div class="utica">
            <%= render 'producers/partials/producer_profile_image', :producer => producer %>
              <div class="hertel">
                <center><%= link_to producer.producer_name, producer_path(producer) %></center>
              </div>
              <div class="hertel">
                <center><%= producer.producer_profile.location unless producer.producer_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= producer.id %>">
                <%= render "producers/partials/relationships/index_follower_count", :producer => producer %>
              </div>
            </div>

            <div class="index_follow_button_<%= producer.id %>">
              <%= render "producers/partials/relationships/index_follow_button", :producer => producer %>
            </div>

            </div>
          <% end %>
        <% end %>
      </div>

      <div id="container-rb-soul" class="ferry colvin">
        <% @producers.rbsoul.each do |producer|  %>
          <% if producer.producer_profile.genre == "R&B/Soul" %>
          <div class="utica">
            <%= render 'producers/partials/producer_profile_image', :producer => producer %>
              <div class="hertel">
                <center><%= link_to producer.producer_name, producer_path(producer) %></center>
              </div>
              <div class="hertel">
                <center><%= producer.producer_profile.location unless producer.producer_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= producer.id %>">
                <%= render "producers/partials/relationships/index_follower_count", :producer => producer %>
              </div>
            </div>

            <div class="index_follow_button_<%= producer.id %>">
              <%= render "producers/partials/relationships/index_follow_button", :producer => producer %>
            </div>

          </div>
          <% end %>
        <% end %>
      </div>

      <div id="container-rock" class="ferry colvin">
        <% @producers.rock.each do |producer|  %>
          <% if producer.producer_profile.genre == "Rock" %>
          <div class="utica">
            <%= render 'producers/partials/producer_profile_image', :producer => producer %>
              <div class="hertel">
                <center><%= link_to producer.producer_name, producer_path(producer) %></center>
              </div>
              <div class="hertel">
                <center><%= producer.producer_profile.location unless producer.producer_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= producer.id %>">
                <%= render "producers/partials/relationships/index_follower_count", :producer => producer %>
              </div>
            </div>

            <div class="index_follow_button_<%= producer.id %>">
              <%= render "producers/partials/relationships/index_follow_button", :producer => producer %>
            </div>

          </div>
          <% end %>
        <% end %>
      </div>

      <div id="container-singer-songwriter" class="ferry colvin">
        <% @producers.singersongwriter.each do |producer|  %>
          <% if producer.producer_profile.genre == "Singer/Songwriter" %>
          <div class="utica">
            <%= render 'producers/partials/producer_profile_image', :producer => producer %>
              <div class="hertel">
                <center><%= link_to producer.producer_name, producer_path(producer) %></center>
              </div>
              <div class="hertel">
                <center><%= producer.producer_profile.location unless producer.producer_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= producer.id %>">
                <%= render "producers/partials/relationships/index_follower_count", :producer => producer %>
              </div>
            </div>

            <div class="index_follow_button_<%= producer.id %>">
              <%= render "producers/partials/relationships/index_follow_button", :producer => producer %>
            </div>

            </div>
          <% end %>
        <% end %>
      </div>

      <div id="container-soundtrack" class="ferry colvin">
        <% @producers.soundtrack.each do |producer|  %>
          <% if producer.producer_profile.genre == "soundtrack" %>
          <div class="utica">
           <%= render 'producers/partials/producer_profile_image', :producer => producer %>
              <div class="hertel">
                <center><%= link_to producer.producer_name, producer_path(producer) %></center>
              </div>
              <div class="hertel">
                <center><%= producer.producer_profile.location unless producer.producer_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= producer.id %>">
                <%= render "producers/partials/relationships/index_follower_count", :producer => producer %>
              </div>
            </div>

            <div class="index_follow_button_<%= producer.id %>">
              <%= render "producers/partials/relationships/index_follow_button", :producer => producer %>
            </div>

          </div>
          <% end %>
        <% end %>
      </div>

      <div id="container-world" class="ferry colvin">
        <% @producers.world.each do |producer|  %>
          <% if producer.producer_profile.genre == "World" %>
          <div class="utica">
            <%= render 'producers/partials/producer_profile_image', :producer => producer %>
              <div class="hertel">
                <center><%= link_to producer.producer_name, producer_path(producer) %></center>
              </div>
              <div class="hertel">
                <center><%= producer.producer_profile.location unless producer.producer_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= producer.id %>">
                <%= render "producers/partials/relationships/index_follower_count", :producer => producer %>
              </div>
            </div>

            <div class="index_follow_button_<%= producer.id %>">
              <%= render "producers/partials/relationships/index_follow_button", :producer => producer %>
            </div>

          </div>
          <% end %>
        <% end %>
      </div>

    <% else %>
    <div class="highgate">
      there are no producers containing the term(s) "<%= params[:search] %>". <%= link_to "discover other producers?", producers_path %>
    <% end %>
  </div>
</div>
<%= render "partials/uni_footer" %>
