<%= provide(:title, sanitize(@producer.producer_name)) %>
<div class="buffalo">
  <% if @producer.producer_profile.cover_image.blank? %>
    <div class="clinton">
      <% if producer_signed_in? && @producer.id == current_producer.id %>
        you do not have a cover image yet. <%= link_to "add one?", edit_producer_profile_path(current_producer) %>
      <% else %>
        <%= "#{@producer.producer_name} hasn't uploaded a cover photo yet" %>
      <% end %>
    </div>
  <% else %>
    <div class="broadway">
      <img srcset="<%= @producer.producer_profile.cover_image %>" width="100%" height="auto" />
    </div>
  <% end %>
  <div class="delaware">


    <div class="main">
      <div class="hedley">
        <%= @producer.producer_name %>
      </div>

      <div id="following">
        <%= render 'producers/partials/relationships/following' %>
      </div>

      <% if @producer == current_producer %>
      <% else %>
      <div class="niagara">
        <div class="harlem">
        <div class="follow_button">
          <%= render 'producers/partials/relationships/follow_button' %>
        </div>
        </div>
      </div>
      <% end %>

      <div class="microposts_form">
        <%= render 'producers/partials/microposts/microposts_form' %>
      </div>

      <div class="microposts_js">
        <%= render 'producers/partials/microposts/index_microposts' %>
      </div>

    </div>


    <div class="pearl">
      <div class="dodge">

        <% if @producer == current_producer %>
        <% else %>
        <div class="washington">
          <div class="lisbon">
          <div class="follow_button">
            <%= render 'producers/partials/relationships/follow_button' %>
          </div>
          </div>
        </div>
        <% end %>

        <div id="follower_count">
          <%= render 'producers/partials/relationships/follower_count' %>
        </div>

        <% if producer_signed_in? && @producer.id == current_producer.id && @producer.producer_profile.location.blank? && @producer.producer_profile.genre.blank? && @producer.producer_profile.founded && @producer.producer_profile.artists.blank? && @producer.producer_profile.biography.blank? && @producer.producer_profile.facebook_url.blank? && @producer.producer_profile.twitter_url.blank? && @producer.producer_profile.youtube_url.blank? && @producer.producer_profile.website %>
          <div class="amherst">
            you do not have any profile information
          </div>
          <div class="jefferson">
            <%= link_to "update your profile", edit_producer_profile_path(current_producer) %>
          </div>
        <% elsif @producer.producer_profile.location.blank? && @producer.producer_profile.genre.blank? && @producer.producer_profile.founded && @producer.producer_profile.artists.blank? && @producer.producer_profile.biography.blank? && @producer.producer_profile.facebook_url.blank? && @producer.producer_profile.twitter_url.blank? && @producer.producer_profile.youtube_url.blank? && @producer.producer_profile.website %>
          <div class="amherst">
            <%= "#{@producer.producer_name} does not have any profile information yet" %>
          </div>
        <% end %>
        <% if @producer.producer_profile.location.blank? %>
        <% else %>
        <div class="jefferson">
          location //
        </div>
        <div class="fillmore">
          <%= @producer.producer_profile.location %>
        </div>
        <% end %>
        <% if @producer.producer_profile.founded.blank? %>
        <% else %>
        <div class="jefferson">
          founded //
        </div>
        <div class="fillmore">
          <%= @producer.producer_profile.founded %>
        </div>
        <% end %>
        <% if @producer.producer_profile.genre.blank? %>
        <% else %>
        <div class="jefferson">
          genre //
        </div>
        <div class="fillmore">
          <%= @producer.producer_profile.genre %>
        </div>
        <% end %>
        <% if @producer.producer_profile.artists.blank? %>
        <% else %>
        <div class="jefferson">
          artists //
        </div>
        <div class="fillmore">
          <%= @producer.producer_profile.artists %>
        </div>
        <% end %>
        <% if @producer.producer_profile.biography.blank? %>
        <% else %>
        <div class="jefferson">
          biography //
        </div>
        <div class="fillmore">
          <%= @producer.producer_profile.biography %>
        </div>
        <% end %>
        <% if @producer.producer_profile.website.blank? %>
        <% else %>
        <div class="fillmore">
          <%= link_to "#{@producer.producer_name}'s website", @producer.producer_profile.website %>
        </div>
        <% end %>
        <% if @producer.producer_profile.facebook_url.blank? %>
        <% else %>
        <div class="fillmore">
          <%= link_to "Facebook", @producer.producer_profile.facebook_url %>
        </div>
        <% end %>
        <% if @producer.producer_profile.twitter_url.blank? %>
        <% else %>
        <div class="fillmore">
          <%= link_to "Twitter", @producer.producer_profile.twitter_url %>
        </div>
        <% end %>
        <% if @producer.producer_profile.youtube_url.blank? %>
        <% else %>
        <div class="fillmore">
          <%= link_to "YouTube", @producer.producer_profile.youtube_url %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "partials/uni_footer" %>

<% if buffalo_signed_in? %>
  <div class="forest">
    <li><%= @producer.id %></li>
    <li><%= @producer.producer_name %></li>
    <li><%= @producer.username %></li>
    <li><%= @producer.email %></li>
    <li><%= @producer.sign_in_count %></li>
    <li><%= @producer.last_sign_in_at %></li>
  </div>
<% end %>
