<%= provide(:title, sanitize(@producer.producer_name)) %>
<div class="buffalo">
  <% if @producer.producer_profile.cover_image == "" %>
    <div class="clinton">
      <% if producer_signed_in? && @producer.id == current_producer.id %>
        you do not have a cover image yet. <%= link_to "add one?", edit_producer_profile_path(current_producer) %>
      <% else %>
        <%= "#{@producer.producer_name} hasn't uploaded a cover photo yet" %>
      <% end %>
    </div>
  <% else %>
    <div class="broadway">
      <img srcset="<%= @producer.producer_profile.cover_image %>" width="100%" height="auto" />
    </div>
  <% end %>
  <div class="delaware">


    <div class="main">
      <div class="hedley">
        <%= @producer.producer_name %>
      </div>

      <div id="following">
        <%= render 'producers/partials/relationships/following' %>
      </div>

      <% if @producer == current_producer %>
      <% else %>
      <div class="niagara">
        <div class="harlem">
        <div class="follow_button">
          <%= render 'producers/partials/relationships/follow_button' %>
        </div>
        </div>
      </div>
      <% end %>

      <div class="microposts_form">
        <%= render 'producers/partials/microposts/microposts_form' %>
      </div>

      <div class="microposts_js">
        <%= render 'producers/partials/microposts/index_microposts' %>
      </div>

    </div>


    <div class="pearl">

      <% if @producer == current_producer %>
      <% else %>
      <div class="washington">
        <div class="lisbon">
        <div class="follow_button">
          <%= render 'producers/partials/relationships/follow_button' %>
        </div>
        </div>
      </div>
      <% end %>

      <div id="follower_count">
        <%= render 'producers/partials/relationships/follower_count' %>
      </div>

      <% if producer_signed_in? && @producer.id == current_producer.id && @producer.producer_profile.location == "" && @producer.producer_profile.genre == "" && @producer.producer_profile.founded && @producer.producer_profile.artists == "" && @producer.producer_profile.biography == "" && @producer.producer_profile.facebook_url == "" && @producer.producer_profile.twitter_url == "" && @producer.producer_profile.youtube_url == "" && @producer.producer_profile.website %>
        <p class="hertel">you do not have any profile information</p>
        <div class="jefferson">
          <%= link_to "update your profile", edit_producer_profile_path(current_producer) %>
        </div>
      <% elsif @producer.producer_profile.location == "" && @producer.producer_profile.genre == "" && @producer.producer_profile.founded && @producer.producer_profile.artists == "" && @producer.producer_profile.biography == "" && @producer.producer_profile.facebook_url == "" && @producer.producer_profile.twitter_url == "" && @producer.producer_profile.youtube_url == "" && @producer.producer_profile.website %>
        <p class="hertel"><%= "#{@producer.producer_name} does not have any profile information yet" %></p>
      <% end %>
      <% if @producer.producer_profile.location == "" %>
      <% else %>
      <p class="jefferson">location //</p>
      <p class="fillmore"><%= @producer.producer_profile.location %></p>
      <% end %>
      <% if @producer.producer_profile.founded == "" %>
      <% else %>
      <p class="jefferson">founded //</p>
      <p class="fillmore"><%= @producer.producer_profile.founded %></p>
      <% end %>
      <% if @producer.producer_profile.genre == "" %>
      <% else %>
      <p class="jefferson">genre //</p>
      <p class="fillmore"><%= @producer.producer_profile.genre %></p>
      <% end %>
      <% if @producer.producer_profile.artists == "" %>
      <% else %>
      <p class="jefferson">artists //</p>
      <p class="fillmore"><%= @producer.producer_profile.artists %></p>
      <% end %>
      <% if @producer.producer_profile.biography == "" %>
      <% else %>
      <p class="jefferson">biography //</p>
      <p class="fillmore"><%= @producer.producer_profile.biography %></p>
      <% end %>
      <% if @producer.producer_profile.website == "" %>
      <% else %>
      <p class="fillmore"><%= link_to "#{@producer.producer_name}'s website", @producer.producer_profile.website %></p>
      <% end %>
      <% if @producer.producer_profile.facebook_url == "" %>
      <% else %>
      <p class="fillmore"><%= link_to "Facebook", @producer.producer_profile.facebook_url %></p>
      <% end %>
      <% if @producer.producer_profile.twitter_url == "" %>
      <% else %>
      <p class="fillmore"><%= link_to "Twitter", @producer.producer_profile.twitter_url %></p>
      <% end %>
      <% if @producer.producer_profile.youtube_url == "" %>
      <% else %>
      <p class="fillmore"><%= link_to "YouTube", @producer.producer_profile.youtube_url %></p>
      <% end %>
    </div>
  </div>
</div>
<%= render "partials/uni_footer" %>

<% if buffalo_signed_in? %>
  <div class="forest">
    <li><%= @producer.id %></li>
    <li><%= @producer.producer_name %></li>
    <li><%= @producer.username %></li>
    <li><%= @producer.email %></li>
    <li><%= @producer.sign_in_count %></li>
    <li><%= @producer.last_sign_in_at %></li>
  </div>
<% end %>
