<%= provide(:title, sanitize(@producer.producer_name)) %>
<div class="buffalo">

  <%= render 'producers/partials/producer_cover_image' %>

  <div class="delaware">

    <main class="main">

      <ul class="carolina">
        <li class="jersey"><%= link_to "timeline", producer_path(@producer) %></li>
        <li><%= link_to "videos", producer_videos_path(@producer) %></li>
      </ul>

      <%= render 'producers/partials/producer_name' %>

      <div class="microposts_form">
        <%= render 'producers/partials/microposts/microposts_form' %>
      </div>

      <div class="microposts_js">
        <%= render 'producers/partials/microposts/index_microposts' %>
      </div>

    </main>

    <%= render 'producers/partials/producer_sidebar' %>

  </div>
</div>
<%= render "partials/uni_footer" %>

<% if buffalo_signed_in? %>
  <div class="forest">
    <li><%= @producer.id %></li>
    <li><%= @producer.producer_name %></li>
    <li><%= @producer.username %></li>
    <li><%= @producer.email %></li>
    <li><%= @producer.sign_in_count %></li>
    <li><%= @producer.last_sign_in_at %></li>
  </div>
<% end %>
