<%= provide(:title, sanitize(@developer.title)) %>
<%= render "developers/partials/developer_header" %>
<div class="buffalo">
  <div class="delaware">

    <main class="roesch">
      <div class="highgate">
        <img srcset="<%= @developer.image %>" width="100%" height="auto" />
      </div>
      <h1><%= @developer.title %></h1>
      <div class="amherst">
        posted by <%= Buffalo.find(@developer.buffalo_id).buffalo_name %> // follow him on twitter <a href="https://twitter.com/realalexheil">here</a>.
      </div>
      <article class="best">
        <%= sanitize(@developer.content) %>
      </article>

      <h3>
        grant others with this knowledge on...
      </h3>
      <div class="amherst">
        <a onclick="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u=<%= developer_url(@developer) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0)" class="sfacebook">facebook</a> |
        <a onclick="javascript:window.open('http://twitter.com/share?text=<%= @developer.title %> - &amp;url=<%= developer_url(@developer) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0)" class="stwitter">twitter</a> |
        <a onclick="javascript:window.open('https://plus.google.com/share?url=<%= developer_url(@developer) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0)" class="sgoogleplus">google+</a>
      </div>

      <div class="harlem">
        <a class="linden"><span class="comments_count"><%= render 'developers/partials/comments/comments_count' %></span></a>
      </div>

      <div class="walden">
        <div class="minnesota">

          <div class="comments_js">
            <%= render 'developers/partials/comments/comments' %>
          </div>

          <div class="comments_form">
            <%= render 'developers/partials/comments/comments_form' %>
          </div>

        </div>
      </div>

      <div class="amherst">
        <%= link_to "see all developer posts", developers_path %>
      </div>

    </main>

  </div>
</div>
<%= render "partials/uni_footer" %>

<% if buffalo_signed_in? %>
  <%= link_to "edit", edit_developer_path %> // <%= link_to "delete", developer_path, data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete %>
<% end %>
