<%= provide(:title, sanitize(@developer.title)) %>
<%= render "developers/partials/developer_header" %>
<div class="buffalo">
  <div class="delaware">

    <main class="main">
      <h1><%= @developer.title %></h1>
      <div class="amherst">
        posted by <%= Buffalo.find(@developer.buffalo_id).buffalo_name %> // follow him on twitter <a href="https://twitter.com/realalexheil">here</a>.
      </div>
      <article class="best">
        <%= sanitize(@developer.content) %>
      </article>

      <div class="harlem">
        <a class="linden"><span class="comments_count"><%= render 'developers/partials/comments/comments_count' %></span></a>
      </div>

      <div class="walden">
        <div class="minnesota">

          <div class="comments_js">
            <%= render 'developers/partials/comments/comments' %>
          </div>

          <div class="comments_form">
            <%= render 'developers/partials/comments/comments_form' %>
          </div>

        </div>
      </div>

      <div class="amherst">
        <%= link_to "see all developer posts", developers_path %>
      </div>

    </main>

    <%= render "developers/partials/developer_sidebar" %>

  </div>
</div>
<%= render "partials/uni_footer" %>

<% if buffalo_signed_in? %>
  <%= link_to "edit", edit_developer_path %> // <%= link_to "delete", developer_path, data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete %>
<% end %>
