<%= provide(:title, "Register As A Venue | Noisaea //") %>
<%= render 'partials/uni_header' %>
<div class="buffalo">
  <div class="delaware">
    <div class="elmwood">
      <div class="harlem">
        <h1>register as a venue</h1>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="highgate">
          <div class="amherst temp">
            username <span class="posted">(url)</span>
          </div>
          <%= f.text_field :username, autofocus: true, class: "huron" %>
        </div>
        <div class="highgate">
          <div class="amherst temp">
            venue name
          </div>
          <%= f.text_field :venue_name, class: "huron" %>
        </div>
        <div class="highgate">
          <div class="amherst temp">
            email
          </div>
          <%= f.email_field :email, class: "huron" %>
        </div>
        <div class="highgate">
          <div class="amherst temp">
            password <span class="posted">(at least 8 characters)</span>
          </div>
          <%= f.password_field :password, autocomplete: "off", class: "huron" %>
        </div>
        <div class="ellicott">
          <%= f.submit "register", class: "exchange" %>
        </div>
      <% end %>
      <div class="harlem">
        by clicking 'register' you are agreeing to our <%= link_to 'terms of use', terms_of_use_path %> and <%= link_to 'privacy policy', privacy_path %>
      </div>
      <div class="virginia">
        <%= render "venues/shared/links" %>
      </div>
    </div>
  </div>
</div>
<%= render 'partials/uni_footer' %>
