<%= provide(:title, "Edit A Video") %>
<div class="buffalo">
  <div class="delaware">
    <div class="elmwood">
      <div class="harlem">
        <h1>edit <%= @video.title %></h1>
      </div>

      <%= form_for(@video, url: record_label_video_path) do |f| %>
        <%= f.hidden_field :record_label_id %>
        <%= render 'errors/video_errors' %>
        <div class="highgate">
          <div class="amherst temp">
            title
          </div>
          <%= f.text_field :title, class: "huron" %>
        </div>
        <div class="highgate">
          <div class="amherst temp">
            youtube url
          </div>
          <%= f.text_field :youtube_url, class: "huron" %>
        </div>
        <div class="highgate">
          <div class="amherst temp">
            description
          </div>
          <%= f.text_area :description, class: "chippewa" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
<%= render 'partials/uni_footer' %>
