<%= provide(:title, "Edit A Video") %>
<div class="buffalo">
  <div class="delaware">
    <div class="elmwood">
      <div class="harlem">
        <h1>edit <%= @video.title %></h1>
      </div>

      <%= form_for(@video, url: artist_video_path) do |f| %>
        <%= f.hidden_field :artist_id %>
        <%= render 'errors/video_errors' %>
        <div class="highgate">
          <%= f.text_field :title, placeholder: "title", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :youtube_url, placeholder: "youtube url", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_area :description, placeholder: "description", class: "chippewa" %>
        </div>
        <div class="ellicott">
          <%= f.submit "update video", class: "exchange" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
<%= render 'partials/uni_footer' %>
