<%= provide(:title, sanitize(@artist.artist_name) + " | Videos") %>
<div class="buffalo">

  <%= render 'artists/partials/artist_cover_image' %>

  <div class="delaware">

    <main class="main">

      <ul class="carolina">
        <li><%= link_to "timeline", artist_path(@artist) %></li>
        <li><%= link_to "music", artist_albums_path(@artist) %></li>
        <li><%= link_to "merch", artist_merches_path(@artist) %></li>
        <li><%= link_to "shows", artist_shows_path(@artist) %></li>
        <li class="jersey"><%= link_to "videos", artist_videos_path(@artist) %></li>
      </ul>

      <%= render 'artists/partials/artist_name' %>

      <% if @artist == current_artist %>
        <div class="harlem vermont">
          <%= link_to "add a video", new_artist_video_path(@artist), class: "sugar" %>
        </div>
      <% end %>

      <% if @videos.any? %>
        <% @videos.each do |video| %>
          <div class="ogden">
            <div class="plymouth">
              <%= embed(video.youtube_url) %>
            </div>
            <div class="auburn">
              <%= link_to video.title, artist_video_path(@artist, video) %>
              <% if @artist == current_artist %>
                // <%= link_to "edit", edit_artist_video_path(@artist, video) %> or <%= link_to "delete", artist_video_path(@artist, video), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete %>
              <% end %>
            </div>
          </div>
        <% end %>

        <div><%= paginate @videos, :window => 2 %></div>

      <% else %>
        <div class="harlem">
          <% if @artist == current_artist %>
            you do not have any videos. <%= link_to "add one?", new_artist_video_path(@artist) %>
          <% else %>
            <%= @artist.artist_name %> does not have any videos.
          <% end %>
        </div>
      <% end %>

    </main>

    <%= render 'artists/partials/artist_sidebar' %>

  </div>
</div>
<%= render "partials/uni_footer" %>
