<% @post.post_comments.sort_by{ |comment| -comment.post_comment_votes.count }.take(100).each do |comment| %>
<div class="northrup">
  <div class="amherst">
    <%= link_to comment.artist.artist_name, artist_path(comment.artist) if comment.artist.present? %><%= link_to comment.fan.fan_name, fan_path(comment.fan) if comment.fan.present? %><%= link_to comment.record_label.label_name, record_label_path(comment.record_label) if comment.record_label.present? %><%= link_to comment.venue.venue_name, venue_path(comment.venue) if comment.venue.present? %><%= link_to comment.producer.producer_name, producer_path(comment.producer) if comment.producer.present? %> posted <%= time_ago_in_words(comment.created_at) %> ago
    <% if (buffalo_signed_in? && @post.buffalo == current_buffalo) || (fan_signed_in? && current_fan == comment.fan) || (record_label_signed_in? && current_record_label == comment.record_label) || (venue_signed_in? && current_venue == comment.venue) || (producer_signed_in? && current_producer == comment.producer) %>
    // <%= link_to "delete comment", post_comment_path(@post, comment), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete, remote: true %>
    <% end %>
  </div>

  <div class="amherst">
    <%= comment.content %>
  </div>

  <div class="amherst">

    <div class="comment_votes_<%= comment.id %>">
      <%= render 'posts/partials/comments/comment_votes',:comment => comment %>
    </div>

    <span class="comment_votes_count_<%= comment.id %>">
      <%= render 'posts/partials/comments/comment_votes_count', :comment => comment %>
    </span>

  </div>

</div>
<% end %>
