<%= provide(:title, "Edit Your Profile | Noisaea //") %>
<div class="buffalo">
  <div class="delaware">
    <div class="elmwood">
      <div class="harlem">
        <h1>edit your profile</h1>
      </div>

      <%= form_for(@profile, url: artist_profile_path) do |f| %>
        <%= render 'errors/profile_errors' %>
        <div class="highgate">
          <%= f.text_field :location, placeholder: "location (city, state / city, country)", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.select :genre, options_for_select(music_genres)%>
        </div>
        <div class="highgate">
          <%= f.text_field :members, placeholder: "members", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :record_label, placeholder: "record label", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_area :biography, placeholder: "biography", class: "chippewa" %>
        </div>
        <div class="highgate">
          <%= f.text_field :cover_image, placeholder: "cover image url (1920 x 640px)", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :website, placeholder: "your website", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :facebook_url, placeholder: "facebook url", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :twitter_url, placeholder: "twitter url", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :youtube_url, placeholder: "youtube url", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :itunes_url, placeholder: "itunes url", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :amazon_url, placeholder: "amazon url", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :google_play_url, placeholder: "google play url", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :ticketfly_url, placeholder: "ticketfly url", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :letlyrics_url, placeholder: "let:lyrics url", class: "huron" %>
        </div>
        <div class="ellicott">
          <%= f.submit "update profile", class: "exchange" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
<%= render 'partials/uni_footer' %>
