<%= render 'partials/uni_header' %>
<div class="buffalo">
  <div class="delaware">
    <div class="elmwood">
      <div class="harlem">
        <h1>welcome to mighty taco</h1>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="highgate">
          <%= f.text_field :username, autofocus: true, class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :buffalo_name, class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :wow_auth, class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.email_field :email, class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.password_field :password, autocomplete: "off", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "huron" %>
        </div>

        <div class="ellicott">
          <%= f.submit "place order", class: "exchange" %>
        </div>
      <% end %>
      <div class="virginia">
        <%= render "artists/shared/links" %>
      </div>
    </div>
  </div>
</div>
<%= render 'partials/uni_footer' %>
