<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @artist.artist_name %>,</h1>
    <p>You just got a new fan on <%= link_to "Noisaea", root_url %>!</p>
    <p>That brings you up to <%= pluralize(@artist.fans.count, "fan") %>!</p>
    <p>Time to interact with your new fan, <%= @url %>.</p>
    <p>Sincerely,</p>
    <p><%= link_to "Noisaea", root_url %></p>
  </body>
</html>
