<%= provide(:title, sanitize(@record_label.label_name) + " | Followers") %>
<div class="buffalo">

  <%= render 'recordlabels/partials/record_label_cover_image' %>

  <div class="delaware">

    <%= render 'recordlabels/partials/record_label_name' %>

    <% if @record_label.fans.any? %>
    <div class="harlem">
        <% @record_label.fans.take(100).each do |fan| %>
          <div class="utica">

            <%= render 'fans/partials/fan_profile_image', :fan => fan %>

            <div class="busti">
              <%= link_to fan.fan_name, fan_path(fan) %>
            </div>
          </div>
        <% end %>
    </div>
    <% end %>

  </div>
</div>
<%= render 'partials/uni_footer' %>
