<%= provide(:title, sanitize(@record_label.label_name) + " | Followers") %>
<div class="buffalo">
  <% if @record_label.record_label_profile.cover_image.blank? %>
    <div class="clinton">
      <% if record_label_signed_in? && @record_label.id == current_record_label.id %>
        you do not have a cover image yet. <%= link_to "add one?", edit_record_label_profile_path(current_record_label) %>
      <% else %>
        <%= "#{@record_label.record_label_name} hasn't uploaded a cover photo yet" %>
      <% end %>
    </div>
  <% else %>
    <div class="broadway">
      <img srcset="<%= @record_label.record_label_profile.cover_image %>" width="100%" height="auto" />
    </div>
  <% end %>
  <div class="delaware">
    <div class="winspear hedley">
      <%= link_to @record_label.label_name, record_label_path(@record_label) %>
    </div>
    <div class="amherst">
      <strong>// <%= pluralize(@record_label.fans.count, "fan") %></strong>
    </div>

    <% if @record_label.fans.any? %>
    <div class="harlem">
        <% @record_label.fans.take(100).each do |fan| %>
          <div class="utica">

            <% if fan.fan_profile.cover_image.blank? %>
              <div class="sycamore">
                <% if fan_signed_in? && fan.id == current_fan.id %>
                  you do not have a profile image yet
                <% else %>
                  <%= "#{fan.fan_name} hasn't uploaded a profile image yet" %>
                <% end %>
              </div>
            <% else %>
            <div class="genesee">
              <img srcset="<%= fan.fan_profile.cover_image %>" width="100%" height="auto" />
            </div>
            <% end %>

            <center><%= link_to fan.fan_name, fan_path(fan) %></center>
          </div>
        <% end %>
    </div>
    <% end %>

  </div>
</div>
<%= render 'partials/uni_footer' %>
