<%= provide(:title, "Discover Record Labels") %>
<%= render "partials/uni_header" %>
<div class="buffalo">
  <div class="delaware">

    <div class="washington">
      <div class="fargo">
        <h1>discover record labels</h1>
      </div>
    </div>
    <div class="fargo">
      <%= form_tag(record_labels_path, :method => "get") do %>
        <div class="highgate">
          <%= text_field_tag :search, params[:search], placeholder: "search record labels", class: "huron" %>
        </div>
          <%= submit_tag "search", class: "exchange", :style => "display: none;" %>
      <% end %>
    </div>

    <% if @record_labels.present? %>

    <div class="washington">
      <div class="highgate">
        <div id="popular" class="porter lafayette">
          popular
        </div>
        <div id="recent" class="porter">
          recent
        </div>
        <div id="location" class="porter">
          <% if fan_signed_in? && current_fan.fan_profile.location.present? %>
            <%= current_fan.fan_profile.location.downcase %>
          <% else %>
            location
          <% end %>
        </div>
        <div id="alternative" class="porter">
          alternative
        </div>
        <div id="ambient" class="porter">
          ambient
        </div>
        <div id="blues" class="porter">
          blues
        </div>
        <div id="classical" class="porter">
          classical
        </div>
        <div id="comedy" class="porter">
          comedy
        </div>
        <div id="country" class="porter">
          country
        </div>
        <div id="electronic" class="porter">
          electronic
        </div>
        <div id="experimental" class="porter">
          experimental
        </div>
        <div id="hip-hop-rap" class="porter">
          hip-hop/rap
        </div>
        <div id="indie" class="porter">
          indie
        </div>
        <div id="jazz" class="porter">
          jazz
        </div>
        <div id="latino" class="porter">
          latino
        </div>
        <div id="metal" class="porter">
          metal
        </div>
        <div id="pop" class="porter">
          pop
        </div>
        <div id="rb-soul" class="porter">
          r&b/soul
        </div>
        <div id="rock" class="porter">
          rock
        </div>
        <div id="singer-songwriter" class="porter">
          singer/songwriter
        </div>
        <div id="soundtrack" class="porter">
          soundtrack
        </div>
        <div id="world" class="porter">
          world
        </div>
      </div>
    </div>

    <div class="niagara">
      <div class="highgate">
      <center>
        <div id="mpopular" class="porter lafayette">
          <strong>popular</strong>
        </div>
        <div id="mrecent" class="porter">
          <strong>recent</strong>
        </div>
        <div id="mlocation" class="porter">
          <strong>location</strong>
        </div>
        <strong><a class="porter adams">genres</a></strong>
        <div class="grey">
          <div id="malternative" class="porter">
            alternative
          </div>
          <div id="mambient" class="porter">
            ambient
          </div>
          <div id="mblues" class="porter">
            blues
          </div>
          <div id="mclassical" class="porter">
            classical
          </div>
          <div id="mcomedy" class="porter">
            comedy
          </div>
          <div id="mcountry" class="porter">
            country
          </div>
          <div id="melectronic" class="porter">
            electronic
          </div>
          <div id="mexperimental" class="porter">
            experimental
          </div>
          <div id="mhip-hop-rap" class="porter">
            hip-hop/rap
          </div>
          <div id="mindie" class="porter">
            indie
          </div>
          <div id="mjazz" class="porter">
            jazz
          </div>
          <div id="mlatino" class="porter">
            latino
          </div>
          <div id="mmetal" class="porter">
            metal
          </div>
          <div id="mpop" class="porter">
            pop
          </div>
          <div id="mrb-soul" class="porter">
            r&b/soul
          </div>
          <div id="mrock" class="porter">
            rock
          </div>
          <div id="msinger-songwriter" class="porter">
            singer/songwriter
          </div>
          <div id="msoundtrack" class="porter">
            soundtrack
          </div>
          <div id="mworld" class="porter">
            world
          </div>
        </div>
      </center>
      </div>
    </div>

      <div id="container-popular" class="ferry">
        <% @record_labels.sort_by{ |record_label| -record_label.fans.count }.take(100).each do |record_label| %>
          <div class="utica">
            <%= render 'recordlabels/partials/record_label_profile_image', :record_label => record_label %>
              <div class="hertel">
                <center><%= link_to record_label.label_name, record_label_path(record_label) %></center>
              </div>
              <div class="hertel">
                <center><%= record_label.record_label_profile.genre unless record_label.record_label_profile.genre.blank? %></center>
              </div>
              <div class="hertel">
                <center><%= record_label.record_label_profile.location unless record_label.record_label_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= record_label.id %>">
                <%= render "recordlabels/partials/relationships/index_follower_count", :record_label => record_label %>
              </div>
            </div>

            <div class="index_follow_button_<%= record_label.id %>">
              <%= render "recordlabels/partials/relationships/index_follow_button", :record_label => record_label %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-recent" class="ferry colvin">
        <% @record_labels.order( 'id DESC' ).take(100).each do |record_label| %>
          <div class="utica">
            <%= render 'recordlabels/partials/record_label_profile_image', :record_label => record_label %>
            <div class="hertel">
              <center><%= link_to record_label.label_name, record_label_path(record_label) %></center>
            </div>
            <div class="hertel">
              <center><%= record_label.record_label_profile.genre unless record_label.record_label_profile.genre.blank? %></center>
            </div>
            <div class="hertel">
              <center><%= record_label.record_label_profile.location unless record_label.record_label_profile.location.blank? %></center>
            </div>
            <div class="hertel">
              <div class="index_follower_count_<%= record_label.id %>">
                <%= render "recordlabels/partials/relationships/index_follower_count", :record_label => record_label %>
              </div>
            </div>

            <div class="index_follow_button_<%= record_label.id %>">
              <%= render "recordlabels/partials/relationships/index_follow_button", :record_label => record_label %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-location" class="ferry colvin">
        <% if fan_signed_in? && current_fan.fan_profile.location.present? %>
          <% @record_labels.each do |record_label| if record_label.record_label_profile.location == current_fan.fan_profile.location %>
            <div class="utica">
              <%= render 'recordlabels/partials/record_label_profile_image', :record_label => record_label %>
              <div class="hertel">
                <center><%= link_to record_label.label_name, record_label_path(record_label) %></center>
              </div>
              <div class="hertel">
                <center><%= record_label.record_label_profile.location unless record_label.record_label_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= record_label.id %>">
                <%= render "recordlabels/partials/relationships/index_follower_count", :record_label => record_label %>
              </div>
            </div>

            <div class="index_follow_button_<%= record_label.id %>">
              <%= render "recordlabels/partials/relationships/index_follow_button", :record_label => record_label %>
            </div>

              </div>
            <% end %>
          <% end %>
        <% elsif fan_signed_in? && current_fan.fan_profile.location.blank? %>
          <div class="hertel">
            <center>Your location is blank! Go set it on <%= link_to "your profile", edit_fan_profile_path(current_fan) %>.</center>
          </div>
        <% else %>
          <div class="hertel">
            <center><%= link_to "sign in", new_fan_session_path %> to view record labels based on location</center>
          </div>
        <% end %>
      </div>

      <div id="container-alternative" class="ferry colvin">
        <% @record_labels.alternative.each do |record_label|  %>
          <div class="utica">
            <%= render 'recordlabels/partials/record_label_profile_image', :record_label => record_label %>
              <div class="hertel">
                <center><%= link_to record_label.label_name, record_label_path(record_label) %></center>
              </div>
              <div class="hertel">
                <center><%= record_label.record_label_profile.location unless record_label.record_label_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= record_label.id %>">
                <%= render "recordlabels/partials/relationships/index_follower_count", :record_label => record_label %>
              </div>
            </div>

            <div class="index_follow_button_<%= record_label.id %>">
              <%= render "recordlabels/partials/relationships/index_follow_button", :record_label => record_label %>
            </div>

            </div>
        <% end %>
      </div>

      <div id="container-ambient" class="ferry colvin">
        <% @record_labels.ambient.each do |record_label|  %>
          <div class="utica">
            <%= render 'recordlabels/partials/record_label_profile_image', :record_label => record_label %>
              <div class="hertel">
                <center><%= link_to record_label.label_name, record_label_path(record_label) %></center>
              </div>
              <div class="hertel">
                <center><%= record_label.record_label_profile.location unless record_label.record_label_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= record_label.id %>">
                <%= render "recordlabels/partials/relationships/index_follower_count", :record_label => record_label %>
              </div>
            </div>

            <div class="index_follow_button_<%= record_label.id %>">
              <%= render "recordlabels/partials/relationships/index_follow_button", :record_label => record_label %>
            </div>

            </div>
        <% end %>
      </div>

      <div id="container-blues" class="ferry colvin">
        <% @record_labels.blues.each do |record_label|  %>
          <div class="utica">
            <%= render 'recordlabels/partials/record_label_profile_image', :record_label => record_label %>
              <div class="hertel">
                <center><%= link_to record_label.label_name, record_label_path(record_label) %></center>
              </div>
              <div class="hertel">
                <center><%= record_label.record_label_profile.location unless record_label.record_label_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= record_label.id %>">
                <%= render "recordlabels/partials/relationships/index_follower_count", :record_label => record_label %>
              </div>
            </div>

            <div class="index_follow_button_<%= record_label.id %>">
              <%= render "recordlabels/partials/relationships/index_follow_button", :record_label => record_label %>
            </div>

            </div>
        <% end %>
      </div>

      <div id="container-classical" class="ferry colvin">
        <% @record_labels.classical.each do |record_label|  %>
          <div class="utica">
            <%= render 'recordlabels/partials/record_label_profile_image', :record_label => record_label %>
              <div class="hertel">
                <center><%= link_to record_label.label_name, record_label_path(record_label) %></center>
              </div>
              <div class="hertel">
                <center><%= record_label.record_label_profile.location unless record_label.record_label_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= record_label.id %>">
                <%= render "recordlabels/partials/relationships/index_follower_count", :record_label => record_label %>
              </div>
            </div>

            <div class="index_follow_button_<%= record_label.id %>">
              <%= render "recordlabels/partials/relationships/index_follow_button", :record_label => record_label %>
            </div>

            </div>
        <% end %>
      </div>

      <div id="container-comedy" class="ferry colvin">
        <% @record_labels.comedy.each do |record_label|  %>
          <div class="utica">
            <%= render 'recordlabels/partials/record_label_profile_image', :record_label => record_label %>
              <div class="hertel">
                <center><%= link_to record_label.label_name, record_label_path(record_label) %></center>
              </div>
              <div class="hertel">
                <center><%= record_label.record_label_profile.location unless record_label.record_label_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= record_label.id %>">
                <%= render "recordlabels/partials/relationships/index_follower_count", :record_label => record_label %>
              </div>
            </div>

            <div class="index_follow_button_<%= record_label.id %>">
              <%= render "recordlabels/partials/relationships/index_follow_button", :record_label => record_label %>
            </div>

            </div>
        <% end %>
      </div>

      <div id="container-country" class="ferry colvin">
        <% @record_labels.country.each do |record_label|  %>
          <div class="utica">
            <%= render 'recordlabels/partials/record_label_profile_image', :record_label => record_label %>
              <div class="hertel">
                <center><%= link_to record_label.label_name, record_label_path(record_label) %></center>
              </div>
              <div class="hertel">
                <center><%= record_label.record_label_profile.location unless record_label.record_label_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= record_label.id %>">
                <%= render "recordlabels/partials/relationships/index_follower_count", :record_label => record_label %>
              </div>
            </div>

            <div class="index_follow_button_<%= record_label.id %>">
              <%= render "recordlabels/partials/relationships/index_follow_button", :record_label => record_label %>
            </div>

            </div>
        <% end %>
      </div>

      <div id="container-electronic" class="ferry colvin">
        <% @record_labels.electronic.each do |record_label|  %>
          <div class="utica">
            <%= render 'recordlabels/partials/record_label_profile_image', :record_label => record_label %>
              <div class="hertel">
                <center><%= link_to record_label.label_name, record_label_path(record_label) %></center>
              </div>
              <div class="hertel">
                <center><%= record_label.record_label_profile.location unless record_label.record_label_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= record_label.id %>">
                <%= render "recordlabels/partials/relationships/index_follower_count", :record_label => record_label %>
              </div>
            </div>

            <div class="index_follow_button_<%= record_label.id %>">
              <%= render "recordlabels/partials/relationships/index_follow_button", :record_label => record_label %>
            </div>

            </div>
        <% end %>
      </div>

      <div id="container-experimental" class="ferry colvin">
        <% @record_labels.experimental.each do |record_label|  %>
          <div class="utica">
            <%= render 'recordlabels/partials/record_label_profile_image', :record_label => record_label %>
              <div class="hertel">
                <center><%= link_to record_label.label_name, record_label_path(record_label) %></center>
              </div>
              <div class="hertel">
                <center><%= record_label.record_label_profile.location unless record_label.record_label_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= record_label.id %>">
                <%= render "recordlabels/partials/relationships/index_follower_count", :record_label => record_label %>
              </div>
            </div>

            <div class="index_follow_button_<%= record_label.id %>">
              <%= render "recordlabels/partials/relationships/index_follow_button", :record_label => record_label %>
            </div>

            </div>
        <% end %>
      </div>

      <div id="container-hip-hop-rap" class="ferry colvin">
        <% @record_labels.hiphoprap.each do |record_label|  %>
          <div class="utica">
           <%= render 'recordlabels/partials/record_label_profile_image', :record_label => record_label %>
              <div class="hertel">
                <center><%= link_to record_label.label_name, record_label_path(record_label) %></center>
              </div>
              <div class="hertel">
                <center><%= record_label.record_label_profile.location unless record_label.record_label_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= record_label.id %>">
                <%= render "recordlabels/partials/relationships/index_follower_count", :record_label => record_label %>
              </div>
            </div>

            <div class="index_follow_button_<%= record_label.id %>">
              <%= render "recordlabels/partials/relationships/index_follow_button", :record_label => record_label %>
            </div>

            </div>
        <% end %>
      </div>

      <div id="container-indie" class="ferry colvin">
        <% @record_labels.indie.each do |record_label|  %>
          <div class="utica">
            <%= render 'recordlabels/partials/record_label_profile_image', :record_label => record_label %>
              <div class="hertel">
                <center><%= link_to record_label.label_name, record_label_path(record_label) %></center>
              </div>
              <div class="hertel">
                <center><%= record_label.record_label_profile.location unless record_label.record_label_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= record_label.id %>">
                <%= render "recordlabels/partials/relationships/index_follower_count", :record_label => record_label %>
              </div>
            </div>

            <div class="index_follow_button_<%= record_label.id %>">
              <%= render "recordlabels/partials/relationships/index_follow_button", :record_label => record_label %>
            </div>

            </div>
        <% end %>
      </div>

      <div id="container-jazz" class="ferry colvin">
        <% @record_labels.jazz.each do |record_label|  %>
          <div class="utica">
            <%= render 'recordlabels/partials/record_label_profile_image', :record_label => record_label %>
              <div class="hertel">
                <center><%= link_to record_label.label_name, record_label_path(record_label) %></center>
              </div>
              <div class="hertel">
                <center><%= record_label.record_label_profile.location unless record_label.record_label_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= record_label.id %>">
                <%= render "recordlabels/partials/relationships/index_follower_count", :record_label => record_label %>
              </div>
            </div>

            <div class="index_follow_button_<%= record_label.id %>">
              <%= render "recordlabels/partials/relationships/index_follow_button", :record_label => record_label %>
            </div>

            </div>
        <% end %>
      </div>

      <div id="container-latino" class="ferry colvin">
        <% @record_labels.latino.each do |record_label|  %>
          <div class="utica">
            <%= render 'recordlabels/partials/record_label_profile_image', :record_label => record_label %>
              <div class="hertel">
                <center><%= link_to record_label.label_name, record_label_path(record_label) %></center>
              </div>
              <div class="hertel">
                <center><%= record_label.record_label_profile.location unless record_label.record_label_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= record_label.id %>">
                <%= render "recordlabels/partials/relationships/index_follower_count", :record_label => record_label %>
              </div>
            </div>

            <div class="index_follow_button_<%= record_label.id %>">
              <%= render "recordlabels/partials/relationships/index_follow_button", :record_label => record_label %>
            </div>

            </div>
        <% end %>
      </div>

      <div id="container-metal" class="ferry colvin">
        <% @record_labels.metal.each do |record_label|  %>
          <div class="utica">
            <%= render 'recordlabels/partials/record_label_profile_image', :record_label => record_label %>
              <div class="hertel">
                <center><%= link_to record_label.label_name, record_label_path(record_label) %></center>
              </div>
              <div class="hertel">
                <center><%= record_label.record_label_profile.location unless record_label.record_label_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= record_label.id %>">
                <%= render "recordlabels/partials/relationships/index_follower_count", :record_label => record_label %>
              </div>
            </div>

            <div class="index_follow_button_<%= record_label.id %>">
              <%= render "recordlabels/partials/relationships/index_follow_button", :record_label => record_label %>
            </div>

            </div>
        <% end %>
      </div>

      <div id="container-pop" class="ferry colvin">
        <% @record_labels.pop.each do |record_label|  %>
          <div class="utica">
            <%= render 'recordlabels/partials/record_label_profile_image', :record_label => record_label %>
              <div class="hertel">
                <center><%= link_to record_label.label_name, record_label_path(record_label) %></center>
              </div>
              <div class="hertel">
                <center><%= record_label.record_label_profile.location unless record_label.record_label_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= record_label.id %>">
                <%= render "recordlabels/partials/relationships/index_follower_count", :record_label => record_label %>
              </div>
            </div>

            <div class="index_follow_button_<%= record_label.id %>">
              <%= render "recordlabels/partials/relationships/index_follow_button", :record_label => record_label %>
            </div>

            </div>
        <% end %>
      </div>

      <div id="container-rb-soul" class="ferry colvin">
        <% @record_labels.rbsoul.each do |record_label|  %>
          <div class="utica">
            <%= render 'recordlabels/partials/record_label_profile_image', :record_label => record_label %>
              <div class="hertel">
                <center><%= link_to record_label.label_name, record_label_path(record_label) %></center>
              </div>
              <div class="hertel">
                <center><%= record_label.record_label_profile.location unless record_label.record_label_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= record_label.id %>">
                <%= render "recordlabels/partials/relationships/index_follower_count", :record_label => record_label %>
              </div>
            </div>

            <div class="index_follow_button_<%= record_label.id %>">
              <%= render "recordlabels/partials/relationships/index_follow_button", :record_label => record_label %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-rock" class="ferry colvin">
        <% @record_labels.rock.each do |record_label|  %>
          <div class="utica">
            <%= render 'recordlabels/partials/record_label_profile_image', :record_label => record_label %>
              <div class="hertel">
                <center><%= link_to record_label.label_name, record_label_path(record_label) %></center>
              </div>
              <div class="hertel">
                <center><%= record_label.record_label_profile.location unless record_label.record_label_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= record_label.id %>">
                <%= render "recordlabels/partials/relationships/index_follower_count", :record_label => record_label %>
              </div>
            </div>

            <div class="index_follow_button_<%= record_label.id %>">
              <%= render "recordlabels/partials/relationships/index_follow_button", :record_label => record_label %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-singer-songwriter" class="ferry colvin">
        <% @record_labels.singersongwriter.each do |record_label|  %>
          <div class="utica">
            <%= render 'recordlabels/partials/record_label_profile_image', :record_label => record_label %>
              <div class="hertel">
                <center><%= link_to record_label.label_name, record_label_path(record_label) %></center>
              </div>
              <div class="hertel">
                <center><%= record_label.record_label_profile.location unless record_label.record_label_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= record_label.id %>">
                <%= render "recordlabels/partials/relationships/index_follower_count", :record_label => record_label %>
              </div>
            </div>

            <div class="index_follow_button_<%= record_label.id %>">
              <%= render "recordlabels/partials/relationships/index_follow_button", :record_label => record_label %>
            </div>

            </div>
        <% end %>
      </div>

      <div id="container-soundtrack" class="ferry colvin">
        <% @record_labels.soundtrack.each do |record_label|  %>
          <div class="utica">
            <%= render 'recordlabels/partials/record_label_profile_image', :record_label => record_label %>
              <div class="hertel">
                <center><%= link_to record_label.label_name, record_label_path(record_label) %></center>
              </div>
              <div class="hertel">
                <center><%= record_label.record_label_profile.location unless record_label.record_label_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= record_label.id %>">
                <%= render "recordlabels/partials/relationships/index_follower_count", :record_label => record_label %>
              </div>
            </div>

            <div class="index_follow_button_<%= record_label.id %>">
              <%= render "recordlabels/partials/relationships/index_follow_button", :record_label => record_label %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-world" class="ferry colvin">
        <% @record_labels.world.each do |record_label|  %>
          <div class="utica">
            <%= render 'recordlabels/partials/record_label_profile_image', :record_label => record_label %>
              <div class="hertel">
                <center><%= link_to record_label.label_name, record_label_path(record_label) %></center>
              </div>
              <div class="hertel">
                <center><%= record_label.record_label_profile.location unless record_label.record_label_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= record_label.id %>">
                <%= render "recordlabels/partials/relationships/index_follower_count", :record_label => record_label %>
              </div>
            </div>

            <div class="index_follow_button_<%= record_label.id %>">
              <%= render "recordlabels/partials/relationships/index_follow_button", :record_label => record_label %>
            </div>

          </div>
        <% end %>
      </div>

    <% else %>
    <div class="highgate">
      there are no record labels containing the term(s) "<%= params[:search] %>". <%= link_to "discover other record labels?", record_labels_path %>
    </div>
    <% end %>
  </div>
</div>
<%= render "partials/uni_footer" %>
