<%= provide(:title, sanitize(@record_label.label_name)) %>
<div class="buffalo">

  <%= render 'recordlabels/partials/record_label_cover_image' %>

  <div class="delaware">

    <main class="main">

      <ul class="carolina">
        <li class="jersey"><%= link_to "timeline", record_label_path(@record_label) %></li>
        <li><%= link_to "shows", record_label_shows_path(@record_label) %></li>
        <li><%= link_to "videos", record_label_videos_path(@record_label) %></li>
      </ul>

      <%= render 'recordlabels/partials/record_label_name' %>

      <div class="microposts_form">
        <%= render 'recordlabels/partials/microposts/microposts_form' %>
      </div>

      <div class="microposts_js">
        <%= render 'recordlabels/partials/microposts/index_microposts' %>
      </div>

    </main>

    <%= render 'recordlabels/partials/record_label_sidebar' %>

  </div>
</div>
<%= render "partials/uni_footer" %>

<% if buffalo_signed_in? %>
  <div class="forest">
    <li><%= @record_label.id %></li>
    <li><%= @record_label.label_name %></li>
    <li><%= @record_label.username %></li>
    <li><%= @record_label.email %></li>
    <li><%= @record_label.sign_in_count %></li>
    <li><%= @record_label.last_sign_in_at %></li>
  </div>
<% end %>
