<% if @microposts.any? %>
  <% @microposts.take(100).each do | micropost | %>
    <div class="auburn dodge">
      <div class="winspear">
        <strong><%= link_to "#{@venue.venue_name}", venue_micropost_path(@venue, micropost) %></strong> <span class="posted">posted <%= time_ago_in_words(micropost.created_at) %> ago</span>
          <% if @venue == current_venue %>
           // <%= link_to "delete post", venue_micropost_path(@venue, micropost), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete, remote: true %>
          <% end %>
      </div>
      <div class="winspear">
        <%= micropost.content %>
      </div>
      <% if micropost.link_url.present? %>
      <div class="winspear">
          <%= link_to "#{micropost.link_url.split('/')[2]}", micropost.link_url, data: { confirm: "#{micropost.link_url} \n\nAre you sure?" }, class: "sugar" %>
      </div>
      <% end %>
      <% if micropost.photo_url.present? %>
      <div class="northrup lincoln">
        <img srcset="<%= micropost.photo_url %>" width="100%" height="auto" />
      </div>
      <% end %>

      <div class="lisbon">

        <div class="index_micropost_votes_<%= micropost.id %>">
          <%= render 'venues/partials/microposts/index_micropost_votes', :micropost => micropost %>
        </div>

        <span class="index_micropost_votes_count_<%= micropost.id %>">
          <%= render 'venues/partials/microposts/index_micropost_votes_count', :micropost => micropost %>
        </span>
         // <a class="linden"><span class="comments_count_<%= micropost.id %>">
          <%= render 'venues/partials/comments/index_comments_count', :micropost => micropost %>
        </span></a>
      </div>

      <div class="walden">
        <div class="minnesota">

          <div class="comments_js_<%= micropost.id %>">
            <%= render 'venues/partials/comments/index_comments', :micropost => micropost %>
          </div>

          <div class="comments_form_<%= micropost.id %>">
            <%= render "venues/partials/comments/index_comments_form", :micropost => micropost %>
          </div>

        </div>
      </div>

    </div>
  <% end %>

  <%= paginate @microposts, :window => 2 %>

<% else %>
  <div class="harlem">
    <% if @venue == current_venue %>
      you don't have any posts.
    <% else %>
      <%= @venue.venue_name %> does not have any posts.
    <% end %>
  </div>
<% end %>
