<% if @venue.venue_profile.cover_img_file_name.blank? %>
  <div class="clinton">
    <% if @venue == current_venue %>
      you do not have a cover image yet
    <% else %>
      <%= "#{@venue.venue_name} hasn't uploaded a cover photo yet" %>
    <% end %>
  </div>
<% else %>
<div class="washington">
  <div style="background: url('<%= @venue.venue_profile.cover_img.url(:small) %>') no-repeat fixed; background-size: 100%;" class="broadway">
    <div class="northland">
      <%= @venue.venue_name %> <span class="lakeview">// <%= pluralize(@venue.fans.count, "fan") %>
    </div>
  </div>
</div>
<div class="niagara">
  <div class="broadway">
    <img src="<%= @venue.venue_profile.cover_img.url(:small) %>" width="100%" height="auto'" />
  </div>
</div>
<% end %>
