<nav class="englewood">
  <div class="starin pine-ridge">//</div>
  <div class="crescent">
    <ul class="pine-ridge">
      <li><%= link_to "d", current_venue, class: "military" %></li>
      <li><%= link_to "s", venue_shows_path(current_venue), class: "depew" %></li>
      <li><%= link_to "v", venue_videos_path(current_venue), class: "depew" %></li>
      <li><%= link_to "p", edit_venue_profile_path(current_venue), class: "depew" %></li>
    </ul>
  </div>
  <ul class="taunton pine-ridge">
    <li><%= link_to "dashboard", current_venue, class: "military" %></li>
    <li><%= link_to "shows", venue_shows_path(current_venue), class: "depew" %></li>
    <li><%= link_to "videos", venue_videos_path(current_venue), class: "depew" %></li>
    <li><%= link_to "profile", edit_venue_profile_path(current_venue), class: "depew" %></li>
    <li><%= link_to "settings", edit_venue_registration_path, class: "depew" %></li>
    <li><%= link_to "sign out", sign_out_path, class: "depew" %></li>
  </ul>
</nav>
