<aside class="pearl">

  <% unless @venue == current_venue %>
  <div class="washington">
    <div class="lisbon">
    <div class="follow_button">
      <%= render 'venues/partials/relationships/follow_button' %>
    </div>
    </div>
  </div>
  <% end %>

  <div class="washington">
    <div class="follower_count">
      <%= render 'venues/partials/relationships/follower_count' %>
    </div>
  </div>

  <% if venue_signed_in? && @venue.id == current_venue.id && @venue.venue_profile.location.blank? && @venue.venue_profile.address.blank? && @venue.venue_profile.founded.blank? && @venue.venue_profile.biography.blank? && @venue.venue_profile.facebook_url.blank? && @venue.venue_profile.twitter_url.blank? && @venue.venue_profile.youtube_url.blank? && @venue.venue_profile.website.blank? && @venue.venue_profile.ticketfly_url.blank? %>
    <div class="amherst">
      you do not have any profile information
    </div>
    <div class="jefferson">
      <%= link_to "update your profile", edit_venue_profile_path(current_venue) %>
    </div>
  <% elsif @venue.venue_profile.location.blank? && @venue.venue_profile.address.blank? && @venue.venue_profile.founded.blank? && @venue.venue_profile.biography.blank? && @venue.venue_profile.facebook_url.blank? && @venue.venue_profile.twitter_url.blank? && @venue.venue_profile.youtube_url.blank? && @venue.venue_profile.website.blank? && @venue.venue_profile.ticketfly_url.blank? %>
    <div class="amherst"><%= "#{@venue.venue_name} does not have any profile information yet" %></div>
  <% end %>
  <% if @venue.venue_profile.location.present? %>
  <div class="jefferson">
    location
  </div>
  <div class="fillmore">
    <%= @venue.venue_profile.location %>
  </div>
  <% end %>
  <% if @venue.venue_profile.address.present? %>
  <div class="jefferson">
    address
  </div>
  <div class="fillmore">
    <%= @venue.venue_profile.address %>
  </div>
  <% end %>
  <% if @venue.venue_profile.founded.present? %>
  <div class="jefferson">
    founded
  </div>
  <div class="fillmore">
    <%= @venue.venue_profile.founded %>
  </div>
  <% end %>
  <% if @venue.venue_profile.biography.present? %>
  <div class="jefferson">
    biography
  </div>
  <div class="fillmore">
    <%= @venue.venue_profile.biography %>
  </div>
  <% end %>
  <% if @venue.venue_profile.website.present? %>
  <div class="fillmore">
    <%= link_to "#{@venue.venue_profile.website.split('/')[2]}", @venue.venue_profile.website %>
  </div>
  <% end %>
  <% if @venue.venue_profile.facebook_url.present? %>
  <div class="fillmore">
    <%= link_to "Facebook", @venue.venue_profile.facebook_url, :target => "_blank", class: "sfacebook" %>
  </div>
  <% end %>
  <% if @venue.venue_profile.twitter_url.present? %>
  <div class="fillmore">
    <%= link_to "Twitter", @venue.venue_profile.twitter_url, :target => "_blank", class: "stwitter" %>
  </div>
  <% end %>
  <% if @venue.venue_profile.youtube_url.present? %>
  <div class="fillmore">
    <%= link_to "YouTube", @venue.venue_profile.youtube_url, :target => "_blank", class: "syoutube" %>
  </div>
  <% end %>
  <% if @venue.venue_profile.ticketfly_url.present? %>
  <div class="fillmore">
    <%= link_to "Ticketfly", @venue.venue_profile.ticketfly_url, :target => "_blank", class: "sticketfly" %>
  </div>
  <% end %>
</aside>
