<%= provide(:title, "Edit A Show") %>
<div class="buffalo">
  <div class="delaware">
    <div class="elmwood">
      <div class="harlem">
        <h1>edit the show on <%= @show.month %>.<%= @show.day %>.<%= @show.year %> at <%= @show.venue %> in <%= @show.location %></h1>
      </div>

      <%= form_for(@show, url: venue_show_path) do |f| %>
        <%= f.hidden_field :venue_id %>
        <%= render 'errors/show_errors' %>
        <div class="maryland">
          <%= f.text_field :month, placeholder: "month", class: "huron" %>
        </div>
        <div class="maryland">
          <%= f.text_field :day, placeholder: "day", class: "huron" %>
        </div>
        <div class="maryland">
          <%= f.text_field :year, placeholder: "year", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :location, placeholder: "location (city, state / city, country)", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :show_venue, placeholder: "venue", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :ticket_url, placeholder: "ticket url", class: "huron" %>
        </div>
        <div class="highgate temp">
          flyer image: <span class="posted">1200x2000</span>
        </div>
        <div class="highgate">
          <%= f.file_field :flyer_img %>
        </div>

        <div class="highgate">
          <%= f.text_field :headline_artist, placeholder: "headline artist", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :support_artist1, placeholder: "support artist 1 (optional)", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :support_artist2, placeholder: "support artist 2 (optional)", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :support_artist3, placeholder: "support artist 3 (optional)", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :support_artist4, placeholder: "support artist 4 (optional)", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :support_artist5, placeholder: "support artist 5 (optional)", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :support_artist6, placeholder: "support artist 6 (optional)", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :support_artist7, placeholder: "support artist 7 (optional)", class: "huron" %>
        </div>

        <div class="highgate">
          <%= f.text_area :description, placeholder: "description", class: "chippewa" %>
        </div>
        <div class="ellicott">
          <%= f.submit "update show", data: { disable_with: 'updating...' }, class: "exchange" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
<%= render 'partials/uni_footer' %>
