<%= provide(:title, "Sign In As A Record Label | Noisaea //") %>
<%= render 'partials/uni_header' %>
<div class="buffalo">
  <div class="delaware">
    <div class="elmwood">
      <div class="harlem">
        <h1>sign in as a record label</h1>
      </div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="highgate">
          <div class="amherst temp">
            email
          </div>
          <%= f.email_field :email, autofocus: true, class: "huron" %>
        </div>
        <div class="highgate">
          <div class="amherst temp">
            password
          </div>
          <%= f.password_field :password, autocomplete: "off", class: "huron" %>
        </div>
        <% if devise_mapping.rememberable? -%>
          <div class="highgate">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class: "mohawk" %>
          </div>
        <% end -%>
        <div class="ellicott">
          <%= f.submit "sign in", class: "exchange" %>
        </div>
      <% end %>
      <div class="virginia">
        <%= render "recordlabels/shared/links" %>
      </div>
    </div>
  </div>
</div>
<%= render 'partials/uni_footer' %>
