<%= provide(:title, sanitize(@artist.artist_name) + " | " + sanitize(@album.title)) %>
<div class="buffalo">

  <%= render 'artists/partials/artist_cover_image' %>

  <div class="delaware">

    <main class="main">

      <ul class="carolina">
        <li><%= link_to "timeline", artist_path(@artist) %></li>
        <li class="jersey"><%= link_to "music", artist_albums_path(@artist) %></li>
        <li><%= link_to "merch", artist_merches_path(@artist) %></li>
        <li><%= link_to "shows", artist_shows_path(@artist) %></li>
        <li><%= link_to "videos", artist_videos_path(@artist) %></li>
      </ul>

      <%= render 'artists/partials/artist_name' %>

      <div class="amherst">
        <div class="harlem">

          <% if @artist == current_artist %>
            <div class="harlem vermont">
              <%= link_to "add a track", new_artist_album_track_path(@artist, @album), class: "sugar" %>
            </div>
          <% end %>

          <div class="fargo">
            <% if @album.cover_img_file_name.present? %>
              <div id="riley">
                <img srcset="<%= @album.cover_img.url(:perfect) %>" width="100%" height="auto" />
              </div>
            <% else %>
              <% if @artist == current_artist %>
                you do not have an image for this album. <%= link_to "add one?", edit_artist_album_path(@artist, @album) %>
              <% else %>
                <%= @artist.artist_name %> does not have an image for <%= @album.title %>.
              <% end %>
            <% end %>
          </div>
          <div class="fargo">
            <div class="vermont busti">
              <%= @album.title %>
            </div>
            <div class="bryant highgate busti">
              <span class="posted">price //</span> <%= @album.price %> <%= @album.currency %>
            </div>
            <div class="vermont busti">
              <%= link_to "get this!", @album.album_url, class: "sugar" %>
            </div>
            <div class="posted busti">
              from
            </div>
            <div class="amherst busti">
              <%= @album.album_url.split('/')[2] %>
            </div>
          </div>
          <% if @artist == current_artist %>
            // <%= link_to "edit", edit_artist_album_path(@artist, @album) %> or <%= link_to "delete", artist_album_path(@artist, @album), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete %>
          <% end %>

        </div>

        <% if @album.artist_tracks.any? %>
          <% @album.artist_tracks.take(1).each do |track| %>

          <div class="busti">
            <div class="track-title">
              <%= track.number %> - <%= track.title %>
            </div>
          </div>

          <div class="audioplayer">
            <div id="pButton" class="play" alt="play"></div>
            <div class="timeline-container">
              <div id="current_time">00:00</div>
              <div id="timeline">
                    <div id="playhead"></div>
              </div>
              <div id="total_duration">00:00</div>
            </div>
          </div>

          <% end %>
        <% end %>

        <% if @album.artist_tracks.any? %>
          <% @album.artist_tracks.each do |track| %>

            <div class="dodge ashland auburn">
              <span class="artist-track-title track-indv tacoma"><%= track.number %> - <%= track.title %></span><span class="track-details posted amherst"> - <%= link_to "details", artist_album_track_path(@artist, @album, track) %></span>
              <div class="hide"><%= track.track_url %></div>
              <% if track.lyrics.present? %>
                <div class="show-lyrics">
                  <a class="hide-lyrics posted tacoma">
                    hide lyrics
                  </a>
                  <a class="toggle-lyrics posted tacoma">
                    show lyrics
                  </a>
                  <div class="lyrics posted best">
                    <%= track.lyrics %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>


        <div class="best">
          <%= @album.description %>
        </div>
      </div>

    </main>

    <%= render 'artists/partials/artist_sidebar' %>

  </div>
</div>
<%= render "partials/uni_footer" %>

<% if @album.cover_img_file_name.present? %>
<div id="back"></div>
<div id="front">
  <div class="lightbox-image">
  <div id="close"></div>
    <img srcset="<%= @album.cover_img.url(:perfect) %>" width="100%" height="auto" />
  </div>
</div>
<% end %>
<audio id="audioplayer" preload="true" src="<%= @album.artist_tracks.first.track_url %>">
</audio>
