<%= provide(:title, "Add A Show") %>
<div class="buffalo">
  <div class="delaware">
    <div class="elmwood">
      <div class="harlem">
        <h1>add a show</h1>
      </div>

      <%= form_for(@show, url: artist_shows_path) do |f| %>
        <%= f.hidden_field :artist_id %>
        <%= render 'errors/show_errors' %>
        <div class="maryland">
          <%= f.text_field :month, placeholder: "month", class: "huron" %>
        </div>
        <div class="maryland">
          <%= f.text_field :day, placeholder: "day", class: "huron" %>
        </div>
        <div class="maryland">
          <%= f.text_field :year, placeholder: "year", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :location, placeholder: "location (city, state / city, country)", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :venue, placeholder: "venue", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :ticket_url, placeholder: "ticket url", class: "huron" %>
        </div>
        <div class="highgate temp">
          flyer image: <span class="posted">1200x2000</span>
        </div>
        <div class="highgate">
          <%= f.file_field :flyer_img %>
        </div>

        <div id="show_field1" class="highgate">
          <%= f.text_field :headline_artist, placeholder: "headline artist (optional)", class: "huron" %>
        </div>
        <div id="plus" class="plus">
          add artist
        </div>
        <div id="show_field2" class="highgate">
          <%= f.text_field :support_artist1, placeholder: "support artist 1 (optional)", class: "huron" %>
        </div>
        <div id="plus1" class="plus">
          add artist
        </div>
        <div id="show_field3" class="highgate">
          <%= f.text_field :support_artist2, placeholder: "support artist 2 (optional)", class: "huron" %>
        </div>
        <div id="plus2" class="plus">
          add artist
        </div>
        <div id="show_field4" class="highgate">
          <%= f.text_field :support_artist3, placeholder: "support artist 3 (optional)", class: "huron" %>
        </div>
        <div id="plus3" class="plus">
          add artist
        </div>
        <div id="show_field5" class="highgate">
          <%= f.text_field :support_artist4, placeholder: "support artist 4 (optional)", class: "huron" %>
        </div>
        <div id="plus4" class="plus">
          add artist
        </div>
        <div id="show_field6" class="highgate">
          <%= f.text_field :support_artist5, placeholder: "support artist 5 (optional)", class: "huron" %>
        </div>
        <div id="plus5" class="plus">
          add artist
        </div>
        <div id="show_field7" class="highgate">
          <%= f.text_field :support_artist6, placeholder: "support artist 6 (optional)", class: "huron" %>
        </div>
        <div id="plus6" class="plus">
          add artist
        </div>
        <div id="show_field8" class="highgate">
          <%= f.text_field :support_artist7, placeholder: "support artist 7 (optional)", class: "huron" %>
        </div>

        <div class="highgate">
          <%= f.text_area :description, placeholder: "description", class: "chippewa" %>
        </div>
        <div class="ellicott">
          <%= f.submit "add show", data: { disable_with: 'posting...' }, class: "exchange" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
<%= render 'partials/uni_footer' %>
