<%= provide(:title, sanitize(@artist.artist_name) + " | Show #{@show.id}") %>
<div class="buffalo">

  <%= render 'artists/partials/artist_cover_image' %>

  <div class="delaware">

    <main class="main">

      <ul class="carolina">
        <li><%= link_to "timeline", artist_path(@artist) %></li>
        <li><%= link_to "music", artist_albums_path(@artist) %></li>
        <li><%= link_to "merch", artist_merches_path(@artist) %></li>
        <li class="jersey"><%= link_to "shows", artist_shows_path(@artist) %></li>
        <li><%= link_to "videos", artist_videos_path(@artist) %></li>
      </ul>

      <%= render 'artists/partials/artist_name' %>

      <div class="harlem">
        <% if @show.flyer_img_file_name.present? %>
        <div class="fargo">
          <div id="riley">
            <img srcset="<%= @show.flyer_img.url(:perfect) %>" width="100%" height="auto" />
          </div>
        </div>
        <div class="fargo">
          <div class="vermont busti">
            <%= @show.month %>.<%= @show.day %>.<%= @show.year %>
          </div>
          <div class="vermont busti">
            <% if Venue.exists?(:venue_name => "#{@show.venue}") %>
              <%= link_to @show.venue, venue_path(Venue.where(:venue_name => "#{@show.venue}").first) %>
            <% else %>
              <%= @show.venue %>
            <% end %>
          </div>
          <div class="vermont busti">
            <%= @show.location %>
          </div>
          <% if @show.ticket_url.present? %>
          <div class="vermont busti">
            <%= link_to "get tickets", @show.ticket_url, class: "sugar" %>
          </div>
          <% end %>
          <% if @artist == current_artist %>
          <div class="amherst busti">
            // <%= link_to "edit", edit_artist_show_path(@artist, @show) %> or <%= link_to "delete", artist_show_path(@artist, @show), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete %>
          </div>
          <% end %>
        </div>
        <% else %>
          <div class="vermont">
            <%= @show.month %>.<%= @show.day %>.<%= @show.year %>
          </div>
          <div class="vermont">
            <% if Venue.exists?(:venue_name => "#{@show.venue}") %>
              <%= link_to @show.venue, venue_path(Venue.where(:venue_name => "#{@show.venue}").first) %>
            <% else %>
              <%= @show.venue %>
            <% end %>
          </div>
          <div class="vermont">
            <%= @show.location %>
          </div>
          <% if @show.ticket_url.present? %>
          <div class="vermont">
            <%= link_to "get tickets", @show.ticket_url, class: "sugar" %>
          </div>
          <% end %>
          <% if @artist == current_artist %>
          <div class="amherst">
            // <%= link_to "edit", edit_artist_show_path(@artist, @show) %> or <%= link_to "delete", artist_show_path(@artist, @show), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete %>
          </div>
          <% end %>
        <% end %>
        <% if @show.headline_artist.present? %>
          <div class="highgate sanders">
            <% if Artist.exists?(:artist_name => "#{@show.headline_artist}") %>
              <%= link_to @show.headline_artist, artist_path(Artist.where(:artist_name => "#{@show.headline_artist}").first) %>
            <% else %>
              <%= @show.headline_artist %>
            <% end %>
          </div>
        <% end %>
        <% if @show.support_artist1.present? %>
          <div class="amherst kings">
            <% if Artist.exists?(:artist_name => "#{@show.support_artist1}") %>
              <%= link_to @show.support_artist1, artist_path(Artist.where(:artist_name => "#{@show.support_artist1}").first) %>
            <% else %>
              <%= @show.support_artist1 %>
            <% end %>
          </div>
        <% end %>
        <% if @show.support_artist2.present? %>
          <div class="amherst kings">
            <% if Artist.exists?(:artist_name => "#{@show.support_artist2}") %>
              <%= link_to @show.support_artist2, artist_path(Artist.where(:artist_name => "#{@show.support_artist2}").first) %>
            <% else %>
              <%= @show.support_artist2 %>
            <% end %>
          </div>
        <% end %>
        <% if @show.support_artist3.present? %>
          <div class="amherst kings">
            <% if Artist.exists?(:artist_name => "#{@show.support_artist3}") %>
              <%= link_to @show.support_artist3, artist_path(Artist.where(:artist_name => "#{@show.support_artist3}").first) %>
            <% else %>
              <%= @show.support_artist3 %>
            <% end %>
          </div>
        <% end %>
        <% if @show.support_artist4.present? %>
          <div class="amherst kings">
            <% if Artist.exists?(:artist_name => "#{@show.support_artist4}") %>
              <%= link_to @show.support_artist4, artist_path(Artist.where(:artist_name => "#{@show.support_artist4}").first) %>
            <% else %>
              <%= @show.support_artist4 %>
            <% end %>
          </div>
        <% end %>
        <% if @show.support_artist5.present? %>
          <div class="amherst kings">
            <% if Artist.exists?(:artist_name => "#{@show.support_artist5}") %>
              <%= link_to @show.support_artist5, artist_path(Artist.where(:artist_name => "#{@show.support_artist5}").first) %>
            <% else %>
              <%= @show.support_artist5 %>
            <% end %>
          </div>
        <% end %>
        <% if @show.support_artist6.present? %>
          <div class="amherst kings">
            <% if Artist.exists?(:artist_name => "#{@show.support_artist6}") %>
              <%= link_to @show.support_artist6, artist_path(Artist.where(:artist_name => "#{@show.support_artist6}").first) %>
            <% else %>
              <%= @show.support_artist6 %>
            <% end %>
          </div>
        <% end %>
        <% if @show.support_artist7.present? %>
          <div class="amherst kings">
            <% if Artist.exists?(:artist_name => "#{@show.support_artist7}") %>
              <%= link_to @show.support_artist7, artist_path(Artist.where(:artist_name => "#{@show.support_artist7}").first) %>
            <% else %>
              <%= @show.support_artist7 %>
            <% end %>
          </div>
        <% end %>
        <div class="best">
          <%= @show.description %>
        </div>
      </div>

    </main>

    <%= render 'artists/partials/artist_sidebar' %>

  </div>
</div>
<%= render "partials/uni_footer" %>

<% if @show.flyer_img_file_name.present? %>
  <div id="back"></div>
  <div id="front">
    <div class="lightbox-image">
    <div id="close"></div>
      <img srcset="<%= @show.flyer_img.url(:perfect) %>" width="100%" height="auto" />
    </div>
  </div>
<% end %>
