<%= provide(:title, "Create Merchant Account") %>
<div class="buffalo">
  <div class="delaware">
    <div class="elmwood">
      <div class="harlem">
        <h1>create a merchant account with noisaea</h1>
      </div>

      <%= form_for(@payment, url: artist_payment_settings_path) do |f| %>
        <%= f.hidden_field :artist_id %>
        <div class="hudson">
          <div class="amherst temp">
            first name
          </div>
          <%= f.text_field :first_name, class: "huron" %>
        </div>
        <div class="hudson">
          <div class="amherst temp">
            last name
          </div>
          <%= f.text_field :last_name, class: "huron" %>
        </div>
        <div class="highgate">
          <div class="amherst temp">
            country
          </div>
          <%= f.select :country, options_for_select(country_select)%>
        </div>
        <div class="amherst temp">
          date of birth
        </div>
        <div class="maryland">
          <div class="amherst temp">
            month
          </div>
          <%= f.text_field :month, class: "huron" %>
        </div>
        <div class="maryland">
          <div class="amherst temp">
            day
          </div>
          <%= f.text_field :day, class: "huron" %>
        </div>
        <div class="maryland">
          <div class="amherst temp">
            year
          </div>
          <%= f.text_field :year, class: "huron" %>
        </div>
        <div class="ellicott">
          <%= f.submit "create merchant account", data: { disable_with: 'posting...' }, class: "exchange" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
<%= render 'partials/uni_footer' %>
