<% if @record_label.record_label_profile.cover_img_file_name.blank? %>
  <div class="clinton">
    <% if @record_label == current_record_label %>
      you do not have a cover image yet
    <% else %>
      <%= "#{@record_label.record_label_name} hasn't uploaded a cover photo yet" %>
    <% end %>
  </div>
<% else %>
<div class="washington">
  <div style="background: url('<%= @record_label.record_label_profile.cover_img.url(:small) %>') no-repeat fixed; background-size: 100%;" class="broadway">
    <div class="northland">
      <%= @record_label.label_name %> <span class="lakeview">// <%= pluralize(@record_label.fans.count, "fan") %>
    </div>
  </div>
</div>
<div class="niagara">
  <div class="broadway">
    <img src="<%= @record_label.record_label_profile.cover_img.url(:small) %>" width="100%" height="auto'" />
  </div>
</div>
<% end %>
