<div class="washington">
  <header class="buffalo ontario fourth">
    <div class="delaware">
      <nav class="parkside">
      <%= link_to "#{current_record_label.label_name}'s dashboard", current_record_label, class: "military" %>
          <ul>
            <li><%= link_to "profile", edit_record_label_profile_path(current_record_label), class: "depew" %></li>
            <li><%= link_to "settings", edit_record_label_registration_path, class: "depew" %></li>
            <li><%= link_to "sign out", sign_out_path, class: "depew" %></li>
          </ul>
      </nav>
    </div>
  </header>
</div>

<div class="niagara">
  <header class="buffalo ontario fourth">
    <div class="delaware">
      <nav class="parkside">
        <div class="amherst">
          <center><a class="starin"><%= current_record_label.label_name %></a></center>
          <div class="taunton">
            <div><%= link_to "dashboard", current_record_label, class: "depew" %>
            <div><%= link_to "profile", edit_record_label_profile_path(current_record_label), class: "depew" %></div>
            <div><%= link_to "settings", edit_record_label_registration_path, class: "depew" %></div>
            <div><%= link_to "sign out", sign_out_path, class: "depew" %></div>
          </div>
        </div>
      </nav>
    </div>
  </header>
</div>
