<%= provide(:title, "Add A Track") %>
<div class="buffalo">
  <div class="delaware">
    <div class="elmwood">
      <div class="harlem">
        <h1>add a track to <%= @album.title %></h1>
      </div>

      <%= form_for(@track, url: artist_album_tracks_path, html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |f| %>
        <%= f.hidden_field :artist_id %>
        <%= f.hidden_field :artist_album_id %>
        <%= render 'errors/track_errors' %>
        <div class="highgate">
          <div class="amherst temp">
            title
          </div>
          <%= f.text_field :title, class: "huron" %>
        </div>
        <div class="maryland">
          <div class="amherst temp">
            number
          </div>
          <%= f.text_field :number, class: "huron" %>
        </div>
        <div class="maryland">
          <div class="amherst temp">
            price
          </div>
          <%= f.text_field :price, class: "huron" %>
        </div>
        <div class="maryland">
          <div class="amherst temp">
            currency
          </div>
          <%= f.select :currency, options_for_select(currency_select)%>
        </div>
        <div class="highgate">
          <div class="amherst temp">
            track play url
          </div>
          <%= f.file_field :track_url %>
        </div>
        <div class="highgate">
          <div class="amherst temp">
            lyrics
          </div>
          <%= f.text_area :lyrics, class: "chippewa" %>
        </div>
        <div class="ellicott">
          <%= f.submit "add track", data: { disable_with: 'posting...' }, class: "exchange" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
<%= render 'partials/uni_footer' %>
