<%= provide(:title, sanitize(@fan.fan_name) + " | Following") %>
<div class="buffalo">

  <%= render 'fans/partials/fan_cover_image' %>

  <div class="delaware">

    <%= render 'fans/partials/fan_name' %>

    <%= render 'fans/partials/fan_follows_you' %>

    <div class="highgate">

      <div class="allen">
        <a id="fan-artist-click">artists</a>
        <div class="amherst">
          <% if fan_signed_in? && @fan == current_fan %>
          <div class="artist_following_count">
            <%= render 'artists/partials/relationships/fan_following_count' %>
          </div>
          <% else %>
            following <%= @fan.artists.count %>
          <% end %>
        </div>
      </div>

      <div class="allen">
        <a id="fan-record-label-click">record labels</a>
        <div class="amherst">
          <% if fan_signed_in? && @fan == current_fan %>
            <div class="record_label_following_count">
              <%= render 'recordlabels/partials/relationships/fan_following_count' %>
            </div>
          <% else %>
            following <%= @fan.record_labels.count %>
          <% end %>
        </div>
      </div>

      <div class="allen">
        <a id="fan-venue-click">venues</a>
        <div class="amherst">
          <% if fan_signed_in? && @fan == current_fan %>
            <div class="venue_following_count">
              <%= render 'venues/partials/relationships/fan_following_count' %>
            </div>
          <% else %>
            following <%= @fan.venues.count %>
          <% end %>
        </div>
      </div>

      <div class="allen">
        <a id="fan-producer-click">producers</a>
        <div class="amherst">
          <% if fan_signed_in? && @fan == current_fan %>
            <div class="producer_following_count">
              <%= render 'producers/partials/relationships/fan_following_count' %>
            </div>
          <% else %>
            following <%= @fan.producers.count %>
          <% end %>
        </div>
      </div>

      <div id="fan-artist" class="ferry">
        <% @fan.artists.take(100).each do |artist| %>
          <div class="utica">

            <%= render 'artists/partials/artist_profile_image', :artist => artist %>
            <div class="smalll">
              <%= link_to artist.artist_name, artist_path(artist) %>

              <div class="artist_follow_button_<%= artist.id %>">
                <%= render "artists/partials/relationships/index_follow_button", :artist => artist %>
              </div>

            </div>
          </div>
        <% end %>
      </div>

      <div id="fan-record-label" class="ferry colvin">
        <% @fan.record_labels.take(100).each do |record_label| %>
          <div class="utica">

            <%= render 'recordlabels/partials/record_label_profile_image', :record_label => record_label %>
            <div class="smalll">
              <%= link_to record_label.label_name, record_label_path(record_label) %>

              <div class="record_label_follow_button_<%= record_label.id %>">
                <%= render "recordlabels/partials/relationships/index_follow_button", :record_label => record_label %>
              </div>

            </div>
          </div>
        <% end %>
      </div>

      <div id="fan-venue" class="ferry colvin">
        <% @fan.venues.take(100).each do |venue| %>
          <div class="utica">

            <%= render 'venues/partials/venue_profile_image', :venue => venue %>
            <div class="smalll">
              <%= link_to venue.venue_name, venue_path(venue) %>

              <div class="venue_follow_button_<%= venue.id %>">
                <%= render "venues/partials/relationships/index_follow_button", :venue => venue %>
              </div>

            </div>
          </div>
        <% end %>
      </div>

      <div id="fan-producer" class="ferry colvin">
        <% @fan.producers.take(100).each do |producer| %>
          <div class="utica">

            <%= render 'producers/partials/producer_profile_image', :producer => producer %>
            <div class="smalll">
              <%= link_to producer.producer_name, producer_path(producer) %>

              <div class="producer_follow_button_<%= producer.id %>">
                <%= render "producers/partials/relationships/index_follow_button", :producer => producer %>
              </div>

            </div>
          </div>
        <% end %>
      </div>

    </div>

  </div>
</div>
<%= render 'partials/uni_footer' %>

