<%= provide(:title, sanitize(@fan.fan_name) + " | Following") %>
<div class="buffalo">

  <%= render 'fans/partials/fan_cover_image' %>

  <div class="delaware">

    <%= render 'fans/partials/fan_name' %>

    <%= render 'fans/partials/fan_follows_you' %>

    <div class="highgate">

      <div class="allen">
        <a id="fan-artist-click"><strong>artists</strong></a>
        <div class="amherst">
          <% if fan_signed_in? && @fan == current_fan %>
          <div class="artist_following_count">
            <%= render 'artists/partials/relationships/fan_following_count' %>
          </div>
          <% else %>
            // following <%= pluralize(@fan.artists.count, "artist") %>
          <% end %>
        </div>
      </div>

      <div class="allen">
        <a id="fan-record-label-click"><strong>record labels</strong></a>
        <div class="amherst">
          <% if fan_signed_in? && @fan == current_fan %>
            <div class="record_label_following_count">
              <%= render 'recordlabels/partials/relationships/fan_following_count' %>
            </div>
          <% else %>
            // following <%= pluralize(@fan.record_labels.count, "record label") %>
          <% end %>
        </div>
      </div>

      <div class="allen">
        <a id="fan-venue-click"><strong>venues</strong></a>
        <div class="amherst">
          <% if fan_signed_in? && @fan == current_fan %>
            <div class="venue_following_count">
              <%= render 'venues/partials/relationships/fan_following_count' %>
            </div>
          <% else %>
            // following <%= pluralize(@fan.venues.count, "venue") %>
          <% end %>
        </div>
      </div>

      <div class="allen">
        <a id="fan-producer-click"><strong>producers</strong></a>
        <div class="amherst">
          <% if fan_signed_in? && @fan == current_fan %>
            <div class="producer_following_count">
              <%= render 'producers/partials/relationships/fan_following_count' %>
            </div>
          <% else %>
            // following <%= pluralize(@fan.producers.count, "producer") %>
          <% end %>
        </div>
      </div>

      <div id="fan-artist" class="ferry">
        <% @fan.artists.take(100).each do |artist| %>
          <div class="utica">

            <% if artist.artist_profile.cover_image.blank? %>
              <div class="sycamore">
                <% if artist_signed_in? && artist.id == current_artist.id %>
                  you do not have a profile image yet
                <% else %>
                  <%= "#{artist.artist_name} hasn't uploaded a profile image yet" %>
                <% end %>
              </div>
            <% else %>
            <div class="genesee">
              <img srcset="<%= artist.artist_profile.cover_image %>" width="100%" height="auto" />
            </div>
            <% end %>

            <div class="artist_follow_button_<%= artist.id %>">
              <%= render "artists/partials/relationships/index_follow_button", :artist => artist %>
            </div>

            <center><%= link_to artist.artist_name, artist_path(artist) %></center>

          </div>
        <% end %>
      </div>

      <div id="fan-record-label" class="ferry colvin">
        <% @fan.record_labels.take(100).each do |record_label| %>
          <div class="utica">

            <% if record_label.record_label_profile.cover_image.blank? %>
              <div class="sycamore">
                <% if record_label_signed_in? && record_label.id == current_record_label.id %>
                  you do not have a profile image yet
                <% else %>
                  <%= "#{record_label.label_name} hasn't uploaded a profile image yet" %>
                <% end %>
              </div>
            <% else %>
            <div class="genesee">
              <img srcset="<%= record_label.record_label_profile.cover_image %>" width="100%" height="auto" />
            </div>
            <% end %>

            <div class="record_label_follow_button_<%= record_label.id %>">
              <%= render "recordlabels/partials/relationships/index_follow_button", :record_label => record_label %>
            </div>

            <center><%= link_to record_label.label_name, record_label_path(record_label) %></center>
          </div>
        <% end %>
      </div>

      <div id="fan-venue" class="ferry colvin">
        <% @fan.venues.take(100).each do |venue| %>
          <div class="utica">

            <% if venue.venue_profile.cover_image.blank? %>
              <div class="sycamore">
                <% if venue_signed_in? && venue.id == current_venue.id %>
                  you do not have a profile image yet
                <% else %>
                  <%= "#{venue.venue_name} hasn't uploaded a profile image yet" %>
                <% end %>
              </div>
            <% else %>
            <div class="genesee">
              <img srcset="<%= venue.venue_profile.cover_image %>" width="100%" height="auto" />
            </div>
            <% end %>

            <div class="venue_follow_button_<%= venue.id %>">
              <%= render "venues/partials/relationships/index_follow_button", :venue => venue %>
            </div>

            <center><%= link_to venue.venue_name, venue_path(venue) %></center>
          </div>
        <% end %>
      </div>

      <div id="fan-producer" class="ferry colvin">
        <% @fan.producers.take(100).each do |producer| %>
          <div class="utica">

            <% if producer.producer_profile.cover_image.blank? %>
              <div class="sycamore">
                <% if producer_signed_in? && producer.id == current_producer.id %>
                  you do not have a profile image yet
                <% else %>
                  <%= "#{producer.producer_name} hasn't uploaded a profile image yet" %>
                <% end %>
              </div>
            <% else %>
            <div class="genesee">
              <img srcset="<%= producer.producer_profile.cover_image %>" width="100%" height="auto" />
            </div>
            <% end %>

            <div class="producer_follow_button_<%= producer.id %>">
              <%= render "producers/partials/relationships/index_follow_button", :producer => producer %>
            </div>


            <center><%= link_to producer.producer_name, producer_path(producer) %></center>
          </div>
        <% end %>
      </div>

    </div>

  </div>
</div>
<%= render 'partials/uni_footer' %>

