<%= provide(:title, sanitize(@fan.fan_name) + " | Merch") %>
<div class="buffalo">

  <%= render 'fans/partials/fan_cover_image' %>

  <div class="delaware">

    <main class="main">

      <ul class="carolina">
        <li><%= link_to "timeline", fan_path(@fan) %></li>
        <li><%= link_to "music", fan_music_path(@fan) %></li>
        <li class="jersey"><%= link_to "merch", fan_merch_path(@fan) %></li>
        <li><%= link_to "shows", fan_shows_path(@fan) %></li>
        <li><%= link_to "videos", fan_videos_path(@fan) %></li>
      </ul>

      <%= render 'fans/partials/fan_name' %>

      <%= render 'fans/partials/fan_follows_you' %>

      <div class="highgate">

        <div class="allen">
          <a id="fan-artist-click"><strong>artists</strong></a>
          <div class="amherst">
            following <%= link_to @fan.artists.count, fan_following_path(@fan) %>
          </div>
        </div>

        <div class="allen">
          <a id="fan-record-label-click"><strong>record labels</strong></a>
          <div class="amherst">
            following <%= link_to @fan.record_labels.count, fan_following_path(@fan) %>
          </div>
        </div>

        <div class="allen">
          <a id="fan-venue-click"><strong>venues</strong></a>
          <div class="amherst">
            following <%= link_to @fan.venues.count, fan_following_path(@fan) %>
          </div>
        </div>

        <div class="allen">
          <a id="fan-producer-click"><strong>producers</strong></a>
          <div class="amherst">
            following <%= link_to @fan.producers.count, fan_following_path(@fan) %>
          </div>
        </div>

        <div id="fan-artist" class="ferry">
        <% if @artist_merch.any? %>
          <div class="harlem">
            <% @artist_merch.each do |merch| %>
            <div class="auburn dodge">
              <div class="allen">
                <div class="highgate columbus">
                  <%= link_to merch.artist.artist_name, artist_path(merch.artist) %> <span class="posted">posted <%= time_ago_in_words(merch.created_at) %> ago</span>
                </div>
                <% if merch.item_img_file_name.present? %>
                <div class="highgate loretta">
                  <%= link_to image_tag("#{merch.item_img.url(:small)}", :width => "100%"), artist_merch_path(merch.artist, merch) %>
                </div>
                <% else %>
                  <% if merch.artist == current_artist %>
                    you do not have an image for this item. <%= link_to "add one?", edit_artist_merch_path(merch.artist, merch) %>
                  <% else %>
                    <%= merch.artist.artist_name %> does not have an image for <%= merch.title %>.
                  <% end %>
                <% end %>
              </div>
              <div class="allen">
                <div class="summer">
                  <%= link_to merch.title, artist_merch_path(merch.artist, merch) %>
                </div>
                <div class="summer">
                  <%= merch.category %>
                </div>
                <div class="summer">
                  <%= merch.quantity %> left
                </div>
              </div>
              <div class="allen">
                <div class="summer">
                  <span class="posted">base price //</span> <%= merch.base_price %> <%= merch.currency %>
                </div>
                <div class="summer">
                  <span class="posted">shipping price //</span> <%= merch.shipping_price %> <%= merch.currency %>
                </div>
                <div class="summer">
                  <span class="posted">total price //</span> <%= merch.total_price %> <%= merch.currency %>
                </div>
              </div>
              <div class="allen">
                <div class=" vermont amherst">
                  <%= link_to "get this?", merch.merch_url, class: "sugar" %>
                </div>
              </div>
            </div>
            <% end %>
          </div>

          <%= paginate @artist_merch, :window => 2 %>

        <% else %>
          <div class="harlem">
            <% if @fan == current_fan %>
              none of your artists have any merch. <%= link_to "discover some artists?", artists_path %>
            <% else %>
              <%= @fan.fan_name %>'s artists do not have any merch.
            <% end %>
          </div>
        <% end %>
        </div>

        <div id="fan-record-label" class="ferry colvin">

        </div>

        <div id="fan-venue" class="ferry colvin">

        </div>

        <div id="fan-producer" class="ferry colvin">

        </div>

      </div>

    </main>

    <%= render 'fans/partials/fan_sidebar' %>

  </div>
</div>
<%= render "partials/uni_footer" %>
