<%= provide(:title, sanitize(@fan.fan_name) + " | Merch") %>
<div class="buffalo">

  <%= render 'fans/partials/fan_cover_image' %>

  <div class="delaware">

    <main class="main">

      <ul class="carolina">
        <li><%= link_to "timeline", fan_path(@fan) %></li>
        <li class="jersey"><%= link_to "merch", fan_merch_path(@fan) %></li>
        <li><%= link_to "shows", fan_shows_path(@fan) %></li>
        <li><%= link_to "videos", fan_videos_path(@fan) %></li>
      </ul>

      <div class="hedley">
        <%= @fan.fan_name %>
      </div>

      <%= render 'fans/partials/fan_follows_you' %>

      <div class="highgate">

        <div class="allen">
          <a id="fan-artist-click"><strong>artists</strong></a>
          <div class="amherst">
            // following <%= link_to pluralize(@fan.artists.count, "artist"), fan_following_path(@fan) %>
          </div>
        </div>

        <div class="allen">
          <a id="fan-record-label-click"><strong>record labels</strong></a>
          <div class="amherst">
            // following <%= link_to pluralize(@fan.record_labels.count, "record label"), fan_following_path(@fan) %>
          </div>
        </div>

        <div class="allen">
          <a id="fan-venue-click"><strong>venues</strong></a>
          <div class="amherst">
            // following <%= link_to pluralize(@fan.venues.count, "venue"), fan_following_path(@fan) %>
          </div>
        </div>

        <div class="allen">
          <a id="fan-producer-click"><strong>producers</strong></a>
          <div class="amherst">
            // following <%= link_to pluralize(@fan.producers.count, "producer"), fan_following_path(@fan) %>
          </div>
        </div>

        <div id="fan-artist" class="ferry">
    <% if @fan.artist_merches.any? %>
      <div class="harlem">
        <% @fan.artist_merches.each do |merch| %>
        <div class="amherst dodge">
          <div class="allen">
            <div class="highgate columbus">
              <%= link_to Artist.find(merch.artist_id).artist_name, artist_path(Artist.find(merch.artist_id)) %> <span class="posted">posted <%= time_ago_in_words(merch.created_at) %> ago</span>
            </div>
            <% if merch.image_url.present? %>
            <div class="highgate loretta">
              <%= link_to image_tag("#{merch.image_url}", :width => "100%"), artist_merch_path(Artist.find(merch.artist_id), merch) %>
            </div>
            <% else %>
              <% if Artist.find(merch.artist_id) == current_artist %>
                you do not have an image for this item. <%= link_to "add one?", edit_artist_merch_path(Artist.find(merch.artist_id), merch) %>
              <% else %>
                <%= Artist.find(merch.artist_id).artist_name %> does not have an image for <%= merch.title %>.
              <% end %>
            <% end %>
          </div>
          <div class="allen">
            <div class="summer">
              <%= link_to merch.title, artist_merch_path(Artist.find(merch.artist_id), merch) %>
            </div>
            <div class="summer">
              <%= merch.category %>
            </div>
            <div class="summer">
              <%= merch.quantity %> left
            </div>
          </div>
          <div class="allen">
            <div class="summer">
              <span class="posted">base price //</span> <%= merch.base_price %> <%= merch.currency %>
            </div>
            <div class="summer">
              <span class="posted">shipping price //</span> <%= merch.shipping_price %> <%= merch.currency %>
            </div>
            <div class="summer">
              <span class="posted">total price //</span> <%= merch.total_price %> <%= merch.currency %>
            </div>
          </div>
          <div class="allen">
            <div class=" vermont amherst">
              <%= link_to "get this?", merch.merch_url, class: "sugar" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <% else %>
        <div class="harlem">
          <% if Artist.find(merch.artist_id) == current_artist %>
            you do not have any merch. <%= link_to "add some?", new_artist_merch_path(Artist.find(merch.artist_id)) %>
          <% else %>
            <%= Artist.find(merch.artist_id).artist_name %> does not have any merch.
          <% end %>
        </div>
      <% end %>
        </div>

        <div id="fan-record-label" class="ferry colvin">

        </div>

        <div id="fan-venue" class="ferry colvin">

        </div>

        <div id="fan-producer" class="ferry colvin">

        </div>

      </div>

    </main>

    <%= render 'fans/partials/fan_sidebar' %>

  </div>
</div>
<%= render "partials/uni_footer" %>
