<%= provide(:title, sanitize(@fan.fan_name) + " | Music") %>
<div class="buffalo">

  <%= render 'fans/partials/fan_cover_image' %>

  <div class="delaware">

    <main class="main">

      <ul class="carolina">
        <li><%= link_to "timeline", fan_path(@fan) %></li>
        <li class="jersey"><%= link_to "music", fan_music_path(@fan) %></li>
        <li><%= link_to "merch", fan_merch_path(@fan) %></li>
        <li><%= link_to "shows", fan_shows_path(@fan) %></li>
        <li><%= link_to "videos", fan_videos_path(@fan) %></li>
      </ul>

      <%= render 'fans/partials/fan_name' %>

      <%= render 'fans/partials/fan_follows_you' %>

      <div class="highgate">

        <div class="allen">
          <a id="fan-artist-click"><strong>artists</strong></a>
          <div class="amherst">
            // following <%= link_to pluralize(@fan.artists.count, "artist"), fan_following_path(@fan) %>
          </div>
        </div>

        <div class="allen">
          <a id="fan-record-label-click"><strong>record labels</strong></a>
          <div class="amherst">
            // following <%= link_to pluralize(@fan.record_labels.count, "record label"), fan_following_path(@fan) %>
          </div>
        </div>

        <div class="allen">
          <a id="fan-venue-click"><strong>venues</strong></a>
          <div class="amherst">
            // following <%= link_to pluralize(@fan.venues.count, "venue"), fan_following_path(@fan) %>
          </div>
        </div>

        <div class="allen">
          <a id="fan-producer-click"><strong>producers</strong></a>
          <div class="amherst">
            // following <%= link_to pluralize(@fan.producers.count, "producer"), fan_following_path(@fan) %>
          </div>
        </div>

        <div id="fan-artist" class="ferry">
        <% if @fan.artist_albums.any? %>
          <div class="harlem">
            <% @fan.artist_albums.sort_by{ |album| -album.id }.each do |album| %>
            <div class="auburn dodge">
              <div class="ogden">
                <div class="highgate columbus">
                  <%= link_to album.artist.artist_name, artist_path(album.artist) %> <span class="posted">posted <%= time_ago_in_words(album.created_at) %> ago</span>
                </div>
                <div class="highgate loretta">
                  <%= link_to image_tag("#{album.cover_art_url}", :width => "100%"), artist_album_path(album.artist, album) %>
                </div>
              </div>
              <div class="ogden">
                <div class="summer">
                  <%= link_to album.title, artist_album_path(album.artist, album) %>
                </div>
                <div class="summer">
                  <span class="posted">price //</span> <%= album.price %> <%= album.currency %>
                </div>
                <div class="posted">
                  released
                </div>
                <div class="amherst">
                  <%= album.month %>.<%= album.day %>.<%= album.year %>
                </div>
              </div>
              <div class="ogden">
                <div class="bryant">
                  <%= link_to "get this?", album.album_url, class: "sugar" %>
                </div>
                <div class="posted">
                  from
                </div>
                <div class="amherst">
                  <%= album.album_url.split('/')[2] %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        <% else %>
          <div class="harlem">
            <% if @fan == current_fan %>
              none of your artists have any albums. <%= link_to "discover some artists?", artists_path %>
            <% else %>
              <%= @fan.fan_name %>'s artists do not have any albums.
            <% end %>
          </div>
        <% end %>
        </div>

        <div id="fan-record-label" class="ferry colvin">

        </div>

        <div id="fan-venue" class="ferry colvin">

        </div>

        <div id="fan-producer" class="ferry colvin">

        </div>

      </div>

    </main>

    <%= render 'fans/partials/fan_sidebar' %>

  </div>
</div>
<%= render "partials/uni_footer" %>
