<%= provide(:title, sanitize(@fan.fan_name)) %>
<div class="buffalo">
  <% if @fan.fan_profile.cover_image.blank? %>
    <div class="clinton">
      <% if fan_signed_in? && @fan.id == current_fan.id %>
        you do not have a cover image yet. <%= link_to "add one?", edit_fan_profile_path(current_fan) %>
      <% else %>
        <%= "#{@fan.fan_name} hasn't uploaded a cover photo yet" %>
      <% end %>
    </div>
  <% else %>
    <div class="broadway">
      <img srcset="<%= @fan.fan_profile.cover_image %>" width="100%" height="auto" />
    </div>
  <% end %>
  <div class="delaware">

    <main class="main">

      <ul class="carolina">
        <li><%= link_to "timeline", fan_path(@fan) %></li>
        <li class="jersey"><%= link_to "shows", fan_shows_path(@fan) %></li>
      </ul>

      <div class="hedley">
        <%= @fan.fan_name %>
      </div>

      <% if artist_signed_in? && @fan.following_artist?(current_artist) %>
        <div class="amherst">
          <%= @fan.fan_name %> follows you
        </div>
      <% elsif record_label_signed_in? && @fan.following_record_label?(current_record_label) %>
        <div class="amherst">
          <%= @fan.fan_name %> follows you
        </div>
      <% elsif venue_signed_in? && @fan.following_venue?(current_venue) %>
        <div class="amherst">
          <%= @fan.fan_name %> follows you
        </div>
      <% elsif producer_signed_in? && @fan.following_producer?(current_producer) %>
        <div class="amherst">
          <%= @fan.fan_name %> follows you
        </div>
      <% end %>

      <div class="highgate">

        <div class="allen">
          <a id="fan-artist-click"><strong>artists</strong></a>
          <div class="amherst">
            // following <%= link_to pluralize(@fan.artists.count, "artist"), fan_following_path(@fan) %>
          </div>
        </div>

        <div class="allen">
          <a id="fan-record-label-click"><strong>record labels</strong></a>
          <div class="amherst">
            // following <%= link_to pluralize(@fan.record_labels.count, "record label"), fan_following_path(@fan) %>
          </div>
        </div>

        <div class="allen">
          <a id="fan-venue-click"><strong>venues</strong></a>
          <div class="amherst">
            // following <%= link_to pluralize(@fan.venues.count, "venue"), fan_following_path(@fan) %>
          </div>
        </div>

        <div class="allen">
          <a id="fan-producer-click"><strong>producers</strong></a>
          <div class="amherst">
            // following <%= link_to pluralize(@fan.producers.count, "producer"), fan_following_path(@fan) %>
          </div>
        </div>

        <div id="fan-artist" class="ferry">
          <% if @fan.fan_profile.location.present? %>
          <div class="highgate">
            shows coming to <%= @fan.fan_profile.location.split(",").first %> based on who <%= @fan.fan_name %> follows
          </div>
          <% if @fan.artist_shows.any? %>
            <div class="highgate">
            <% @fan.artist_shows.select{ |show| show.location == @fan.fan_profile.location }.each do |show| %>
                <div class="amherst"><%= link_to Artist.find(show.artist_id).artist_name, artist_path(Artist.find(show.artist_id)) %> on <%= link_to "#{show.month}.#{show.day}.#{show.year} at #{show.venue} in #{show.location}", artist_show_path(Artist.find(show.artist_id), show) %>
                <% if show.ticket_url.present? %>
                   // <%= link_to "get tickets", show.ticket_url %>
                <% end %>
                <% if Artist.find(show.artist_id) == current_artist %>
                  // <%= link_to "edit", edit_artist_show_path(Artist.find(show.artist_id), show) %> or <%= link_to "delete", artist_show_path(Artist.find(show.artist_id), show), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete %>
                <% end %>
            <% end %>
            </div>
          <% else %>
            no shows coming to <%= @fan.fan_profile.location.split(",").first %>
          <% end %>
          <% end %>
        </div>

        <div id="fan-record-label" class="ferry colvin">
        </div>

        <div id="fan-venue" class="ferry colvin">
        </div>

        <div id="fan-producer" class="ferry colvin">
        </div>

      </div>

    </main>


    <aside class="pearl">

      <% if fan_signed_in? && @fan.id == current_fan.id && @fan.fan_profile.location.blank? && @fan.fan_profile.biography.blank? && @fan.fan_profile.website.blank? %>
        <div class="amherst">
          you do not have any profile information
        </div>
        <div class="jefferson">
          <%= link_to "update your profile", edit_fan_profile_path(current_fan) %>
        </div>
      <% elsif @fan.fan_profile.location.blank? && @fan.fan_profile.biography.blank? && @fan.fan_profile.website.blank? %>
        <div class="amherst">
          <%= "#{@fan.fan_name} does not have any profile information yet" %>
        </div>
      <% end %>
      <% if @fan.fan_profile.location.present? %>
      <div class="jefferson">
        location //
      </div>
      <div class="fillmore">
        <%= @fan.fan_profile.location %>
      </div>
      <% end %>
      <% if @fan.fan_profile.website.present? %>
      <div class="jefferson">
        website //
      </div>
      <div class="fillmore">
        <%= link_to "#{@fan.fan_name}'s website", @fan.fan_profile.website %>
      </div>
      <% end %>
      <% if @fan.fan_profile.biography.present? %>
      <div class="jefferson">
        biography //
      </div>
      <div class="fillmore">
        <%= @fan.fan_profile.biography %>
      </div>
      <% end %>
    </aside>

  </div>
</div>
<%= render "partials/uni_footer" %>

<% if buffalo_signed_in? %>
  <div class="forest">
    <li><%= @fan.id %></li>
    <li><%= @fan.fan_name %></li>
    <li><%= @fan.username %></li>
    <li><%= @fan.email %></li>
    <li><%= @fan.sign_in_count %></li>
    <li><%= @fan.last_sign_in_at %></li>
  </div>
<% end %>
