<%= provide(:title, sanitize(@fan.fan_name)) %>
<div class="buffalo">
  <% if @fan.fan_profile.cover_image.blank? %>
    <div class="clinton">
      <% if fan_signed_in? && @fan.id == current_fan.id %>
        you do not have a cover image yet. <%= link_to "add one?", edit_fan_profile_path(current_fan) %>
      <% else %>
        <%= "#{@fan.fan_name} hasn't uploaded a cover photo yet" %>
      <% end %>
    </div>
  <% else %>
    <div class="broadway">
      <img srcset="<%= @fan.fan_profile.cover_image %>" width="100%" height="auto" />
    </div>
  <% end %>
  <div class="delaware">


    <main class="main">

      <ul class="carolina">
        <li class="jersey"><%= link_to "timeline", fan_path(@fan) %></li>
        <li><%= link_to "shows", fan_shows_path(@fan) %></li>
      </ul>

      <div class="hedley">
        <%= @fan.fan_name %>
      </div>

      <% if artist_signed_in? && @fan.following_artist?(current_artist) %>
        <div class="amherst">
          <%= @fan.fan_name %> follows you
        </div>
      <% elsif record_label_signed_in? && @fan.following_record_label?(current_record_label) %>
        <div class="amherst">
          <%= @fan.fan_name %> follows you
        </div>
      <% elsif venue_signed_in? && @fan.following_venue?(current_venue) %>
        <div class="amherst">
          <%= @fan.fan_name %> follows you
        </div>
      <% elsif producer_signed_in? && @fan.following_producer?(current_producer) %>
        <div class="amherst">
          <%= @fan.fan_name %> follows you
        </div>
      <% end %>


      <%= render "fans/partials/fan_feed" %>

    </main>


    <aside class="pearl">

      <% if fan_signed_in? && @fan.id == current_fan.id && @fan.fan_profile.location.blank? && @fan.fan_profile.biography.blank? && @fan.fan_profile.website.blank? %>
        <div class="amherst">
          you do not have any profile information
        </div>
        <div class="jefferson">
          <%= link_to "update your profile", edit_fan_profile_path(current_fan) %>
        </div>
      <% elsif @fan.fan_profile.location.blank? && @fan.fan_profile.biography.blank? && @fan.fan_profile.website.blank? %>
        <div class="amherst">
          <%= "#{@fan.fan_name} does not have any profile information yet" %>
        </div>
      <% end %>
      <% if @fan.fan_profile.location.present? %>
      <div class="jefferson">
        location //
      </div>
      <div class="fillmore">
        <%= @fan.fan_profile.location %>
      </div>
      <% end %>
      <% if @fan.fan_profile.website.present? %>
      <div class="jefferson">
        website //
      </div>
      <div class="fillmore">
        <%= link_to "#{@fan.fan_name}'s website", @fan.fan_profile.website %>
      </div>
      <% end %>
      <% if @fan.fan_profile.biography.present? %>
      <div class="jefferson">
        biography //
      </div>
      <div class="fillmore">
        <%= @fan.fan_profile.biography %>
      </div>
      <% end %>
    </aside>

  </div>
</div>
<%= render "partials/uni_footer" %>

<% if buffalo_signed_in? %>
  <div class="forest">
    <li><%= @fan.id %></li>
    <li><%= @fan.fan_name %></li>
    <li><%= @fan.username %></li>
    <li><%= @fan.email %></li>
    <li><%= @fan.sign_in_count %></li>
    <li><%= @fan.last_sign_in_at %></li>
  </div>
<% end %>
