<%= provide(:title, sanitize(@fan.fan_name)) %>
<div class="buffalo">

  <%= render 'fans/partials/fan_cover_image' %>

  <div class="delaware">


    <main class="main">

      <ul class="carolina">
        <li class="jersey"><%= link_to "timeline", fan_path(@fan) %></li>
        <li><%= link_to "merch", fan_merch_path(@fan) %></li>
        <li><%= link_to "shows", fan_shows_path(@fan) %></li>
        <li><%= link_to "videos", fan_videos_path(@fan) %></li>
      </ul>

      <div class="hedley">
        <%= @fan.fan_name %>
      </div>

      <%= render 'fans/partials/fan_follows_you' %>

      <%= render "fans/partials/fan_feed" %>

    </main>

    <%= render 'fans/partials/fan_sidebar' %>

  </div>
</div>
<%= render "partials/uni_footer" %>

<% if buffalo_signed_in? %>
  <div class="forest">
    <li><%= @fan.id %></li>
    <li><%= @fan.fan_name %></li>
    <li><%= @fan.username %></li>
    <li><%= @fan.email %></li>
    <li><%= @fan.sign_in_count %></li>
    <li><%= @fan.last_sign_in_at %></li>
  </div>
<% end %>
