<%= provide(:title, sanitize(@fan.fan_name) + " | Videos") %>
<div class="buffalo">

  <%= render 'fans/partials/fan_cover_image' %>

  <div class="delaware">

    <main class="main">

      <ul class="carolina">
        <li><%= link_to "timeline", fan_path(@fan) %></li>
        <li><%= link_to "music", fan_music_path(@fan) %></li>
        <li><%= link_to "merch", fan_merch_path(@fan) %></li>
        <li><%= link_to "shows", fan_shows_path(@fan) %></li>
        <li class="jersey"><%= link_to "videos", fan_videos_path(@fan) %></li>
      </ul>

      <%= render 'fans/partials/fan_name' %>

      <%= render 'fans/partials/fan_follows_you' %>

      <div class="highgate">

        <div class="allen">
          <a id="fan-artist-click"><strong>artists</strong></a>
          <div class="amherst">
            // following <%= link_to pluralize(@fan.artists.count, "artist"), fan_following_path(@fan) %>
          </div>
        </div>

        <div class="allen">
          <a id="fan-record-label-click"><strong>record labels</strong></a>
          <div class="amherst">
            // following <%= link_to pluralize(@fan.record_labels.count, "record label"), fan_following_path(@fan) %>
          </div>
        </div>

        <div class="allen">
          <a id="fan-venue-click"><strong>venues</strong></a>
          <div class="amherst">
            // following <%= link_to pluralize(@fan.venues.count, "venue"), fan_following_path(@fan) %>
          </div>
        </div>

        <div class="allen">
          <a id="fan-producer-click"><strong>producers</strong></a>
          <div class="amherst">
            // following <%= link_to pluralize(@fan.producers.count, "producer"), fan_following_path(@fan) %>
          </div>
        </div>

        <div id="fan-artist" class="ferry">
        <% if @fan.artist_videos.any? %>
          <% @fan.artist_videos.each do |video| %>
            <div class="ogden">
              <div class="plymouth">
                <%= embed(video.youtube_url) %>
              </div>
              <div class="auburn">
                <%= link_to video.artist.artist_name, artist_path(video.artist) %> <span class="posted">posted</span> <%= link_to video.title, artist_video_path(video.artist, video) %> <span class="posted"><%= time_ago_in_words(video.created_at) %> ago</span>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="harlem">
            <% if @fan == current_fan %>
              none of your artists have any videos. <%= link_to "find some artists to follow.", artists_path %>
            <% else %>
              <%= @fan.fan_name %>'s artists do not have any videos.
            <% end %>
          </div>
        <% end %>
        </div>

        <div id="fan-record-label" class="ferry colvin">
        <% if @fan.record_label_videos.any? %>
          <% @fan.record_label_videos.each do |video| %>
            <div class="ogden">
              <div class="plymouth">
                <%= embed(video.youtube_url) %>
              </div>
              <div class="auburn">
                <%= link_to video.record_label.label_name, record_label_path(video.record_label) %> <span class="posted">posted</span> <%= link_to video.title, record_label_video_path(video.record_label, video) %> <span class="posted"><%= time_ago_in_words(video.created_at) %> ago</span>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="harlem">
            <% if @fan == current_fan %>
              you do not have any videos. <%= link_to "find some record labels to follow.", record_labels_path %>
            <% else %>
              <%= @fan.fan_name %> does not have any videos.
            <% end %>
          </div>
        <% end %>
        </div>

        <div id="fan-venue" class="ferry colvin">
          <% if @fan.venue_videos.any? %>
          <% @fan.venue_videos.each do |video| %>
            <div class="ogden">
              <div class="plymouth">
                <%= embed(video.youtube_url) %>
              </div>
              <div class="auburn">
                <%= link_to video.venue.venue_name, venue_path(video.venue) %> <span class="posted">posted</span> <%= link_to video.title, venue_video_path(video.venue, video) %> <span class="posted"><%= time_ago_in_words(video.created_at) %> ago</span>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="harlem">
            <% if @fan == current_fan %>
              you do not have any videos. <%= link_to "find some venues to follow.", venues_path %>
            <% else %>
              <%= @fan.fan_name %> does not have any videos.
            <% end %>
          </div>
        <% end %>
        </div>

        <div id="fan-producer" class="ferry colvin">
          <% if @fan.producer_videos.any? %>
          <% @fan.producer_videos.each do |video| %>
            <div class="ogden">
              <div class="plymouth">
                <%= embed(video.youtube_url) %>
              </div>
              <div class="auburn">
                <%= link_to video.producer.producer_name, producer_path(video.producer) %> <span class="posted">posted</span> <%= link_to video.title, producer_video_path(video.producer, video) %> <span class="posted"><%= time_ago_in_words(video.created_at) %> ago</span>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="harlem">
            <% if @fan == current_fan %>
              you do not have any videos. <%= link_to "find some producers to follow.", producers_path %>
            <% else %>
              <%= @fan.fan_name %> does not have any videos.
            <% end %>
          </div>
        <% end %>
        </div>

      </div>

    </main>

    <%= render 'fans/partials/fan_sidebar' %>

  </div>
</div>
<%= render "partials/uni_footer" %>
