<%= provide(:title, sanitize(@artist.artist_name) + " | Followers") %>
<div class="buffalo">

  <%= render 'artists/partials/artist_cover_image' %>

  <div class="delaware">
    <div class="winspear hedley">
      <%= link_to @artist.artist_name, artist_path(@artist) %>
    </div>
    <div class="amherst">
      <strong>// <%= pluralize(@artist.fans.count, "fan") %></strong>
    </div>

    <% if @artist.fans.any? %>
    <div class="harlem">
      <% @artist.fans.take(100).each do |fan| %>
        <div class="utica">

          <% if fan.fan_profile.cover_image.blank? %>
            <div class="sycamore">
              <% if fan_signed_in? && fan.id == current_fan.id %>
                you do not have a profile image yet
              <% else %>
                <%= "#{fan.fan_name} hasn't uploaded a profile image yet" %>
              <% end %>
            </div>
          <% else %>
          <div class="genesee">
            <img srcset="<%= fan.fan_profile.cover_image %>" width="100%" height="auto" />
          </div>
          <% end %>

          <center><%= link_to fan.fan_name, fan_path(fan) %></center>
        </div>
      <% end %>
    </div>
    <% end %>

  </div>
</div>
<%= render 'partials/uni_footer' %>
