<%= provide(:title, sanitize(@artist.artist_name) + " | Followers") %>
<div class="buffalo">

  <%= render 'artists/partials/artist_cover_image' %>

  <div class="delaware">

    <%= render 'artists/partials/artist_name' %>

    <% if @followers.any? %>
    <div class="harlem">
      <% @followers.each do |fan| %>
        <div class="utica">

          <%= render 'fans/partials/fan_profile_image', :fan => fan %>

          <div class="busti">
            <%= link_to fan.fan_name, fan_path(fan) %>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>

    <%= paginate @followers, :window => 2 %>

  </div>
</div>
<%= render 'partials/uni_footer' %>
