<%= provide(:title, "Discover Artists") %>
<%= render "partials/uni_header" %>
<div class="buffalo">
  <div class="delaware">

    <div class="washington">
      <div class="fargo">
        <div class="bird">
          discover artists
        </div>
      </div>
    </div>
    <div class="fargo">
      <%= form_tag(artists_path, :method => "get") do %>
        <div class="highgate">
          <%= text_field_tag :search, params[:search], placeholder: "search artists", class: "huron" %>
        </div>
          <%= submit_tag "search", class: "exchange", :style => "display: none;" %>
      <% end %>
    </div>

    <ul class="potomac">
      <li class="jersey"><%= link_to "artists", artists_path %></li>
      <li><%= link_to "timeline", index_artist_microposts_path %></li>
      <li><%= link_to "merch", index_artist_merch_path %></li>
      <li><%= link_to "shows", index_artist_shows_path %></li>
      <li><%= link_to "videos", index_artist_videos_path %></li>
    </ul>

    <% if @artists.present? %>

    <div class="washington">
      <div class="highgate">
        <div id="popular" class="porter lafayette">
          popular
        </div>
        <div id="recent" class="porter">
          recent
        </div>
        <div id="location" class="porter">
        <% if fan_signed_in? && current_fan.fan_profile.location.present? %>
          <%= current_fan.fan_profile.location.downcase %>
        <% else %>
          location
        <% end %>
        </div>
        <div id="alternative" class="porter">
          alternative
        </div>
        <div id="ambient" class="porter">
          ambient
        </div>
        <div id="blues" class="porter">
          blues
        </div>
        <div id="classical" class="porter">
          classical
        </div>
        <div id="comedy" class="porter">
          comedy
        </div>
        <div id="country" class="porter">
          country
        </div>
        <div id="electronic" class="porter">
          electronic
        </div>
        <div id="experimental" class="porter">
          experimental
        </div>
        <div id="hip-hop-rap" class="porter">
          hip-hop/rap
        </div>
        <div id="indie" class="porter">
          indie
        </div>
        <div id="jazz" class="porter">
          jazz
        </div>
        <div id="latino" class="porter">
          latino
        </div>
        <div id="metal" class="porter">
          metal
        </div>
        <div id="pop" class="porter">
          pop
        </div>
        <div id="rb-soul" class="porter">
          r&b/soul
        </div>
        <div id="rock" class="porter">
          rock
        </div>
        <div id="singer-songwriter" class="porter">
          singer/songwriter
        </div>
        <div id="soundtrack" class="porter">
          soundtrack
        </div>
        <div id="world" class="porter">
          world
        </div>
      </div>
    </div>

    <div class="niagara">
      <div class="highgate">
      <center>
        <div id="mpopular" class="porter lafayette">
          <strong>popular</strong>
        </div>
        <div id="mrecent" class="porter">
          <strong>recent</strong>
        </div>
        <div id="mlocation" class="porter">
          <strong>location</strong>
        </div>
        <strong><a class="porter adams">genres</a></strong>
        <div class="grey">
          <div id="malternative" class="porter">
            alternative
          </div>
          <div id="mambient" class="porter">
            ambient
          </div>
          <div id="mblues" class="porter">
            blues
          </div>
          <div id="mclassical" class="porter">
            classical
          </div>
          <div id="mcomedy" class="porter">
            comedy
          </div>
          <div id="mcountry" class="porter">
            country
          </div>
          <div id="melectronic" class="porter">
            electronic
          </div>
          <div id="mexperimental" class="porter">
            experimental
          </div>
          <div id="mhip-hop-rap" class="porter">
            hip-hop/rap
          </div>
          <div id="mindie" class="porter">
            indie
          </div>
          <div id="mjazz" class="porter">
            jazz
          </div>
          <div id="mlatino" class="porter">
            latino
          </div>
          <div id="mmetal" class="porter">
            metal
          </div>
          <div id="mpop" class="porter">
            pop
          </div>
          <div id="mrb-soul" class="porter">
            r&b/soul
          </div>
          <div id="mrock" class="porter">
            rock
          </div>
          <div id="msinger-songwriter" class="porter">
            singer/songwriter
          </div>
          <div id="msoundtrack" class="porter">
            soundtrack
          </div>
          <div id="mworld" class="porter">
            world
          </div>
        </div>
      </center>
      </div>
    </div>

      <div id="container-popular" class="ferry">
        <% @artists.sort_by{ |artist| -artist.fans.count }.each do |artist| %>
          <div class="utica">
            <%= render 'artists/partials/artist_profile_image', :artist => artist %>
            <div class="hertel">
              <center><%= link_to artist.artist_name, artist_path(artist) %></center>
            </div>
            <div class="hertel">
              <center><%= artist.artist_profile.genre unless artist.artist_profile.genre.blank? %></center>
            </div>
            <div class="hertel">
              <center><%= artist.artist_profile.location unless artist.artist_profile.location.blank? %></center>
            </div>
            <div class="hertel">
              <div class="index_follower_count_<%= artist.id %>">
                <%= render "artists/partials/relationships/index_follower_count", :artist => artist %>
              </div>
            </div>

            <div class="index_follow_button_<%= artist.id %>">
              <%= render "artists/partials/relationships/index_follow_button", :artist => artist %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-recent" class="ferry colvin">
        <% @artists.order( 'id DESC' ).each do |artist| %>
          <div class="utica">
            <%= render 'artists/partials/artist_profile_image', :artist => artist %>
              <div class="hertel">
                <center><%= link_to artist.artist_name, artist_path(artist) %></center>
              </div>
              <div class="hertel">
                <center><%= artist.artist_profile.genre unless artist.artist_profile.genre.blank? %></center>
              </div>
              <div class="hertel">
                <center><%= artist.artist_profile.location unless artist.artist_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= artist.id %>">
                <%= render "artists/partials/relationships/index_follower_count", :artist => artist %>
              </div>
            </div>

            <div class="index_follow_button_<%= artist.id %>">
              <%= render "artists/partials/relationships/index_follow_button", :artist => artist %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-location" class="ferry colvin">
        <% if fan_signed_in? && current_fan.fan_profile.location.present? %>
          <% @artists.each do |artist| if artist.artist_profile.location == current_fan.fan_profile.location %>
              <div class="utica">
                <%= render 'artists/partials/artist_profile_image', :artist => artist %>
                <div class="hertel">
                  <center><%= link_to artist.artist_name, artist_path(artist) %></center>
                </div>
                <div class="hertel">
                  <center><%= artist.artist_profile.location unless artist.artist_profile.location.blank? %></center>
                </div>
                <div class="hertel">
                <div class="index_follower_count_<%= artist.id %>">
                <%= render "artists/partials/relationships/index_follower_count", :artist => artist %>
              </div>
            </div>

            <div class="index_follow_button_<%= artist.id %>">
              <%= render "artists/partials/relationships/index_follow_button", :artist => artist %>
            </div>

              </div>
            <% end %>
          <% end %>
        <% elsif fan_signed_in? && current_fan.fan_profile.location.blank? %>
          <div class="hertel">
            <center>Your location is blank! Go set it on <%= link_to "your profile", edit_fan_profile_path(current_fan) %>.</center>
          </div>
        <% else %>
          <div class="harlem">
            <center><%= link_to "sign in", new_fan_session_path %> to view artists based on location</center>
          </div>
        <% end %>
      </div>

      <div id="container-alternative" class="ferry colvin">
        <% @artists.alternative.each do |artist| %>
          <div class="utica">
            <%= render 'artists/partials/artist_profile_image', :artist => artist %>
              <div class="hertel">
                <center><%= link_to artist.artist_name, artist_path(artist) %></center>
              </div>
              <div class="hertel">
                <center><%= artist.artist_profile.location unless artist.artist_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= artist.id %>">
                <%= render "artists/partials/relationships/index_follower_count", :artist => artist %>
              </div>
            </div>

            <div class="index_follow_button_<%= artist.id %>">
              <%= render "artists/partials/relationships/index_follow_button", :artist => artist %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-ambient" class="ferry colvin">
        <% @artists.ambient.each do |artist| %>
          <div class="utica">
            <%= render 'artists/partials/artist_profile_image', :artist => artist %>
              <div class="hertel">
                <center><%= link_to artist.artist_name, artist_path(artist) %></center>
              </div>
              <div class="hertel">
                <center><%= artist.artist_profile.location unless artist.artist_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= artist.id %>">
                <%= render "artists/partials/relationships/index_follower_count", :artist => artist %>
              </div>
            </div>

            <div class="index_follow_button_<%= artist.id %>">
              <%= render "artists/partials/relationships/index_follow_button", :artist => artist %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-blues" class="ferry colvin">
        <% @artists.blues.each do |artist| %>
          <div class="utica">
            <%= render 'artists/partials/artist_profile_image', :artist => artist %>
              <div class="hertel">
                <center><%= link_to artist.artist_name, artist_path(artist) %></center>
              </div>
              <div class="hertel">
                <center><%= artist.artist_profile.location unless artist.artist_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= artist.id %>">
                <%= render "artists/partials/relationships/index_follower_count", :artist => artist %>
              </div>
            </div>

            <div class="index_follow_button_<%= artist.id %>">
              <%= render "artists/partials/relationships/index_follow_button", :artist => artist %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-classical" class="ferry colvin">
        <% @artists.classical.each do |artist| %>
          <div class="utica">
            <%= render 'artists/partials/artist_profile_image', :artist => artist %>
              <div class="hertel">
                <center><%= link_to artist.artist_name, artist_path(artist) %></center>
              </div>
              <div class="hertel">
                <center><%= artist.artist_profile.location unless artist.artist_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= artist.id %>">
                <%= render "artists/partials/relationships/index_follower_count", :artist => artist %>
              </div>
            </div>

            <div class="index_follow_button_<%= artist.id %>">
              <%= render "artists/partials/relationships/index_follow_button", :artist => artist %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-comedy" class="ferry colvin">
        <% @artists.comedy.each do |artist| %>
          <div class="utica">
            <%= render 'artists/partials/artist_profile_image', :artist => artist %>
              <div class="hertel">
                <center><%= link_to artist.artist_name, artist_path(artist) %></center>
              </div>
              <div class="hertel">
                <center><%= artist.artist_profile.location unless artist.artist_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= artist.id %>">
                <%= render "artists/partials/relationships/index_follower_count", :artist => artist %>
              </div>
            </div>

            <div class="index_follow_button_<%= artist.id %>">
              <%= render "artists/partials/relationships/index_follow_button", :artist => artist %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-country" class="ferry colvin">
        <% @artists.country.each do |artist| %>
          <div class="utica">
            <%= render 'artists/partials/artist_profile_image', :artist => artist %>
              <div class="hertel">
                <center><%= link_to artist.artist_name, artist_path(artist) %></center>
              </div>
              <div class="hertel">
                <center><%= artist.artist_profile.location unless artist.artist_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= artist.id %>">
                <%= render "artists/partials/relationships/index_follower_count", :artist => artist %>
              </div>
            </div>

            <div class="index_follow_button_<%= artist.id %>">
              <%= render "artists/partials/relationships/index_follow_button", :artist => artist %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-electronic" class="ferry colvin">
        <% @artists.electronic.each do |artist| %>
          <div class="utica">
            <%= render 'artists/partials/artist_profile_image', :artist => artist %>
              <div class="hertel">
                <center><%= link_to artist.artist_name, artist_path(artist) %></center>
              </div>
              <div class="hertel">
                <center><%= artist.artist_profile.location unless artist.artist_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= artist.id %>">
                <%= render "artists/partials/relationships/index_follower_count", :artist => artist %>
              </div>
            </div>

            <div class="index_follow_button_<%= artist.id %>">
              <%= render "artists/partials/relationships/index_follow_button", :artist => artist %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-experimental" class="ferry colvin">
        <% @artists.experimental.each do |artist| %>
          <div class="utica">
            <%= render 'artists/partials/artist_profile_image', :artist => artist %>
              <div class="hertel">
                <center><%= link_to artist.artist_name, artist_path(artist) %></center>
              </div>
              <div class="hertel">
                <center><%= artist.artist_profile.location unless artist.artist_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= artist.id %>">
                <%= render "artists/partials/relationships/index_follower_count", :artist => artist %>
              </div>
            </div>

            <div class="index_follow_button_<%= artist.id %>">
              <%= render "artists/partials/relationships/index_follow_button", :artist => artist %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-hip-hop-rap" class="ferry colvin">
        <% @artists.hiphoprap.each do |artist| %>
          <div class="utica">
            <%= render 'artists/partials/artist_profile_image', :artist => artist %>
              <div class="hertel">
                <center><%= link_to artist.artist_name, artist_path(artist) %></center>
              </div>
              <div class="hertel">
                <center><%= artist.artist_profile.location unless artist.artist_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= artist.id %>">
                <%= render "artists/partials/relationships/index_follower_count", :artist => artist %>
              </div>
            </div>

            <div class="index_follow_button_<%= artist.id %>">
              <%= render "artists/partials/relationships/index_follow_button", :artist => artist %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-indie" class="ferry colvin">
        <% @artists.indie.each do |artist| %>
          <div class="utica">
            <%= render 'artists/partials/artist_profile_image', :artist => artist %>
              <div class="hertel">
                <center><%= link_to artist.artist_name, artist_path(artist) %></center>
              </div>
              <div class="hertel">
                <center><%= artist.artist_profile.location unless artist.artist_profile.location.blank? %></center>
              </div>
             <div class="hertel">
                <div class="index_follower_count_<%= artist.id %>">
                <%= render "artists/partials/relationships/index_follower_count", :artist => artist %>
              </div>
            </div>

            <div class="index_follow_button_<%= artist.id %>">
              <%= render "artists/partials/relationships/index_follow_button", :artist => artist %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-jazz" class="ferry colvin">
        <% @artists.jazz.each do |artist| %>
          <div class="utica">
            <%= render 'artists/partials/artist_profile_image', :artist => artist %>
              <div class="hertel">
                <center><%= link_to artist.artist_name, artist_path(artist) %></center>
              </div>
              <div class="hertel">
                <center><%= artist.artist_profile.location unless artist.artist_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= artist.id %>">
                <%= render "artists/partials/relationships/index_follower_count", :artist => artist %>
              </div>
            </div>

            <div class="index_follow_button_<%= artist.id %>">
              <%= render "artists/partials/relationships/index_follow_button", :artist => artist %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-latino" class="ferry colvin">
        <% @artists.latino.each do |artist| %>
          <div class="utica">
            <%= render 'artists/partials/artist_profile_image', :artist => artist %>
              <div class="hertel">
                <center><%= link_to artist.artist_name, artist_path(artist) %></center>
              </div>
              <div class="hertel">
                <center><%= artist.artist_profile.location unless artist.artist_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= artist.id %>">
                <%= render "artists/partials/relationships/index_follower_count", :artist => artist %>
              </div>
            </div>

            <div class="index_follow_button_<%= artist.id %>">
              <%= render "artists/partials/relationships/index_follow_button", :artist => artist %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-metal" class="ferry colvin">
        <% @artists.metal.each do |artist| %>
          <div class="utica">
            <%= render 'artists/partials/artist_profile_image', :artist => artist %>
              <div class="hertel">
                <center><%= link_to artist.artist_name, artist_path(artist) %></center>
              </div>
              <div class="hertel">
                <center><%= artist.artist_profile.location unless artist.artist_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= artist.id %>">
                <%= render "artists/partials/relationships/index_follower_count", :artist => artist %>
              </div>
            </div>

            <div class="index_follow_button_<%= artist.id %>">
              <%= render "artists/partials/relationships/index_follow_button", :artist => artist %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-pop" class="ferry colvin">
        <% @artists.pop.each do |artist| %>
          <div class="utica">
            <%= render 'artists/partials/artist_profile_image', :artist => artist %>
              <div class="hertel">
                <center><%= link_to artist.artist_name, artist_path(artist) %></center>
              </div>
              <div class="hertel">
                <center><%= artist.artist_profile.location unless artist.artist_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= artist.id %>">
                <%= render "artists/partials/relationships/index_follower_count", :artist => artist %>
              </div>
            </div>

            <div class="index_follow_button_<%= artist.id %>">
              <%= render "artists/partials/relationships/index_follow_button", :artist => artist %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-rb-soul" class="ferry colvin">
        <% @artists.rbsoul.each do |artist| %>
          <div class="utica">
           <%= render 'artists/partials/artist_profile_image', :artist => artist %>
              <div class="hertel">
                <center><%= link_to artist.artist_name, artist_path(artist) %></center>
              </div>
              <div class="hertel">
                <center><%= artist.artist_profile.location unless artist.artist_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= artist.id %>">
                <%= render "artists/partials/relationships/index_follower_count", :artist => artist %>
              </div>
            </div>

            <div class="index_follow_button_<%= artist.id %>">
              <%= render "artists/partials/relationships/index_follow_button", :artist => artist %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-rock" class="ferry colvin">
        <% @artists.rock.each do |artist| %>
          <div class="utica">
            <%= render 'artists/partials/artist_profile_image', :artist => artist %>
              <div class="hertel">
                <center><%= link_to artist.artist_name, artist_path(artist) %></center>
              </div>
              <div class="hertel">
                <center><%= artist.artist_profile.location unless artist.artist_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= artist.id %>">
                <%= render "artists/partials/relationships/index_follower_count", :artist => artist %>
              </div>
            </div>

            <div class="index_follow_button_<%= artist.id %>">
              <%= render "artists/partials/relationships/index_follow_button", :artist => artist %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-singer-songwriter" class="ferry colvin">
        <% @artists.singersongwriter.each do |artist| %>
          <div class="utica">
           <%= render 'artists/partials/artist_profile_image', :artist => artist %>
              <div class="hertel">
                <center><%= link_to artist.artist_name, artist_path(artist) %></center>
              </div>
              <div class="hertel">
                <center><%= artist.artist_profile.location unless artist.artist_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= artist.id %>">
                <%= render "artists/partials/relationships/index_follower_count", :artist => artist %>
              </div>
            </div>

            <div class="index_follow_button_<%= artist.id %>">
              <%= render "artists/partials/relationships/index_follow_button", :artist => artist %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-soundtrack" class="ferry colvin">
        <% @artists.soundtrack.each do |artist| %>
          <div class="utica">
            <%= render 'artists/partials/artist_profile_image', :artist => artist %>
              <div class="hertel">
                <center><%= link_to artist.artist_name, artist_path(artist) %></center>
              </div>
              <div class="hertel">
                <center><%= artist.artist_profile.location unless artist.artist_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= artist.id %>">
                <%= render "artists/partials/relationships/index_follower_count", :artist => artist %>
              </div>
            </div>

            <div class="index_follow_button_<%= artist.id %>">
              <%= render "artists/partials/relationships/index_follow_button", :artist => artist %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-world" class="ferry colvin">
        <% @artists.world.each do |artist| %>
          <div class="utica">
            <%= render 'artists/partials/artist_profile_image', :artist => artist %>
              <div class="hertel">
                <center><%= link_to artist.artist_name, artist_path(artist) %></center>
              </div>
              <div class="hertel">
                <center><%= artist.artist_profile.location unless artist.artist_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= artist.id %>">
                <%= render "artists/partials/relationships/index_follower_count", :artist => artist %>
              </div>
            </div>

            <div class="index_follow_button_<%= artist.id %>">
              <%= render "artists/partials/relationships/index_follow_button", :artist => artist %>
            </div>

          </div>
        <% end %>
      </div>

    <%= paginate @artists, :window => 2 %>

    <% else %>
    <div class="highgate">
      there are no artists containing the term(s) "<%= params[:search] %>". <%= link_to "discover other artists?", artists_path %>
    </div>
    <% end %>

  </div>
</div>
<%= render "partials/uni_footer" %>
