<%= provide(:title, sanitize(@artist.artist_name)) %>
<div class="buffalo">

  <%= render 'artists/partials/artist_cover_image' %>

  <div class="delaware">

    <main class="main">

      <ul class="w">
        <li class="s"><%= link_to "timeline", artist_path(@artist) %></li>
        <li><%= link_to "shows", artist_shows_path(@artist) %></li>
      </ul>

      <div class="hedley">
        <%= @artist.artist_name %>
      </div>

      <div class="following sterling">
        <%= render 'artists/partials/relationships/following' %>
      </div>

      <div class="niagara">
        <div class="follower_count sterling">
          <%= render 'artists/partials/relationships/follower_count' %>
        </div>
      </div>

      <% unless @artist == current_artist %>
      <div class="niagara">
        <div class="highgate">
        <div class="follow_button">
          <%= render 'artists/partials/relationships/follow_button' %>
        </div>
        </div>
      </div>
      <% end %>

      <div class="microposts_form">
        <%= render 'artists/partials/microposts/microposts_form' %>
      </div>

      <div class="microposts_js">
        <%= render 'artists/partials/microposts/index_microposts' %>
      </div>

    </main>

    <%= render 'artists/partials/artist_sidebar' %>

  </div>
</div>
<%= render "partials/uni_footer" %>

<% if buffalo_signed_in? %>
  <div class="forest">
    <li><%= @artist.id %></li>
    <li><%= @artist.artist_name %></li>
    <li><%= @artist.username %></li>
    <li><%= @artist.email %></li>
    <li><%= @artist.sign_in_count %></li>
    <li><%= @artist.last_sign_in_at %></li>
  </div>
<% end %>



