<%= provide(:title, sanitize(@artist.artist_name)) %>
<div class="buffalo">

  <%= render 'artists/partials/artist_cover_image' %>

  <div class="delaware">

    <main class="main">

      <ul class="carolina">
        <li class="jersey"><%= link_to "timeline", artist_path(@artist) %></li>
        <li><%= link_to "merch", artist_merches_path(@artist) %></li>
        <li><%= link_to "shows", artist_shows_path(@artist) %></li>
        <li><%= link_to "videos", artist_videos_path(@artist) %></li>
      </ul>

      <%= render 'artists/partials/artist_name' %>

      <div class="microposts_form">
        <%= render 'artists/partials/microposts/microposts_form' %>
      </div>

      <div class="microposts_js">
        <%= render 'artists/partials/microposts/index_microposts' %>
      </div>

    </main>

    <%= render 'artists/partials/artist_sidebar' %>

  </div>
</div>
<%= render "partials/uni_footer" %>

<% if buffalo_signed_in? %>
  <div class="forest">
    <li><%= @artist.id %></li>
    <li><%= @artist.artist_name %></li>
    <li><%= @artist.username %></li>
    <li><%= @artist.email %></li>
    <li><%= @artist.sign_in_count %></li>
    <li><%= @artist.last_sign_in_at %></li>
  </div>
<% end %>



