<%= provide(:title, sanitize(@artist.artist_name)) %>
<div class="buffalo">
  <% if @artist.artist_profile.cover_image.blank? %>
    <div class="clinton">
      <% if artist_signed_in? && @artist.id == current_artist.id %>
        you do not have a cover image yet. <%= link_to "add one?", edit_artist_profile_path(current_artist) %>
      <% else %>
        <%= "#{@artist.artist_name} hasn't uploaded a cover photo yet" %>
      <% end %>
    </div>
  <% else %>
    <div class="broadway">
      <img srcset="<%= @artist.artist_profile.cover_image %>" width="100%" height="auto" />
    </div>
  <% end %>
  <div class="delaware">

    <div class="main">
      <div class="hedley">
        <%= @artist.artist_name %>
      </div>

      <div id="following">
        <%= render 'artists/partials/relationships/following' %>
      </div>

      <% if @artist == current_artist %>
      <% else %>
      <div class="niagara">
        <div class="harlem">
        <div class="follow_button">
          <%= render 'artists/partials/relationships/follow_button' %>
        </div>
        </div>
      </div>
      <% end %>

      <div class="microposts_form">
        <%= render 'artists/partials/microposts/microposts_form' %>
      </div>

      <div class="microposts_js">
        <%= render 'artists/partials/microposts/index_microposts' %>
      </div>

    </div>

    <div class="pearl">

      <% if @artist == current_artist %>
      <% else %>
      <div class="washington">
        <div class="lisbon">
          <div class="follow_button">
            <%= render 'artists/partials/relationships/follow_button' %>
          </div>
        </div>
      </div>
      <% end %>

      <div id="follower_count">
        <%= render 'artists/partials/relationships/follower_count' %>
      </div>

      <% if artist_signed_in? && @artist.id == current_artist.id && @artist.artist_profile.location.blank? && @artist.artist_profile.genre.blank? && @artist.artist_profile.members.blank? && @artist.artist_profile.biography.blank? && @artist.artist_profile.facebook_url.blank? && @artist.artist_profile.twitter_url.blank? && @artist.artist_profile.youtube_url.blank? && @artist.artist_profile.itunes_url.blank? && @artist.artist_profile.amazon_url.blank? && @artist.artist_profile.google_play_url.blank? && @artist.artist_profile.record_label.blank? && @artist.artist_profile.website.blank? %>
        <div class="amherst">
          you do not have any profile information
        </div>
        <div class="jefferson">
          <%= link_to "update your profile", edit_artist_profile_path(current_artist) %>
        </div>
      <% elsif @artist.artist_profile.location.blank? && @artist.artist_profile.genre.blank? && @artist.artist_profile.members.blank? && @artist.artist_profile.biography.blank? && @artist.artist_profile.facebook_url.blank? && @artist.artist_profile.twitter_url.blank? && @artist.artist_profile.youtube_url.blank? && @artist.artist_profile.itunes_url.blank? && @artist.artist_profile.amazon_url.blank? && @artist.artist_profile.google_play_url.blank? && @artist.artist_profile.record_label.blank? && @artist.artist_profile.website.blank? %>
        <div class="amherst">
          <%= "#{@artist.artist_name} does not have any profile information yet" %>
        </div>
      <% end %>
      <% if @artist.artist_profile.location.present? %>
      <div class="jefferson">
        location //
      </div>
      <div class="fillmore">
        <%= @artist.artist_profile.location %>
      </div>
      <% end %>
      <% if @artist.artist_profile.genre.present? %>
      <div class="jefferson">
        genre //
      </div>
      <div class="fillmore">
        <%= @artist.artist_profile.genre %>
      </div>
      <% end %>
      <% if @artist.artist_profile.members.present? %>
      <div class="jefferson">
        members //
      </div>
      <div class="fillmore">
        <%= @artist.artist_profile.members %>
      </div>
      <% end %>
      <% if @artist.artist_profile.record_label.present? %>
      <div class="jefferson">
        record label //
      </div>
      <div class="fillmore">
        <%= @artist.artist_profile.record_label %>
      </div>
      <% end %>
      <% if @artist.artist_profile.biography.present? %>
      <div class="jefferson">
        biography //
      </div>
      <div class="fillmore">
        <%= @artist.artist_profile.biography %>
      </div>
      <% end %>
      <% if @artist.artist_profile.website.present? %>
      <div class="fillmore">
        <%= link_to "Website", @artist.artist_profile.website %>
      </div>
      <% end %>
      <% if @artist.artist_profile.facebook_url.present? %>
      <div class="fillmore">
        <%= link_to "Facebook", @artist.artist_profile.facebook_url %>
      </div>
      <% end %>
      <% if @artist.artist_profile.twitter_url.present? %>
      <div class="fillmore">
        <%= link_to "Twitter", @artist.artist_profile.twitter_url %>
      </div>
      <% end %>
      <% if @artist.artist_profile.youtube_url.present? %>
      <div class="fillmore">
        <%= link_to "YouTube", @artist.artist_profile.youtube_url %>
      </div>
      <% end %>
      <% if @artist.artist_profile.itunes_url.present? %>
      <div class="fillmore">
        <%= link_to "iTunes", @artist.artist_profile.itunes_url %>
      </div>
      <% end %>
      <% if @artist.artist_profile.amazon_url.present? %>
      <div class="fillmore">
        <%= link_to "Amazon", @artist.artist_profile.amazon_url %>
      </div>
      <% end %>
      <% if @artist.artist_profile.google_play_url.present? %>
      <div class="fillmore">
        <%= link_to "Google Play", @artist.artist_profile.google_play_url %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "partials/uni_footer" %>

<% if buffalo_signed_in? %>
  <div class="forest">
    <li><%= @artist.id %></li>
    <li><%= @artist.artist_name %></li>
    <li><%= @artist.username %></li>
    <li><%= @artist.email %></li>
    <li><%= @artist.sign_in_count %></li>
    <li><%= @artist.last_sign_in_at %></li>
  </div>
<% end %>



