<% micropost.producer_micropost_comments.sort_by{ |comment| -comment.producer_micropost_comment_votes.count }.take(100).each do |comment| %>
<div class="northrup">
  <div class="winspear">
    <%= link_to comment.artist.artist_name, artist_path(comment.artist) if comment.artist.present? %><%= link_to comment.fan.fan_name, fan_path(comment.fan) if comment.fan.present? %><%= link_to comment.record_label.label_name, record_label_path(comment.record_label) if comment.record_label.present? %><%= link_to comment.venue.venue_name, venue_path(comment.venue) if comment.venue.present? %><%= link_to comment.producer.producer_name, producer_path(comment.producer) if comment.producer.present? %> <span class="posted">posted <%= time_ago_in_words(comment.created_at) %> ago</span>
    <% if micropost.producer == current_producer || (artist_signed_in? && current_artist == comment.artist) || (fan_signed_in? && current_fan == comment.fan) || (record_label_signed_in? && current_record_label == comment.record_label) || (venue_signed_in? && current_venue == comment.venue) || (producer_signed_in? && current_producer == comment.producer) %>
    // <%= link_to "delete comment", producer_micropost_comment_path(micropost.producer, micropost, comment), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete, remote: true %>
    <% end %>
  </div>

  <div class="winspear">
    <%= comment.content %>
  </div>

  <div class="winspear">

    <div class="producer_fan_comment_votes_<%= comment.id %>">
      <%= render 'producers/partials/comments/fan_comment_votes', :micropost => micropost, :comment => comment %>
    </div>

    <span class="producer_fan_comment_votes_count_<%= comment.id %>">
      <%= render 'producers/partials/comments/index_comment_votes_count', :comment => comment %>
    </span>

  </div>

</div>
<% end %>
