<%= provide(:title, "Edit Your Profile | Noisaea //") %>
<div class="buffalo">
  <div class="delaware">
    <div class="elmwood">
      <div class="harlem">
        <h1>edit your profile</h1>
      </div>

      <%= form_for(@profile, url: venue_profile_path) do |f| %>
      <%= render 'errors/profile_errors' %>
        <div class="highgate">
          <div class="amherst temp">
            location <span class="posted">(city, state / city, country)</span>
          </div>
          <%= f.text_field :location, class: "huron" %>
        </div>
        <div class="highgate">
          <div class="amherst temp">
            year founded
          </div>
          <%= f.text_field :founded, class: "huron" %>
        </div>
        <div class="highgate">
          <div class="amherst temp">
            biography
          </div>
          <%= f.text_area :biography, class: "chippewa" %>
        </div>
        <div class="highgate">
          <div class="highgate temp">
            cover image: <span class="posted">1920x640</span>
          </div>
          <%= f.file_field :cover_img %>
        </div>
        <div class="highgate">
          <div class="highgate temp">
            profile image: <span class="posted">500x500</span>
          </div>
          <%= f.file_field :profile_img %>
        </div>
        <div class="highgate">
          <div class="amherst temp">
            theme color <span class="posted">(hex code)</span>
          </div>
          <%= f.text_field :theme_color, class: "huron" %>
        </div>
        <div class="highgate">
          <div class="amherst temp">
            your website url
          </div>
          <%= f.text_field :website, class: "huron" %>
        </div>
        <div class="highgate">
          <div class="amherst temp">
            facebook url
          </div>
          <%= f.text_field :facebook_url, class: "huron" %>
        </div>
        <div class="highgate">
          <div class="amherst temp">
            twitter url
          </div>
          <%= f.text_field :twitter_url, class: "huron" %>
        </div>
        <div class="highgate">
          <div class="amherst temp">
            YouTube url
          </div>
          <%= f.text_field :youtube_url, class: "huron" %>
        </div>
        <div class="highgate">
          <div class="amherst temp">
            ticketfly url
          </div>
          <%= f.text_field :ticketfly_url, class: "huron" %>
        </div>
        <div class="highgate">
          <div class="amherst temp">
            let:lyrics url
          </div>
          <%= f.text_field :letlyrics_url, class: "huron" %>
        </div>
        <div class="ellicott">
          <%= f.submit "update profile", data: { disable_with: 'updating...' }, class: "exchange" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
<%= render 'partials/uni_footer' %>
