<%= provide(:title, "Forgot Your Password | Noisaea //") %>
<%= render 'partials/uni_header' %>
<div class="buffalo">
  <div class="delaware">
    <div class="elmwood">
      <div class="harlem">
        <h1>forgot your password?</h1>
      </div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="highgate">
          <%= f.email_field :email, autofocus: true, placeholder: "email address", class: "huron" %>
        </div>

        <div class="ellicott">
          <%= f.submit "send me reset password instructions", class: "exchange" %>
        </div>
      <% end %>
      <div class="virginia">
        <%= render "fans/shared/links" %>
      </div>
    </div>
  </div>
</div>
<%= render 'partials/uni_footer' %>
