<%= provide(:title, "Blog") %>
<%= render "posts/partials/post_header" %>
<div class="buffalo">
  <div class="delaware">

    <div class="main">
      <% if @posts.any? %>
        <% @posts.each do |post| %>
        <div class="highgate">
          <img srcset="<%= post.image %>" width="100%" height="auto" />
        </div>
        <h1><%= link_to post.title, post_path(post) %></h1>
        <div class="amherst">
          posted by <%= Buffalo.find(post.buffalo_id).buffalo_name %>
        </div>
        <div class="best">
          <%= sanitize(post.content).split("<h3>").first %>
        </div>
        <div class="harlem">
          <%= pluralize(post.post_comments.count, "comment") %> // <%= link_to "read more...", post_path(post) %>
        </div>
        <% end %>
      <% else %>
        there are no posts lol
      <% end %>
    </div>

    <%= render "posts/partials/post_sidebar" %>

  </div>
</div>
<%= render "partials/uni_footer" %>
