<%= provide(:title,  sanitize(@post.title)) %>
<%= render "posts/partials/post_header" %>
<div class="buffalo">
  <div class="delaware">

    <main class="main">
      <h1><%= @post.title %></h1>
      <div class="amherst">
        posted by <%= Buffalo.find(@post.buffalo_id).buffalo_name %> // follow him on twitter <a href="https://twitter.com/realalexheil">here</a>.
      </div>
      <article class="best">
        <%= sanitize(@post.content) %>
      </article>

      <div class="harlem">
        <a class="linden"><span class="comments_count"><%= render 'posts/partials/comments/comments_count' %></span></a>
      </div>

      <div class="walden">
        <div class="minnesota">

          <div class="comments_js">
            <%= render 'posts/partials/comments/comments' %>
          </div>

          <div class="comments_form">
            <%= render 'posts/partials/comments/comments_form' %>
          </div>

        </div>
      </div>

      <% if Post.exists?(@post.id + 1) %>
        <div class="amherst">
          < Next - <%= link_to "#{Post.find(@post.id + 1).title}", post_path(Post.find(@post.id + 1)) %>
        </div>
      <% else %>
      <% end %>
      <% if Post.exists?(@post.id - 1) %>
        <div class="amherst">
          <%= link_to "#{Post.find(@post.id - 1).title}", post_path(Post.find(@post.id - 1)) %> -  Previous >
        </div>
      <% else %>
      <% end %>

      <div class="amherst">
        <%= link_to "see all posts", posts_path %>
      </div>

    </main>

    <%= render "posts/partials/post_sidebar" %>

  </div>
</div>
<%= render "partials/uni_footer" %>

<% if buffalo_signed_in? %>
  <%= link_to "edit", edit_post_path %> // <%= link_to "delete", post_path, data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete %>
<% end %>
