<% if fan_signed_in? %>
  <% if fan_signed_in? && current_fan.following_artist?(@artist) %>
    <%= button_to "unfollow", artist_relationship_path(@artist, current_fan.artist_relationship_id(@artist)), method: :delete, remote: true, class: "exchange" %>
  <% else %>
    <%= form_for(ArtistRelationship.new,  url: artist_relationships_path(@artist), remote: true) do |f| %>
      <%= f.submit "follow", class: "exchange" %>
    <% end %>
  <% end %>
<% else %>
<div class="amherst">
  <%= link_to "sign in as a fan", fan_session_path %> to follow <%= @artist.artist_name %>
</div>
<% end %>
