<%= provide(:title, "Settings | Noisaea //") %>
<div class="buffalo">
  <div class="delaware">
    <div class="elmwood">
      <div class="harlem">
        <h1>edit your account</h1>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="highgate">
          <div class="amherst temp">
            username <span class="posted">(url)</span>
          </div>
          <%= f.text_field :username, autofocus: true, class: "huron" %>
        </div>
        <div class="highgate">
          <div class="amherst temp">
            record label name
          </div>
          <%= f.text_field :label_name, class: "huron" %>
        </div>
        <div class="highgate">
          <div class="amherst temp">
            email
          </div>
          <%= f.email_field :email, class: "huron" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="highgate temp">
          email:
        </div>
        <div class="hudson">
          <%= f.check_box :comment_email %>
          <%= f.label :comment_email, class: "mohawk" %>
        </div>
        <div class="hudson">
          <%= f.check_box :follow_email %>
          <%= f.label :follow_email, class: "mohawk" %>
        </div>

        <div class="highgate">
          <div class="amherst temp">
            password <span class="posted">(at least 8 characters)</span>
          </div>
          <%= f.password_field :password, autocomplete: "off", class: "huron" %>
        </div>
        <div class="highgate">
          <div class="amherst temp">
            confirm password
          </div>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "huron" %>
        </div>

        <div class="highgate">
          <div class="amherst temp">
            current password <span class="posted">(to confirm changes)</span>
          </div>
          <%= f.password_field :current_password, autocomplete: "off", class: "huron" %>
        </div>

        <div class="ellicott">
          <%= f.submit "update", class: "exchange" %>
        </div>
      <% end %>
      <div class="franklin">
        <%= button_to "delete my account", registration_path(resource_name), data: { confirm: " This cannot be undone. Ever..." }, method: :delete, class: "tonawanda" %>
      </div>
    </div>
  </div>
</div>
<%= render 'partials/uni_footer' %>
