<div class="highgate">

  <div class="allen">
    <a id="fan-artist-click"><strong>artists</strong></a>
    <div class="amherst">
      // following <%= link_to pluralize(@fan.artists.count, "artist"), fan_following_path(@fan) %>
    </div>
  </div>

  <div class="allen">
    <a id="fan-record-label-click"><strong>record labels</strong></a>
    <div class="amherst">
      // following <%= link_to pluralize(@fan.record_labels.count, "record label"), fan_following_path(@fan) %>
    </div>
  </div>

  <div class="allen">
    <a id="fan-venue-click"><strong>venues</strong></a>
    <div class="amherst">
      // following <%= link_to pluralize(@fan.venues.count, "venue"), fan_following_path(@fan) %>
    </div>
  </div>

  <div class="allen">
    <a id="fan-producer-click"><strong>producers</strong></a>
    <div class="amherst">
      // following <%= link_to pluralize(@fan.producers.count, "producer"), fan_following_path(@fan) %>
    </div>
  </div>

  <div id="fan-artist" class="ferry">
  <% if @fan.artists.any? %>
    <% @artist_microposts.each do |micropost| %>
    <div class="auburn dodge">


      <% if micropost.artist.artist_profile.profile_img_file_name.blank? %>
        <div class="winspear">
          <strong><%= link_to "#{micropost.artist.artist_name}", artist_micropost_path(micropost.artist, micropost) %></strong> <span class="posted">posted <%= time_ago_in_words(micropost.created_at) %> ago</span>
          <% if micropost.artist == current_artist %>
           // <%= link_to "delete post", artist_micropost_path(micropost.artist, micropost), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete, remote: true %>
          <% end %>
        </div>
      <% else %>
        <div class="highland">
          <div class="genesee">
            <img srcset="<%= micropost.artist.artist_profile.profile_img.url(:perfect) %>" width="100%" height="auto" />
          </div>
        </div>
        <div class="lexington">
          <div class="anderson">
            <%= link_to "#{micropost.artist.artist_name}", artist_micropost_path(micropost.artist, micropost) %>
          </div>
          <div class="posted">
            posted <%= time_ago_in_words(micropost.created_at) %> ago
          </div>
          <% if micropost.artist == current_artist %>
           // <%= link_to "delete post", artist_micropost_path(micropost.artist, micropost), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete, remote: true %>
          <% end %>
        </div>
      <% end %>


      <div class="winspear">
        <%= micropost.content %>
      </div>
      <% if micropost.link_url.present? %>
      <div class="winspear">
          <%= link_to "#{micropost.link_url.split('/')[2]}", micropost.link_url, data: { confirm: "#{micropost.link_url} \n\nAre you sure?" }, class: "sugar" %>
      </div>
      <% end %>
      <% if micropost.photo_url.present? %>
      <div class="northrup lincoln">
        <img srcset="<%= micropost.photo_url %>" width="100%" height="auto" />
      </div>
      <% end %>

      <div class="lisbon" id="lisbon">

        <div class="artist_fan_micropost_votes_<%= micropost.id %>">
          <%= render 'artists/partials/microposts/fan_micropost_votes', :micropost => micropost %>
        </div>

        <span class="artist_fan_micropost_votes_count_<%= micropost.id %>">
          <%= render 'artists/partials/microposts/index_micropost_votes_count', :micropost => micropost %>
        </span>

           // <a class="linden"><span class="artist_fan_comments_count_<%= micropost.id %>">
          <%= render 'artists/partials/comments/index_comments_count', :micropost => micropost %>
        </span></a>
      </div>

      <div class="walden">
        <div class="minnesota">

          <div class="artist_fan_comments_js_<%= micropost.id %>">
            <%= render 'artists/partials/comments/fan_comments', :micropost => micropost %>
          </div>

          <div class="artist_fan_comments_form_<%= micropost.id %>">
            <%= render "artists/partials/comments/fan_comments_form", :micropost => micropost %>
          </div>

        </div>
      </div>
    </div>
    <% end %>

  <% elsif fan_signed_in? && @fan.id == current_fan.id %>
    <div class="harlem">
      you are not following any artists. <%= link_to 'discover some artists', artists_path %>?
    </div>
  <% else %>
    <div class="harlem">
      <%= @fan.fan_name %> is not following any artists.
    </div>
  <% end %>
  </div>

  <div id="fan-record-label" class="ferry colvin">
    <% if @fan.record_labels.any? %>
    <% @record_label_microposts.take(25).each do |micropost| %>
    <div class="auburn dodge">

      <% if micropost.record_label.record_label_profile.profile_img_file_name.blank? %>
        <div class="winspear">
          <strong><%= link_to "#{micropost.record_label.label_name}", record_label_micropost_path(micropost.record_label, micropost) %></strong> <span class="posted">posted <%= time_ago_in_words(micropost.created_at) %> ago</span>
          <% if micropost.record_label == current_record_label %>
           // <%= link_to "delete post", record_label_micropost_path(micropost.record_label, micropost), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete, remote: true %>
          <% end %>
        </div>
      <% else %>
        <div class="highland">
          <div class="genesee">
            <img srcset="<%= micropost.record_label.record_label_profile.profile_img.url(:perfect) %>" width="100%" height="auto" />
          </div>
        </div>
        <div class="lexington">
          <div class="anderson">
            <%= link_to "#{micropost.record_label.label_name}", record_label_micropost_path(micropost.record_label, micropost) %>
          </div>
          <div class="posted">
            posted <%= time_ago_in_words(micropost.created_at) %> ago
          </div>
          <% if micropost.record_label == current_record_label %>
           // <%= link_to "delete post", record_label_micropost_path(micropost.record_label, micropost), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete, remote: true %>
          <% end %>
        </div>
      <% end %>

      <div class="winspear">
        <%= micropost.content %>
      </div>
      <% if micropost.link_url.present? %>
      <div class="winspear">
          <%= link_to "#{micropost.link_url.split('/')[2]}", micropost.link_url, data: { confirm: "#{micropost.link_url} \n\nAre you sure?" }, class: "sugar" %>
      </div>
      <% end %>
      <% if micropost.photo_url.present? %>
      <div class="northrup lincoln">
        <img srcset="<%= micropost.photo_url %>" width="100%" height="auto" />
      </div>
      <% end %>

      <div class="lisbon" id="lisbon">

        <div class="record_label_fan_micropost_votes_<%= micropost.id %>">
          <%= render 'recordlabels/partials/microposts/fan_micropost_votes', :micropost => micropost %>
        </div>

        <span class="record_label_fan_micropost_votes_count_<%= micropost.id %>">
          <%= render 'recordlabels/partials/microposts/index_micropost_votes_count', :micropost => micropost %>
        </span>

           // <a class="linden"><span class="record_label_fan_comments_count_<%= micropost.id %>">
          <%= render 'recordlabels/partials/comments/index_comments_count', :micropost => micropost %>
        </span></a>
      </div>

      <div class="walden">
        <div class="minnesota">

          <div class="record_label_fan_comments_js_<%= micropost.id %>">
            <%= render 'recordlabels/partials/comments/fan_comments', :micropost => micropost %>
          </div>

          <div class="record_label_fan_comments_form_<%= micropost.id %>">
            <%= render "recordlabels/partials/comments/fan_comments_form", :micropost => micropost %>
          </div>


        </div>
      </div>
    </div>
    <% end %>

  <% elsif fan_signed_in? && @fan.id == current_fan.id %>
    <div class="harlem">
      you are not following any record labels. <%= link_to 'discover some record labels', record_labels_path %>?
    </div>
  <% else %>
    <div class="harlem">
      <%= @fan.fan_name %> is not following any record labels.
    </div>
  <% end %>
  </div>

  <div id="fan-venue" class="ferry colvin">
    <% if @fan.venues.any? %>
    <% @venue_microposts.take(25).each do |micropost| %>
    <div class="auburn dodge">

      <% if micropost.venue.venue_profile.profile_img_file_name.blank? %>
        <div class="winspear">
          <strong><%= link_to "#{micropost.venue.venue_name}", venue_micropost_path(micropost.venue, micropost) %></strong> <span class="posted">posted <%= time_ago_in_words(micropost.created_at) %> ago</span>
          <% if micropost.venue == current_venue %>
           // <%= link_to "delete post", venue_micropost_path(micropost.venue, micropost), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete, remote: true %>
          <% end %>
        </div>
      <% else %>
        <div class="highland">
          <div class="genesee">
            <img srcset="<%= micropost.venue.venue_profile.profile_img.url(:perfect) %>" width="100%" height="auto" />
          </div>
        </div>
        <div class="lexington">
          <div class="anderson">
            <%= link_to "#{micropost.venue.venue_name}", venue_micropost_path(micropost.venue, micropost) %>
          </div>
          <div class="posted">
            posted <%= time_ago_in_words(micropost.created_at) %> ago
          </div>
          <% if micropost.venue == current_venue %>
           // <%= link_to "delete post", venue_micropost_path(micropost.venue, micropost), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete, remote: true %>
          <% end %>
        </div>
      <% end %>

      <div class="winspear">
        <%= micropost.content %>
      </div>
      <% if micropost.link_url.present? %>
      <div class="winspear">
          <%= link_to "#{micropost.link_url.split('/')[2]}", micropost.link_url, data: { confirm: "#{micropost.link_url} \n\nAre you sure?" }, class: "sugar" %>
      </div>
      <% end %>
      <% if micropost.photo_url.present? %>
      <div class="northrup lincoln">
        <img srcset="<%= micropost.photo_url %>" width="100%" height="auto" />
      </div>
      <% end %>

      <div class="lisbon" id="lisbon">

        <div class="venue_fan_micropost_votes_<%= micropost.id %>">
          <%= render 'venues/partials/microposts/fan_micropost_votes', :micropost => micropost %>
        </div>

        <span class="venue_fan_micropost_votes_count_<%= micropost.id %>">
          <%= render 'venues/partials/microposts/index_micropost_votes_count', :micropost => micropost %>
        </span>

         // <a class="linden"><span class="venue_fan_comments_count_<%= micropost.id %>">
          <%= render 'venues/partials/comments/index_comments_count', :micropost => micropost %>
        </span></a>
      </div>

      <div class="walden">
        <div class="minnesota">

          <div class="venue_fan_comments_js_<%= micropost.id %>">
            <%= render 'venues/partials/comments/fan_comments', :micropost => micropost %>
          </div>

          <div class="venue_fan_comments_form_<%= micropost.id %>">
            <%= render "venues/partials/comments/fan_comments_form", :micropost => micropost %>
          </div>

        </div>
      </div>
    </div>
    <% end %>
  <% elsif fan_signed_in? && @fan.id == current_fan.id %>
    <div class="harlem">
      you are not following any venues. <%= link_to 'discover some venues', venues_path %>?
    </div>
  <% else %>
    <div class="harlem">
      <%= @fan.fan_name %> is not following any venues.
    </div>
  <% end %>
  </div>

  <div id="fan-producer" class="ferry colvin">
    <% if @fan.producers.any? %>
    <% @producer_microposts.take(25).each do |micropost| %>
    <div class="auburn dodge">

      <% if micropost.producer.producer_profile.profile_img_file_name.blank? %>
        <div class="winspear">
          <strong><%= link_to "#{micropost.producer.producer_name}", producer_micropost_path(micropost.producer, micropost) %></strong> <span class="posted">posted <%= time_ago_in_words(micropost.created_at) %> ago</span>
          <% if micropost.producer == current_producer %>
           // <%= link_to "delete post", producer_micropost_path(micropost.producer, micropost), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete, remote: true %>
          <% end %>
        </div>
      <% else %>
        <div class="highland">
          <div class="genesee">
            <img srcset="<%= micropost.producer.producer_profile.profile_img.url(:perfect) %>" width="100%" height="auto" />
          </div>
        </div>
        <div class="lexington">
          <div class="anderson">
            <%= link_to "#{micropost.producer.producer_name}", producer_micropost_path(micropost.producer, micropost) %>
          </div>
          <div class="posted">
            posted <%= time_ago_in_words(micropost.created_at) %> ago
          </div>
          <% if micropost.producer == current_producer %>
           // <%= link_to "delete post", producer_micropost_path(micropost.producer, micropost), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete, remote: true %>
          <% end %>
        </div>
      <% end %>

      <div class="winspear">
        <%= micropost.content %>
      </div>
      <% if micropost.link_url.present? %>
      <div class="winspear">
          <%= link_to "#{micropost.link_url.split('/')[2]}", micropost.link_url, data: { confirm: "#{micropost.link_url} \n\nAre you sure?" }, class: "sugar" %>
      </div>
      <% end %>
      <% if micropost.photo_url.present? %>
      <div class="northrup lincoln">
        <img srcset="<%= micropost.photo_url %>" width="100%" height="auto" />
      </div>
      <% end %>

      <div class="lisbon" id="lisbon">

        <div class="producer_fan_micropost_votes_<%= micropost.id %>">
          <%= render 'producers/partials/microposts/fan_micropost_votes', :micropost => micropost %>
        </div>

        <span class="producer_fan_micropost_votes_count_<%= micropost.id %>">
          <%= render 'producers/partials/microposts/index_micropost_votes_count', :micropost => micropost %>
        </span>

         // <a class="linden"><span class="producer_fan_comments_count_<%= micropost.id %>">
          <%= render 'producers/partials/comments/index_comments_count', :micropost => micropost %>
        </span></a>
      </div>

      <div class="walden">
        <div class="minnesota">

          <div class="producer_fan_comments_js_<%= micropost.id %>">
            <%= render 'producers/partials/comments/fan_comments', :micropost => micropost %>
          </div>

          <div class="producer_fan_comments_form_<%= micropost.id %>">
            <%= render "producers/partials/comments/fan_comments_form", :micropost => micropost %>
          </div>

        </div>
      </div>
    </div>
    <% end %>
  <% elsif fan_signed_in? && @fan.id == current_fan.id %>
    <div class="harlem">
      you are not following any producers. <%= link_to 'discover some producers', producers_path %>?
    </div>
  <% else %>
    <div class="harlem">
      <%= @fan.fan_name %> is not following any producers.
    </div>
  <% end %>
  </div>

  <%= paginate @artist_microposts, :window => 2 %>

</div>
