<div class="highgate">

  <div class="allen">
    <a id="fan-artist-click"><strong>artists</strong></a>
    <div class="amherst">
      // following <%= link_to pluralize(@fan.artists.count, "artist"), fan_following_path(@fan) %>
    </div>
  </div>

  <div class="allen">
    <a id="fan-record-label-click"><strong>record labels</strong></a>
    <div class="amherst">
      // following <%= link_to pluralize(@fan.record_labels.count, "record label"), fan_following_path(@fan) %>
    </div>
  </div>

  <div class="allen">
    <a id="fan-venue-click"><strong>venues</strong></a>
    <div class="amherst">
      // following <%= link_to pluralize(@fan.venues.count, "venue"), fan_following_path(@fan) %>
    </div>
  </div>

  <div class="allen">
    <a id="fan-producer-click"><strong>producers</strong></a>
    <div class="amherst">
      // following <%= link_to pluralize(@fan.producers.count, "producer"), fan_following_path(@fan) %>
    </div>
  </div>

  <div id="fan-artist" class="ferry">
    <% @fan.artist_microposts.take(100).each do |micropost| %>
    <div class="harlem dodge">
      <span class="winspear"><strong><%= link_to Artist.find(micropost.artist_id).artist_name, artist_path(Artist.find(micropost.artist_id)) %></strong> posted <%= time_ago_in_words(micropost.created_at) %> ago</span>
        <% if Artist.find(micropost.artist_id) == current_artist %>
       // <%= link_to "delete post", artist_micropost_path(Artist.find(micropost.artist_id), micropost), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete %></span>
        <% end %>
      <div class="winspear">
        <%= micropost.content %>
      </div>
      <% if micropost.link_url.present? %>
      <div class="winspear">
          <%= link_to "#{micropost.link_url.split('/')[2]}", micropost.link_url, data: { confirm: "#{micropost.link_url} \n\nAre you sure?" }, class: "sugar" %>
      </div>
      <% end %>
      <% if micropost.photo_url.present? %>
      <div class="northrup lincoln">
        <img srcset="<%= micropost.photo_url %>" width="100%" height="auto" />
      </div>
      <% end %>

      <div class="lisbon" id="lisbon">

        <div class="artist_fan_micropost_votes_<%= micropost.id %>">
          <%= render 'artists/partials/microposts/fan_micropost_votes', :micropost => micropost %>
        </div>

        <span class="artist_fan_micropost_votes_count_<%= micropost.id %>">
          <%= render 'artists/partials/microposts/index_micropost_votes_count', :micropost => micropost %>
        </span>

           // <a class="linden"><span class="artist_fan_comments_count_<%= micropost.id %>">
          <%= render 'artists/partials/comments/index_comments_count', :micropost => micropost %>
        </span></a>
      </div>

      <div class="walden">
        <div class="minnesota">

          <div class="artist_fan_comments_js_<%= micropost.id %>">
            <%= render 'artists/partials/comments/fan_comments', :micropost => micropost %>
          </div>

          <div class="artist_fan_comments_form_<%= micropost.id %>">
            <%= render "artists/partials/comments/fan_comments_form", :micropost => micropost %>
          </div>

        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div id="fan-record-label" class="ferry colvin">
    <% @fan.record_label_microposts.take(100).each do |micropost| %>
    <div class="harlem dodge">
      <span class="winspear"><strong><%= link_to RecordLabel.find(micropost.record_label_id).label_name, record_label_path(RecordLabel.find(micropost.record_label_id)) %></strong> posted <%= time_ago_in_words(micropost.created_at) %> ago</span>
        <% if RecordLabel.find(micropost.record_label_id) == current_record_label %>
       // <%= link_to "delete post", record_label_micropost_path(RecordLabel.find(micropost.record_label_id), micropost), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete %></span>
        <% end %>
      <div class="winspear">
        <%= micropost.content %>
      </div>
      <% if micropost.link_url.present? %>
      <div class="winspear">
          <%= link_to "#{micropost.link_url.split('/')[2]}", micropost.link_url, data: { confirm: "#{micropost.link_url} \n\nAre you sure?" }, class: "sugar" %>
      </div>
      <% end %>
      <% if micropost.photo_url.present? %>
      <div class="northrup lincoln">
        <img srcset="<%= micropost.photo_url %>" width="100%" height="auto" />
      </div>
      <% end %>

      <div class="lisbon" id="lisbon">

        <div class="record_label_fan_micropost_votes_<%= micropost.id %>">
          <%= render 'recordlabels/partials/microposts/fan_micropost_votes', :micropost => micropost %>
        </div>

        <span class="record_label_fan_micropost_votes_count_<%= micropost.id %>">
          <%= render 'recordlabels/partials/microposts/index_micropost_votes_count', :micropost => micropost %>
        </span>

           // <a class="linden"><span class="record_label_fan_comments_count_<%= micropost.id %>">
          <%= render 'recordlabels/partials/comments/index_comments_count', :micropost => micropost %>
        </span></a>
      </div>

      <div class="walden">
        <div class="minnesota">

          <div class="record_label_fan_comments_js_<%= micropost.id %>">
            <%= render 'recordlabels/partials/comments/fan_comments', :micropost => micropost %>
          </div>

          <div class="record_label_fan_comments_form_<%= micropost.id %>">
            <%= render "recordlabels/partials/comments/fan_comments_form", :micropost => micropost %>
          </div>


        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div id="fan-venue" class="ferry colvin">
    <% @fan.venue_microposts.take(100).each do |micropost| %>
    <div class="harlem dodge">
      <span class="winspear"><strong><%= link_to Venue.find(micropost.venue_id).venue_name, venue_path(Venue.find(micropost.venue_id)) %></strong> posted <%= time_ago_in_words(micropost.created_at) %> ago</span>
        <% if Venue.find(micropost.venue_id) == current_venue %>
       // <%= link_to "delete post", venue_micropost_path(Venue.find(micropost.venue_id), micropost), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete %></span>
        <% end %>
      <div class="winspear">
        <%= micropost.content %>
      </div>
      <% if micropost.link_url.present? %>
      <div class="winspear">
          <%= link_to "#{micropost.link_url.split('/')[2]}", micropost.link_url, data: { confirm: "#{micropost.link_url} \n\nAre you sure?" }, class: "sugar" %>
      </div>
      <% end %>
      <% if micropost.photo_url.present? %>
      <div class="northrup lincoln">
        <img srcset="<%= micropost.photo_url %>" width="100%" height="auto" />
      </div>
      <% end %>

      <div class="lisbon" id="lisbon">

        <div class="venue_fan_micropost_votes_<%= micropost.id %>">
          <%= render 'venues/partials/microposts/fan_micropost_votes', :micropost => micropost %>
        </div>

        <span class="venue_fan_micropost_votes_count_<%= micropost.id %>">
          <%= render 'venues/partials/microposts/index_micropost_votes_count', :micropost => micropost %>
        </span>

         // <a class="linden"><span class="venue_fan_comments_count_<%= micropost.id %>">
          <%= render 'venues/partials/comments/index_comments_count', :micropost => micropost %>
        </span></a>
      </div>

      <div class="walden">
        <div class="minnesota">

          <div class="venue_fan_comments_js_<%= micropost.id %>">
            <%= render 'venues/partials/comments/fan_comments', :micropost => micropost %>
          </div>

          <div class="venue_fan_comments_form_<%= micropost.id %>">
            <%= render "venues/partials/comments/fan_comments_form", :micropost => micropost %>
          </div>

        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div id="fan-producer" class="ferry colvin">
    <% @fan.producer_microposts.take(100).each do |micropost| %>
    <div class="harlem dodge">
      <span class="winspear"><strong><%= link_to Producer.find(micropost.producer_id).producer_name, producer_path(Producer.find(micropost.producer_id)) %></strong> posted <%= time_ago_in_words(micropost.created_at) %> ago</span>
        <% if Producer.find(micropost.producer_id) == current_producer %>
       // <%= link_to "delete post", producer_micropost_path(Producer.find(micropost.producer_id), micropost), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete %></span>
        <% end %>
      <div class="winspear">
        <%= micropost.content %>
      </div>
      <% if micropost.link_url.present? %>
      <div class="winspear">
          <%= link_to "#{micropost.link_url.split('/')[2]}", micropost.link_url, data: { confirm: "#{micropost.link_url} \n\nAre you sure?" }, class: "sugar" %>
      </div>
      <% end %>
      <% if micropost.photo_url.present? %>
      <div class="northrup lincoln">
        <img srcset="<%= micropost.photo_url %>" width="100%" height="auto" />
      </div>
      <% end %>

      <div class="lisbon" id="lisbon">

        <div class="producer_fan_micropost_votes_<%= micropost.id %>">
          <%= render 'producers/partials/microposts/fan_micropost_votes', :micropost => micropost %>
        </div>

        <span class="producer_fan_micropost_votes_count_<%= micropost.id %>">
          <%= render 'producers/partials/microposts/index_micropost_votes_count', :micropost => micropost %>
        </span>

         // <a class="linden"><span class="producer_fan_comments_count_<%= micropost.id %>">
          <%= render 'producers/partials/comments/index_comments_count', :micropost => micropost %>
        </span></a>
      </div>

      <div class="walden">
        <div class="minnesota">

          <div class="producer_fan_comments_js_<%= micropost.id %>">
            <%= render 'producers/partials/comments/fan_comments', :micropost => micropost %>
          </div>

          <div class="producer_fan_comments_form_<%= micropost.id %>">
            <%= render "producers/partials/comments/fan_comments_form", :micropost => micropost %>
          </div>

        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
