<h1>noisaea //</h1>
<p>Hey <%= @record_label.label_name %>,</p>
<p>A mysterious figure has appeared...</p>
<p>Oh wait, that's just your new fan on <%= link_to "Noisaea", root_url %>!</p>
<p>That brings you up to <%= pluralize(@record_label.fans.count, "fan") %>!</p>
<p>Time to interact with your new fan, <%= link_to @record_label.label_name, record_label_url(@record_label) %>.</p>
<p>Sincerely,</p>
<p><%= link_to "Noisaea", root_url %></p>
