<%= provide(:title, "Edit Your Profile | Noisaea //") %>
<div class="buffalo">
  <div class="delaware">
    <div class="elmwood">
      <div class="harlem">
        <h1>edit your profile</h1>
      </div>

      <%= form_for(@profile, url: fan_profile_path) do |f| %>
        <%= render 'errors/profile_errors' %>
        <div class="highgate">
          <%= f.text_field :location, placeholder: "location (city, state / city, country)", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_area :biography, placeholder: "biography", class: "chippewa" %>
        </div>
        <div class="highgate temp">
          cover image: <span class="posted">1920x640</span>
        </div>
        <div class="highgate">
          <%= f.file_field :cover_img %>
        </div>
        <div class="highgate temp">
          profile image: <span class="posted">500x500</span>
        </div>
        <div class="highgate">
          <%= f.file_field :profile_img %>
        </div>
        <div class="highgate">
          <%= f.text_field :theme_color, placeholder: "theme color (hex code)", class: "huron" %>
        </div>
        <div class="highgate">
          <%= f.text_field :website, placeholder: "your website url", class: "huron" %>
        </div>
        <div class="ellicott">
          <%= f.submit "update profile", data: { disable_with: 'updating...' }, class: "exchange" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
<%= render 'partials/uni_footer' %>
