<%= provide(:title, "Discover Venues") %>
<%= render "partials/uni_header" %>
<div class="buffalo">
  <div class="delaware">

    <div class="washington">
      <div class="fargo">
        <h1>discover venues</h1>
      </div>
    </div>
    <div class="fargo">
      <%= form_tag(venues_path, :method => "get") do %>
        <div class="highgate">
          <%= text_field_tag :search, params[:search], placeholder: "search venues", class: "huron" %>
        </div>
          <%= submit_tag "search", class: "exchange", :style => "display: none;" %>
      <% end %>
    </div>

    <% if @venues.any? %>

      <div class="washington">
        <div class="highgate">
          <div id="popular" class="porter lafayette">
            popular
          </div>
          <div id="recent" class="porter">
            recent
          </div>
          <div id="location" class="porter">
            <% if fan_signed_in? && current_fan.fan_profile.location.present? %>
              <%= current_fan.fan_profile.location.downcase %>
            <% else %>
              location
            <% end %>
          </div>
        </div>
      </div>

      <div class="niagara">
        <div class="highgate">
        <center>
          <div id="mpopular" class="porter lafayette">
            <strong>popular</strong>
          </div>
          <div id="mrecent" class="porter">
            <strong>recent</strong>
          </div>
          <div id="mlocation" class="porter">
            <strong>location</strong>
          </div>
        </center>
        </div>
      </div>

      <div id="container-popular" class="ferry">
        <% @venues.sort_by{ |venue| -venue.fans.count }.take(100).each do |venue| %>
          <div class="utica">
            <% if venue.venue_profile.cover_image.blank? %>
              <div class="sycamore">
                <% if venue_signed_in? && venue.id == current_venue.id %>
                  you do not have a profile image yet
                <% else %>
                  <%= "#{venue.venue_name} hasn't uploaded a profile image yet" %>
                <% end %>
              </div>
            <% else %>
              <div class="genesee">
                <img srcset="<%= venue.venue_profile.cover_image %>" width="100%" height="auto" />
              </div>
            <% end %>
              <div class="hertel">
                <center><%= link_to venue.venue_name, venue_path(venue) %></center>
              </div>
              <div class="hertel">
                <center><%= venue.venue_profile.location unless venue.venue_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= venue.id %>">
                <%= render "venues/partials/relationships/index_follower_count", :venue => venue %>
              </div>
            </div>

            <div class="index_follow_button_<%= venue.id %>">
              <%= render "venues/partials/relationships/index_follow_button", :venue => venue %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-recent" class="ferry colvin">
        <% @venues.order( 'id DESC' ).take(100).each do |venue| %>
          <div class="utica">
            <% if venue.venue_profile.cover_image.blank? %>
              <div class="sycamore">
                <% if venue_signed_in? && venue.id == current_venue.id %>
                  you do not have a profile image yet
                <% else %>
                  <%= "#{venue.venue_name} hasn't uploaded a profile image yet" %>
                <% end %>
              </div>
            <% else %>
              <div class="genesee">
                <img srcset="<%= venue.venue_profile.cover_image %>" width="100%" height="auto" />
              </div>
            <% end %>
              <div class="hertel">
                <center><%= link_to venue.venue_name, venue_path(venue) %></center>
              </div>
              <div class="hertel">
                <center><%= venue.venue_profile.location unless venue.venue_profile.location.blank? %></center>
              </div>
              <div class="hertel">
                <div class="index_follower_count_<%= venue.id %>">
                <%= render "venues/partials/relationships/index_follower_count", :venue => venue %>
              </div>
            </div>

            <div class="index_follow_button_<%= venue.id %>">
              <%= render "venues/partials/relationships/index_follow_button", :venue => venue %>
            </div>

          </div>
        <% end %>
      </div>

      <div id="container-location" class="ferry colvin">
        <% if fan_signed_in? && current_fan.fan_profile.location.present? %>
          <% @venues.each do |venue| %>
            <% if venue.venue_profile.location == current_fan.fan_profile.location %>
              <div class="utica">
                <% if venue.venue_profile.cover_image.blank? %>
                  <div class="sycamore">
                    <% if venue_signed_in? && venue.id == current_venue.id %>
                      you do not have a profile image yet
                    <% else %>
                      <%= "#{venue.venue_name} hasn't uploaded a profile image yet" %>
                    <% end %>
                  </div>
                <% else %>
                  <div class="genesee">
                    <img srcset="<%= venue.venue_profile.cover_image %>" width="100%" height="auto" />
                  </div>
                <% end %>
                  <div class="hertel">
                    <center><%= link_to venue.venue_name, venue_path(venue) %></center>
                  </div>
                  <div class="hertel">
                    <center><%= venue.venue_profile.location unless venue.venue_profile.location.blank? %></center>
                  </div>
                  <div class="hertel">
                <div class="index_follower_count_<%= venue.id %>">
                  <%= render "venues/partials/relationships/index_follower_count", :venue => venue %>
                </div>
              </div>

              <div class="index_follow_button_<%= venue.id %>">
                <%= render "venues/partials/relationships/index_follow_button", :venue => venue %>
              </div>

              </div>
            <% end %>
          <% end %>
        <% elsif fan_signed_in? && current_fan.fan_profile.location.blank? %>
          <div class="hertel">
            <center>Your location is blank! Go set it on <%= link_to "your profile", edit_fan_profile_path(current_fan) %>.</center>
          </div>
        <% else %>
          <div class="hertel">
            <center><%= link_to "sign in", new_fan_session_path %> to view venues based on location</center>
          </div>
        <% end %>
      </div>

    <% end %>
  </div>
</div>
<%= render "partials/uni_footer" %>
