<%= provide(:title, sanitize(@venue.venue_name)) %>
<div class="buffalo">
  <% if @venue.venue_profile.cover_image == "" %>
    <div class="clinton">
      <% if venue_signed_in? && @venue.id == current_venue.id %>
        you do not have a cover image yet. <%= link_to "add one?", edit_venue_profile_path(current_venue) %>
      <% else %>
        <%= "#{@venue.venue_name} hasn't uploaded a cover photo yet" %>
      <% end %>
    </div>
  <% else %>
    <div class="broadway">
      <img srcset="<%= @venue.venue_profile.cover_image %>" width="100%" height="auto" />
    </div>
  <% end %>
  <div class="delaware">

    <div class="main">
      <div class="hedley">
        <%= @venue.venue_name %>
      </div>

      <div id="following">
        <%= render 'venues/partials/relationships/following' %>
      </div>

      <% if @venue == current_venue %>
      <% else %>
      <div class="niagara">
        <div class="harlem">
        <div class="follow_button">
          <%= render 'venues/partials/relationships/follow_button' %>
        </div>
        </div>
      </div>
      <% end %>

      <% if @venue == current_venue %>
        <%= form_for(VenueMicropost.new, url: venue_microposts_path(@venue)) do |f| %>
          <div class="highgate">
            <%= f.text_area :content, placeholder: "what have you been up to?", class: "court" %>
          </div>
          <div class="ellicott">
            <%= f.submit "post update", class: "exchange" %>
          </div>
        <% end %>
      <% end %>

      <% if @venue.venue_microposts.any? %>
        <div class="harlem">
          <% @venue.venue_microposts.take(100).each do | micropost | %>
          <div class="harlem">
            <span class="winspear"><strong><%= link_to "#{@venue.venue_name}", venue_micropost_path(@venue, micropost) %></strong> posted <%= time_ago_in_words(micropost.created_at) %> ago</span>
                <% if @venue == current_venue %>
               // <%= link_to "delete post", venue_micropost_path(@venue, micropost), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete %></span>
                <% end %>
              <div class="winspear">
                <%= micropost.content %>
              </div>

              <div class="lisbon">

                <% if fan_signed_in? && current_fan.venue_micropost_voted?(micropost) %>
                  <%= button_to "−", venue_micropost_vote_path(micropost), method: :delete, class: "linwood" %>
                <% elsif artist_signed_in? && current_artist.venue_micropost_voted?(micropost) %>
                  <%= button_to "−", venue_micropost_vote_path(micropost), method: :delete, class: "linwood" %>
                <% elsif record_label_signed_in? && current_record_label.venue_micropost_voted?(micropost) %>
                  <%= button_to "−", venue_micropost_vote_path(micropost), method: :delete, class: "linwood" %>
                <% elsif venue_signed_in? && current_venue.venue_micropost_voted?(micropost) %>
                  <%= button_to "−", venue_micropost_vote_path(micropost), method: :delete, class: "linwood" %>
                <% elsif producer_signed_in? && current_producer.venue_micropost_voted?(micropost) %>
                  <%= button_to "−", venue_micropost_vote_path(micropost), method: :delete, class: "linwood" %>
                <% else %>
                  <%= form_for(VenueMicropostVote.new, url: venue_micropost_votes_path) do |f| %>
                    <%= hidden_field_tag :venue_micropost_id, micropost.id %>
                    <%= f.submit "+", class: "linwood" %>
                  <% end %>
                <% end %>


                <strong><%= micropost.venue_micropost_votes.count %></strong> // <a class="linden"><span class="comments_count_<%= micropost.id %>">
                  <%= render 'venues/partials/comments/index_comments_count', :micropost => micropost %>
                </span></a>
              </div>

              <div class="walden">
                <div class="minnesota">

                  <div class="comments_js_<%= micropost.id %>">
                    <%= render 'venues/partials/comments/index_comments', :micropost => micropost %>
                  </div>

                  <div class="comments_form_<%= micropost.id %>">
                    <%= render "venues/partials/comments/index_comments_form", :micropost => micropost %>
                  </div>

                </div>
              </div>

            </div>
          <% end %>
        </div>
      <% end %>

    </div>


    <div class="pearl">

      <% if @venue == current_venue %>
      <% else %>
      <div class="washington">
        <div class="lisbon">
        <div class="follow_button">
          <%= render 'venues/partials/relationships/follow_button' %>
        </div>
        </div>
      </div>
      <% end %>

      <div id="follower_count">
        <%= render 'venues/partials/relationships/follower_count' %>
      </div>

      <% if venue_signed_in? && @venue.id == current_venue.id && @venue.venue_profile.location == "" && @venue.venue_profile.founded == "" && @venue.venue_profile.biography == "" && @venue.venue_profile.facebook_url == "" && @venue.venue_profile.twitter_url == "" && @venue.venue_profile.youtube_url == "" && @venue.venue_profile.website == "" %>
        <p class="hertel">you do not have any profile information</p>
        <div class="jefferson">
          <%= link_to "update your profile", edit_venue_profile_path(current_venue) %>
        </div>
      <% elsif @venue.venue_profile.location == "" && @venue.venue_profile.founded == "" && @venue.venue_profile.biography == "" && @venue.venue_profile.facebook_url == "" && @venue.venue_profile.twitter_url == "" && @venue.venue_profile.youtube_url == "" && @venue.venue_profile.website %>
        <p class="hertel"><%= "#{@venue.venue_name} does not have any profile information yet" %></p>
      <% end %>
      <% if @venue.venue_profile.location == "" %>
      <% else %>
      <p class="jefferson">location //</p>
      <p class="fillmore"><%= @venue.venue_profile.location %></p>
      <% end %>
      <% if @venue.venue_profile.founded == "" %>
      <% else %>
      <p class="jefferson">founded //</p>
      <p class="fillmore"><%= @venue.venue_profile.founded %></p>
      <% end %>
      <% if @venue.venue_profile.biography == "" %>
      <% else %>
      <p class="jefferson">biography //</p>
      <p class="fillmore"><%= @venue.venue_profile.biography %></p>
      <% end %>
      <% if @venue.venue_profile.website == "" %>
      <% else %>
      <p class="fillmore"><%= link_to "Website", @venue.venue_profile.website %></p>
      <% end %>
      <% if @venue.venue_profile.facebook_url == "" %>
      <% else %>
      <p class="fillmore"><%= link_to "Facebook", @venue.venue_profile.facebook_url %></p>
      <% end %>
      <% if @venue.venue_profile.twitter_url == "" %>
      <% else %>
      <p class="fillmore"><%= link_to "Twitter", @venue.venue_profile.twitter_url %></p>
      <% end %>
      <% if @venue.venue_profile.youtube_url == "" %>
      <% else %>
      <p class="fillmore"><%= link_to "YouTube", @venue.venue_profile.youtube_url %></p>
      <% end %>
    </div>
  </div>
</div>
<%= render "partials/uni_footer" %>

<% if buffalo_signed_in? %>
  <div class="forest">
    <li><%= @venue.id %></li>
    <li><%= @venue.venue_name %></li>
    <li><%= @venue.username %></li>
    <li><%= @venue.email %></li>
    <li><%= @venue.sign_in_count %></li>
    <li><%= @venue.last_sign_in_at %></li>
  </div>
<% end %>
