<%= provide(:title, sanitize(@venue.venue_name)) %>
<div class="buffalo">

  <%= render 'venues/partials/venue_cover_image' %>

  <div class="delaware">

    <main class="main">

      <ul class="carolina">
        <li class="jersey"><%= link_to "timeline", venue_path(@venue) %></li>
        <li><%= link_to "shows", venue_shows_path(@venue) %></li>
      </ul>

      <div class="hedley">
        <%= @venue.venue_name %>
      </div>

      <div class="following sterling">
        <%= render 'venues/partials/relationships/following' %>
      </div>

      <div class="niagara">
        <div class="follower_count sterling">
          <%= render 'venues/partials/relationships/follower_count' %>
        </div>
      </div>

      <% unless @venue == current_venue %>
      <div class="niagara">
        <div class="highgate">
        <div class="follow_button">
          <%= render 'venues/partials/relationships/follow_button' %>
        </div>
        </div>
      </div>
      <% end %>

      <div class="microposts_form">
        <%= render 'venues/partials/microposts/microposts_form' %>
      </div>

      <div class="microposts_js">
        <%= render 'venues/partials/microposts/index_microposts' %>
      </div>

    </main>

    <%= render 'venues/partials/venue_sidebar' %>

  </div>
</div>
<%= render "partials/uni_footer" %>

<% if buffalo_signed_in? %>
  <div class="forest">
    <li><%= @venue.id %></li>
    <li><%= @venue.venue_name %></li>
    <li><%= @venue.username %></li>
    <li><%= @venue.email %></li>
    <li><%= @venue.sign_in_count %></li>
    <li><%= @venue.last_sign_in_at %></li>
  </div>
<% end %>
