<%= provide(:title, sanitize(@venue.venue_name)) %>
<div class="buffalo">
  <% if @venue.venue_profile.cover_image.blank? %>
    <div class="clinton">
      <% if venue_signed_in? && @venue.id == current_venue.id %>
        you do not have a cover image yet. <%= link_to "add one?", edit_venue_profile_path(current_venue) %>
      <% else %>
        <%= "#{@venue.venue_name} hasn't uploaded a cover photo yet" %>
      <% end %>
    </div>
  <% else %>
    <div class="broadway">
      <img srcset="<%= @venue.venue_profile.cover_image %>" width="100%" height="auto" />
    </div>
  <% end %>
  <div class="delaware">

    <div class="main">
      <div class="hedley">
        <%= @venue.venue_name %>
      </div>

      <div id="following">
        <%= render 'venues/partials/relationships/following' %>
      </div>

      <% if @venue == current_venue %>
      <% else %>
      <div class="niagara">
        <div class="harlem">
        <div class="follow_button">
          <%= render 'venues/partials/relationships/follow_button' %>
        </div>
        </div>
      </div>
      <% end %>

      <div class="microposts_form">
        <%= render 'venues/partials/microposts/microposts_form' %>
      </div>

      <div class="microposts_js">
        <%= render 'venues/partials/microposts/index_microposts' %>
      </div>

    </div>


    <div class="pearl">

      <% if @venue == current_venue %>
      <% else %>
      <div class="washington">
        <div class="lisbon">
        <div class="follow_button">
          <%= render 'venues/partials/relationships/follow_button' %>
        </div>
        </div>
      </div>
      <% end %>

      <div id="follower_count">
        <%= render 'venues/partials/relationships/follower_count' %>
      </div>

      <% if venue_signed_in? && @venue.id == current_venue.id && @venue.venue_profile.location.blank? && @venue.venue_profile.founded.blank? && @venue.venue_profile.biography.blank? && @venue.venue_profile.facebook_url.blank? && @venue.venue_profile.twitter_url.blank? && @venue.venue_profile.youtube_url.blank? && @venue.venue_profile.website.blank? %>
        <p class="hertel">you do not have any profile information</p>
        <div class="jefferson">
          <%= link_to "update your profile", edit_venue_profile_path(current_venue) %>
        </div>
      <% elsif @venue.venue_profile.location.blank? && @venue.venue_profile.founded.blank? && @venue.venue_profile.biography.blank? && @venue.venue_profile.facebook_url.blank? && @venue.venue_profile.twitter_url.blank? && @venue.venue_profile.youtube_url.blank? && @venue.venue_profile.website %>
        <p class="hertel"><%= "#{@venue.venue_name} does not have any profile information yet" %></p>
      <% end %>
      <% if @venue.venue_profile.location.blank? %>
      <% else %>
      <p class="jefferson">location //</p>
      <p class="fillmore"><%= @venue.venue_profile.location %></p>
      <% end %>
      <% if @venue.venue_profile.founded.blank? %>
      <% else %>
      <p class="jefferson">founded //</p>
      <p class="fillmore"><%= @venue.venue_profile.founded %></p>
      <% end %>
      <% if @venue.venue_profile.biography.blank? %>
      <% else %>
      <p class="jefferson">biography //</p>
      <p class="fillmore"><%= @venue.venue_profile.biography %></p>
      <% end %>
      <% if @venue.venue_profile.website.blank? %>
      <% else %>
      <p class="fillmore"><%= link_to "Website", @venue.venue_profile.website %></p>
      <% end %>
      <% if @venue.venue_profile.facebook_url.blank? %>
      <% else %>
      <p class="fillmore"><%= link_to "Facebook", @venue.venue_profile.facebook_url %></p>
      <% end %>
      <% if @venue.venue_profile.twitter_url.blank? %>
      <% else %>
      <p class="fillmore"><%= link_to "Twitter", @venue.venue_profile.twitter_url %></p>
      <% end %>
      <% if @venue.venue_profile.youtube_url.blank? %>
      <% else %>
      <p class="fillmore"><%= link_to "YouTube", @venue.venue_profile.youtube_url %></p>
      <% end %>
    </div>
  </div>
</div>
<%= render "partials/uni_footer" %>

<% if buffalo_signed_in? %>
  <div class="forest">
    <li><%= @venue.id %></li>
    <li><%= @venue.venue_name %></li>
    <li><%= @venue.username %></li>
    <li><%= @venue.email %></li>
    <li><%= @venue.sign_in_count %></li>
    <li><%= @venue.last_sign_in_at %></li>
  </div>
<% end %>
