<%= provide(:title, "#{@venue.venue_name}") %>
<div class="buffalo">
  <% if @venue.venue_profile.cover_image == "" %>
    <div class="clinton">
      <% if venue_signed_in? && @venue.id == current_venue.id %>
        you do not have a cover image yet. <%= link_to "add one?", edit_venue_profile_path(current_venue) %>
      <% else %>
        <%= "#{@venue.venue_name} hasn't uploaded a cover photo yet" %>
      <% end %>
    </div>
  <% else %>
    <div class="broadway">
      <img src="<%= @venue.venue_profile.cover_image %>" width="100%" height="auto" />
    </div>
  <% end %>
  <div class="delaware">

    <div class="main">
      <div class="hedley">
        <%= @venue.venue_name %>
      </div>

      <% if @venue == current_venue %>
      <% else %>
      <div class="niagara">
        <div class="harlem">
        <% if fan_signed_in? && current_fan.following_venue?(@venue) %>
          <%= button_to "unfollow", venue_relationship_path, method: :delete, class: "exchange" %>
        <% elsif fan_signed_in? %>
          <%= form_for(VenueRelationship.new, url: venue_relationships_path) do |f| %>
            <%= hidden_field_tag :venue_id, @venue.id %>
            <%= f.submit "follow", class: "exchange" %>
          <% end %>
        <% else %>
          <%= button_to "follow", fan_session_path, class: "exchange" %>
        <% end %>
        </div>
      </div>
      <% end %>

      <% if @venue == current_venue %>
        <%= form_for(VenueMicropost.new, url: venue_microposts_path(@venue)) do |f| %>
          <div class="highgate">
            <%= f.text_area :content, placeholder: "what have you been up to?", class: "court" %>
          </div>
          <div class="ellicott">
            <%= f.submit "post update", class: "exchange" %>
          </div>
        <% end %>
      <% end %>

      <% if @venue.venue_microposts.any? %>
        <div class="harlem">
          <% @venue.venue_microposts.each do | micropost | %>
          <div class="harlem">
            <span class="winspear"><strong><%= link_to "#{@venue.venue_name}", venue_micropost_path(@venue, micropost) %></strong> posted <%= time_ago_in_words(micropost.created_at) %> ago</span>
                <% if @venue == current_venue %>
               // <%= link_to "delete post", venue_micropost_path(@venue, micropost), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete %></span>
                <% end %>
              <div class="winspear">
                <%= micropost.content %>
              </div>

              <div class="lisbon">
                <a class="linden"><%= pluralize(micropost.venue_micropost_comments.count, "comment") %></a>
              </div>

              <div class="walden">
                <div class="minnesota">
                  <% micropost.venue_micropost_comments.each do |comment| %>
                  <div class="northrup">
                    <div class="winspear">
                       <%= link_to Artist.find(comment.artist_id).artist_name, artist_path(Artist.find(comment.artist_id)) if comment.fan_id.nil? && comment.record_label_id.nil? && comment.venue_id.nil? && comment.producer_id.nil? %><%= link_to Fan.find(comment.fan_id).fan_name, fan_path(Fan.find(comment.fan_id)) if comment.artist_id.nil? && comment.record_label_id.nil? && comment.venue_id.nil? && comment.producer_id.nil? %><%= link_to RecordLabel.find(comment.record_label_id).label_name, record_label_path(RecordLabel.find(comment.record_label_id)) if comment.artist_id.nil? && comment.fan_id.nil? && comment.venue_id.nil? && comment.producer_id.nil? %><%= link_to Venue.find(comment.venue_id).venue_name, venue_path(Venue.find(comment.venue_id)) if comment.artist_id.nil? && comment.fan_id.nil? && comment.record_label_id.nil? && comment.producer_id.nil? %><%= link_to Producer.find(comment.producer_id).producer_name, producer_path(Producer.find(comment.producer_id)) if comment.artist_id.nil? && comment.fan_id.nil? && comment.record_label_id.nil? && comment.venue_id.nil? %> posted <%= time_ago_in_words(comment.created_at) %> ago
                      <% if @venue == current_venue || (artist_signed_in? && current_artist.id == comment.artist_id) || (fan_signed_in? && current_fan.id == comment.fan_id) || (record_label_signed_in? && current_record_label.id == comment.record_label_id) || (venue_signed_in? && current_venue.id == comment.venue_id) || (producer_signed_in? && current_producer.id == comment.producer_id) %>
                      // <%= link_to "delete comment", venue_micropost_comment_path(@venue, micropost, comment), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete %>
                      <% end %>
                    </div>

                    <div class="winspear">
                      <%= comment.content %>
                    </div>
                  </div>
                  <% end %>

                  <%= form_for(VenueMicropostComment.new, url: venue_micropost_comments_path(@venue, micropost)) do |f| %>
                    <div class="highgate">
                      <%= f.text_area :content, placeholder: "leave a comment", class: "court" %>
                    </div>
                    <div class="ellicott">
                      <%= f.submit "comment",  class: "exchange" %>
                    </div>
                  <% end %>

                </div>
              </div>

            </div>
          <% end %>
        </div>
      <% end %>

    </div>


    <div class="pearl">

      <% if @venue == current_venue %>
      <% else %>
      <div class="washington">
        <div class="lisbon">
        <% if fan_signed_in? && current_fan.following_venue?(@venue) %>
          <%= button_to "unfollow", venue_relationship_path, method: :delete, class: "exchange" %>
        <% elsif fan_signed_in? %>
          <%= form_for(VenueRelationship.new, url: venue_relationships_path) do |f| %>
            <%= hidden_field_tag :venue_id, @venue.id %>
            <%= f.submit "follow", class: "exchange" %>
          <% end %>
        <% else %>
          <%= button_to "follow", fan_session_path, class: "exchange" %>
        <% end %>
        </div>
      </div>
      <% end %>

      <% if @venue.fans.any? %>
        <div class="amherst">
          <strong><%= link_to pluralize(@venue.fans.count, "fan"), venue_followers_path(@venue) %></strong>
        </div>
      <% else %>
        <div class="amherst">
          <strong>0 fans</strong>
        </div>
      <% end %>

      <% if venue_signed_in? && @venue.id == current_venue.id && @venue.venue_profile.location == "" && @venue.venue_profile.founded == "" && @venue.venue_profile.biography == "" && @venue.venue_profile.facebook_url == "" && @venue.venue_profile.twitter_url == "" && @venue.venue_profile.youtube_url == "" && @venue.venue_profile.website == "" %>
        <p class="hertel">you do not have any profile information</p>
        <div class="jefferson">
          <%= link_to "update your profile", edit_venue_profile_path(current_venue) %>
        </div>
      <% elsif @venue.venue_profile.location == "" && @venue.venue_profile.founded == "" && @venue.venue_profile.biography == "" && @venue.venue_profile.facebook_url == "" && @venue.venue_profile.twitter_url == "" && @venue.venue_profile.youtube_url == "" && @venue.venue_profile.website %>
        <p class="hertel"><%= "#{@venue.venue_name} does not have any profile information yet" %></p>
      <% end %>
      <% if @venue.venue_profile.location == "" %>
      <% else %>
      <p class="jefferson">location //</p>
      <p class="fillmore"><%= @venue.venue_profile.location %></p>
      <% end %>
      <% if @venue.venue_profile.founded == "" %>
      <% else %>
      <p class="jefferson">founded //</p>
      <p class="fillmore"><%= @venue.venue_profile.founded %></p>
      <% end %>
      <% if @venue.venue_profile.biography == "" %>
      <% else %>
      <p class="jefferson">biography //</p>
      <p class="fillmore"><%= @venue.venue_profile.biography %></p>
      <% end %>
      <% if @venue.venue_profile.website == "" %>
      <% else %>
      <p class="fillmore"><%= link_to "Website", @venue.venue_profile.website %></p>
      <% end %>
      <% if @venue.venue_profile.facebook_url == "" %>
      <% else %>
      <p class="fillmore"><%= link_to "Facebook", @venue.venue_profile.facebook_url %></p>
      <% end %>
      <% if @venue.venue_profile.twitter_url == "" %>
      <% else %>
      <p class="fillmore"><%= link_to "Twitter", @venue.venue_profile.twitter_url %></p>
      <% end %>
      <% if @venue.venue_profile.youtube_url == "" %>
      <% else %>
      <p class="fillmore"><%= link_to "YouTube", @venue.venue_profile.youtube_url %></p>
      <% end %>
    </div>
  </div>
</div>
<%= render "partials/uni_footer" %>

<% if buffalo_signed_in? %>
  <div class="forest">
    <li><%= @venue.id %></li>
    <li><%= @venue.venue_name %></li>
    <li><%= @venue.username %></li>
    <li><%= @venue.email %></li>
    <li><%= @venue.sign_in_count %></li>
    <li><%= @venue.last_sign_in_at %></li>
  </div>
<% end %>
