<%= provide(:title, "Change Your Password | Noisaea //") %>
<%= render 'partials/uni_header' %>
<div class="buffalo">
  <div class="delaware">
    <div class="elmwood">
      <div class="harlem">
        <h1>change your password</h1>
      </div>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="highgate">
          <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "new password", class: "huron"  %>
        </div>

        <div class="highgate">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "confirm your password", class: "huron"  %>
        </div>

        <div class="ellicott">
          <%= f.submit "change my password", class: "exchange" %>
        </div>
      <% end %>
      <div class="virginia">
        <%= render "recordlabels/shared/links" %>
      </div>
    </div>
  </div>
</div>
<%= render 'partials/uni_footer' %>
