<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <link rel="apple-touch-startup-image" href="/assets//apple-touch-startup-image.png" media="(orientation:portrait)" />
    <link rel="apple-touch-startup-image" href="/assets//apple-touch-startup-image.png" media="(orientation:landscape)" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,700' rel='stylesheet' type='text/css'>
    <%= render 'partials/shim' %>
    <%= render 'partials/analytics' %>
    <%= render 'partials/themes' %>
  </head>
  <body>

    <div class="flash_js">
      <%= render 'partials/flash' %>
    </div>

    <% if artist_signed_in? %>
      <%= render "artists/partials/artist_header" %>
    <% elsif fan_signed_in? %>
      <%= render "fans/partials/fan_header" %>
    <% elsif record_label_signed_in? %>
      <%= render "recordlabels/partials/record_label_header" %>
    <% elsif venue_signed_in? %>
      <%= render 'venues/partials/venue_header' %>
    <% elsif producer_signed_in? %>
      <%= render 'producers/partials/producer_header' %>
    <% end %>

    <%= yield %>

  </body>
</html>
